.modal-primary,
.modal-info,
.modal-success,
.modal-warning,
.modal-danger {
  .modal-header {
    color: #fff;
    border-radius: 5px 5px 0 0;
  }
}

.modal-primary .modal-header {
  background: $primary;
}

.modal-info .modal-header {
  background: $info;
}

.modal-success .modal-header {
  background: $success;
}

.modal-warning .modal-header {
  background: $warning;
}

.modal-danger .modal-header {
  background: $danger;
}

.modal-content {
  border-radius: 0;
}

@include media-breakpoint-up(sm) {
  .modal-dialog {
    max-width: 380px !important;
  }
  .modal-md {
    max-width: 500px !important;
  }
  .modal-lg {
    max-width: 500px !important;
  }
}

@include media-breakpoint-up(lg) {
  .modal-md {
    max-width: 575px !important;
  }
  .modal-lg {
    max-width: 800px !important;
  }
}

.modal-content .close-button {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
  z-index: 1100;
  font-size: 30px;
}

.modal-auto-width {
  max-width: fit-content !important;
}
