<div class="modal-header d-block">
  <i class="fa fa-close close-button" ng-click="vm.cancelModal()"></i>
  <h5 class="modal-title text-center mt-4" id="modal-title">Termos de uso e política de privacidade</h5>
</div>

<div class="modal-body" id="modal-body">

  <p class="text-content">
    A Associação dos Ex-alunos do Instituto Militar de Engenharia (“Alumni IME”) estabelece nestes Termos de Uso e
    Política de Privacidade as condições para utilização do site www.alumniime.com.br e serviços da Alumni IME por meio
    das quais o Usuário poderá acessar os serviços e conteúdos disponibilizados pela Alumni IME, de forma a esclarecer
    as obrigações e responsabilidades de seus Usuários.
  </p>
  <p class="text-content">
    A Alumni IME poderá estabelecer Termos de Uso e Políticas de Privacidade específicas e aplicáveis a determinado
    serviço, que complementará e/ou prevalecerá sobre estes Termos de Uso e Política de Privacidade.
  </p>

  <p class="text-content">
    <span class="font-weight-bold">
      1. DEFINIÇÕES:
    </span>
    Para os fins destes Termos de Uso e Política de Privacidade, consideram-se:
    <br>
    1.1. Endereço de Protocolo de Internet (Endereço IP): o código atribuído a um Terminal de uma rede para permitir sua
    identificação, definido segundo parâmetros internacionais.
    <br>
    1.2. Internet: o sistema constituído do conjunto de protocolos lógicos, estruturado em escala mundial para uso
    público e irrestrito, com a finalidade de possibilitar a comunicação de dados entre terminais por meio de diferentes
    redes.
    <br>
    1.3. Senha: conjunto de caracteres que podem ser constituídos por letras e/ou números, com a finalidade de verificar
    a identidade do Usuário para acesso ao Site e/ou Serviço.
    <br>
    1.4. Sites e/ou Serviços: sites e serviços da Alumni IME por meio dos quais o Usuário acessa os serviços e conteúdos
    disponibilizados pela Alumni IME.
    <br>
    1.5. Terminais (ou “Terminal”, quando individualmente considerado): computadores, notebooks, netbooks, smartphones,
    tablets, palm tops e quaisquer outros dispositivos que se conectem à Internet.
    <br>
    1.6. Usuários (ou “Usuário”, quando individualmente considerado): todas as pessoas físicas que utilizarão os Sites
    e/ou Serviços.
  </p>

  <p class="text-content">
    <span class="font-weight-bold">2. ACEITE DOS TERMOS DE USO E POLÍTICA DE PRIVACIDADE: Ao acessar os Sites e/ou Serviços, o Usuário concorda e aceita integralmente as disposições destes Termos de Uso e Política de Privacidade.</span>
  </p>

  <p class="text-content">
    <span class="font-weight-bold">
      3. ACESSO:
    </span>
    Os Sites e/ou Serviços podem possuir tanto áreas de conteúdo aberto como de conteúdo e/ou serviços restritos. Para
    que o Usuário acesse conteúdo e/ou serviços restritos, será necessário realizar cadastro no Site, mediante a criação
    de um perfil com login e Senha, e o fornecimento de todos ou alguns dados pessoais de cadastro, tais como: nome
    completo, e-mail e telefone (“Dados de Cadastro”). Outros Dados de Cadastro para identificação do Usuário e/ou
    acesso ao Site e/ou Serviço poderão ser solicitados, caso sejam necessários para a identificação do Usuário e/ou
    para acesso do Usuário ao conteúdo e/ou serviços restritos.
    3.1. O Usuário se responsabiliza pela precisão e veracidade dos dados informados e reconhece que a inconsistência
    destes poderá implicar a impossibilidade de acessar o Site e/ou utilizar a Serviço.
    <br>
    3.2. O Usuário assume inteira responsabilidade pela guarda, sigilo e boa utilização do login e senha cadastrados,
    isentando a Alumni IME de qualquer responsabilidade.
    <br>
    3.3. O login e Senha só poderão ser utilizados pelo Usuário cadastrado, sendo expressamente proibido o
    compartilhamento de login e/ou Senha com quaisquer terceiros.
    <br>
    3.4. O Usuário poderá, a qualquer momento, excluir sua conta no Site e/ou Serviço, ficando ressalvada a guarda pela
    Alumni IME das informações e/ou dados cuja manutenção seja a ela imposta em razão de obrigações legais e/ou
    regulatórias ou, ainda, cuja a manutenção seja necessária para cumprimento de ordem judicial, no âmbito de processos
    judiciais e/ou administrativos e questionamento de terceiros decorrentes das atividades desempenhadas pelo Usuário
    no Site e/ou Serviço.
    <br>
    3.5. O acesso ao conteúdo restrito fica sujeito à aprovação cadastral do usuário como ex-aluno graduado pelo
    Instituto Militar de Engenharia.
  </p>

  <p class="text-content">
    <span class="font-weight-bold">
      4. PRIVACIDADE
    </span>
    <br>
    4.1. INFORMAÇÕES DOS USUÁRIOS:
    <br>
    4.1.1. Existem 02 (duas) formas de coleta de informações dos Usuários (“Informações”): (i) por meio do cadastro
    realizado pelo próprio Usuário no Site e/ou Serviço, conforme item 3 e subitens acima (“Dados de Cadastro”); e (ii)
    por meio do uso de cookies ou de outra tecnologia que permita armazenar informações a respeito da navegação do
    Usuário no Site e/ou Serviço (“Registros de Navegação”).
    <br>
    <span class="font-weight-bold">
      O Usuário está ciente e concorda com a coleta, armazenamento, tratamento, processamento e uso das Informações enviadas e/ou transmitidas pelo Usuário nos termos estabelecidos nestes Termos de Uso e Política de Privacidade.
    </span>
    <br>
    4.1.2. As Informações dos Usuários são coletadas, armazenadas, tratadas, processadas e utilizadas pela Alumni IME
    com as seguintes finalidades:
    <br>
    (i) possibilitar o acesso e o uso dos recursos e funcionalidades do Site e/ou Serviço pelos Usuários;
    <br>
    (ii) desenvolver, manter e aperfeiçoar os recursos e funcionalidades do Site e/ou Serviço;
    <br>
    (iii) analisar o desempenho do Site e/ou Serviço, medir a audiência do Site e/ou Serviço, verificar os hábitos de
    navegação dos Usuários no Site e/ou Serviço, a forma pela qual chegaram na página do Site e/ou Serviço (por exemplo,
    através de links de outros sites, buscadores ou diretamente pelo endereço), avaliar estatísticas relacionadas ao
    número de acessos e uso do Site e/ou Serviço, seus recursos e funcionalidades;
    <br>
    (iv) análises relacionadas à segurança do Site e/ou Serviço, aperfeiçoamento e desenvolvimento de ferramentas
    antifraude;
    <br>
    (v) melhorar as experiências de navegação dos Usuários no Site e/ou Serviço;
    <br>
    (vi) permitir o fornecimento de serviços mais personalizados e adequados às necessidades dos Usuários, tais como
    páginas personalizadas e com conteúdos mais relevantes;
    <br>
    (vii) permitir a comunicação entre os Usuários e a Alumni IME, inclusive mediante o envio e recebimento de e-mails;
    <br>
    4.1.3. A Alumni IME preserva a privacidade dos Usuários e não compartilha seus dados e informações com terceiros,
    salvo mediante consentimento do próprio Usuário, por força de lei ou ordem judicial.
    <br>
    4.1.4. A Alumni IME toma medidas para proteger as informações identificáveis dos Usuários contra perda, mau uso,
    acesso não autorizado, divulgação, alteração ou destruição.
    <br>
    4.1.5. A Alumni IME restringe o acesso das informações dos usuários aos associados da Alumni IME, ex-alunos
    graduados no Instituto Militar de Engenharia, que poderão utilizar as informações apenas com a finalidade de
    facilitar o contato entre os ex-alunos.
  </p>

  <p class="text-content">
    <span class="font-weight-bold">
      5. COOKIES
    </span>
    <br>
    5.1. Os cookies são pequenos arquivos que podem ou não ser adicionados no seu Terminal e que permitem armazenar e
    reconhecer dados da sua navegação.
    <br>
    5.2. Em sua navegação no Site e/ou Serviço, poderão ser utilizados 03 (três) tipos de cookies:
    <br>
    (i) Cookies de Autenticação: servem para reconhecer um determinado Usuário, possibilitando o acesso e utilização do
    Site e/ou Solução com conteúdo e/ou serviços restritos e proporcionando experiências de navegação mais
    personalizadas.
    <br>
    (ii) Cookies de Segurança: são utilizados para ativar recursos de segurança dos Sites e/ou Soluções, com a
    finalidade de auxiliar o monitoramento e/ou detecção de atividades maliciosas ou vedadas por estes Termos de Uso e
    Política de Privacidade, bem como de proteger as informações do Usuário do acesso por terceiros não autorizados.
    <br>
    (iii) Cookies de Pesquisa, Análise e Desempenho: a finalidade deste tipo de cookie é ajudar a entender o desempenho
    do Site e/ou Solução, medir a audiência do Site e/ou Solução, verificar os hábitos de navegação dos Usuários no Site
    e/ou Solução, bem como a forma pela qual chegou na página do Site e/ou Solução (por exemplo, através de links de
    outros sites, buscadores ou diretamente pelo endereço).
    <br>
    5.3. Para os fins descritos no item 5.2., a Alumni IME poderá coletar, armazenar, tratar, processar e utilizar as
    seguintes informações a respeito da navegação do Usuário no Site e/ou Serviço, que integram os “Registros de
    Navegação”:
    <br>
    (i) Localização geográfica;
    <br>
    (ii) Sistema operacional utilizado pelo Usuário;
    <br>
    (iii) Navegador e suas respectivas versões;
    <br>
    (iv) Resolução de tela;
    <br>
    (v) Java (linguagem de programação);
    <br>
    (vi) Reprodutor de flash instalado;
    <br>
    (vii) Endereço IP;
    <br>
    (viii) Código ID (IMEI) do aparelho mobile pelo qual o Usuário acessou o Site e/ou Solução;
    <br>
    (ix) Informações referentes à data e hora de uso do Site e/ou Solução por um determinado Usuário, a partir de um
    determinado Endereço IP;
    <br>
    (x) Informações referentes às quantidades de cliques e tentativas de uso do Site e/ou Solução, bem como de páginas
    acessadas pelo Usuário.
    <br>
    <span class="font-weight-bold">
      5.4. O Usuário poderá desabilitar os cookies por meio das opções de configuração do seu respectivo navegador. Contudo, ao decidir pela proibição dos cookies, o Usuário está ciente e reconhece que é possível que o Site e/ou Serviço não desempenhe todas as suas funcionalidades.
    </span>
  </p>

  <p class="text-content">
    <span class="font-weight-bold">
      6. LINKS DE TERCEIROS
    </span>
    <br>
    6.1. Os Sites e/ou Serviços poderão conter links para website(s) de terceiros. O Usuário está ciente e concorda que
    a existência desses links não constitui endosso ou patrocínio de website(s) de terceiros e reconhece estar sujeito
    aos termos de uso e políticas de privacidade do(s) website(s) respectivo(s).
  </p>

  <p class="text-content">
    <span class="font-weight-bold">
      7. VIOLAÇÕES:
    </span>
    O Usuário não poderá praticar as seguintes ações em razão ou por meio da utilização do Site e/ou Serviço:
    <br>
    (i) prática de quaisquer atos ilícitos e/ou violação da legislação vigente;
    <br>
    (ii) atos contrários à moral e aos bons costumes;
    <br>
    (iii) atos que causem ou propiciem a contaminação ou prejudiquem quaisquer equipamentos da Alumni IME e/ou de
    terceiros, inclusive por meio de vírus, trojans, malware, worm, bot, backdoor, spyware, rootkit, ou por quaisquer
    outros dispositivos que venham a ser criados;
    <br>
    (iv) praticar quaisquer atos que direta ou indiretamente, no todo ou em parte, possam causar prejuízo à Alumni IME,
    a qualquer Usuário e/ou a quaisquer terceiros;
  </p>

  <p class="text-content">
    <span class="font-weight-bold">
      8. RESPONSABILIDADES:
    </span>
    O Usuário é exclusivamente responsável:
    <br>
    (i) por todos e quaisquer atos ou omissões por ele realizados a partir de seu acesso à Internet, ao Site e/ou
    Serviço;
    <br>
    (ii) por todo e qualquer conteúdo por ele carregado, enviado e/ou transmitido ao Site e/ou Serviço;
    <br>
    (iii) pela reparação de todos e quaisquer danos, diretos ou indiretos (inclusive decorrentes de violação de
    quaisquer direitos de outros usuários, de terceiros, inclusive direitos de propriedade intelectual, de sigilo e de
    personalidade), que sejam causados à Alumni IME, a qualquer outro Usuário, ou, ainda, a qualquer terceiro, inclusive
    em virtude do descumprimento do disposto nestes Termos de Uso e Política de Privacidade ou de qualquer ato praticado
    a partir de seu acesso à Internet, ao Site e/ou Serviço.
    <br>
    8.1. Em nenhuma hipótese, a Alumni IME será responsável:
    <br>
    (i) por qualquer ato ou omissão realizado e/ou dano causado pelo Usuário decorrente do acesso ao Site e/ou Serviço;
    <br>
    (ii) pelo uso indevido do Site e/ou Serviço por qualquer Usuário ou terceiros e/ou pelos conteúdos carregados,
    enviados e/ou transmitido ao Site e/ou Serviço pelos Usuários;
    <br>
    (iii) por falhas, impossibilidades técnicas ou indisponibilidades do sistema em virtude de mal uso ou problemas
    técnicos nos terminais dos Usuários;
    <br>
    (iv) pela instalação no equipamento do Usuário ou de terceiros, de vírus, trojans, malware, worm, bot, backdoor,
    spyware, rootkit, ou de quaisquer outros dispositivos que venham a ser criados, em decorrência da navegação na
    Internet pelo Usuário.
    <br>
    8.2. O Usuário declara estar ciente de que todos e quaisquer conteúdos enviados e/ou transmitidos ao Site e/ou
    Serviço são de sua inteira responsabilidade.
    <br>
    8.3. Caso o Usuário descumpra qualquer disposição destes Termos de Uso e Política de Privacidade ou disposição
    legal, sem prejuízo de outras medidas, a Alumni IME poderá, por si ou por terceiros, a qualquer tempo, a seu
    exclusivo critério, sem necessidade de qualquer aviso ou notificação prévia ou posterior a qualquer Usuário ou a
    qualquer terceiro, sob qualquer meio ou forma, sem prejuízo de iniciar as medidas legais cabíveis, suspender ou
    limitar o acesso ao Site e/ou Serviço, encerrar a conta de qualquer Usuário e/ou tomar outras providências que
    entender necessárias para o cumprimento destes Termos de Uso e Política de Privacidade e para o bom funcionamento do
    Site e/ou Serviço, a qualquer tempo.
    <br>
    8.4. O Usuário poderá contatar a Alumni IME a qualquer momento para esclarecer dúvidas ou questões relacionadas a
    este TERMO DE USO E POLÍTICA DE PRIVACIDADE através do e-mail contato@alumniime.com.br.
  </p>

  <p class="text-content">
    <span class="font-weight-bold">
      9. PROPRIEDADE INTELECTUAL
    </span>
    <br>
    9.1. Pertencem à Alumni IME:
    <br>
    (i) todo e qualquer software, aplicativo ou funcionalidade empregado pela Alumni IME referentes ao Site e/ou
    Serviço;
    <br>
    (ii) a identidade visual do Site e/ou Serviço (incluindo o projeto de arte gráfico-visual de quaisquer de suas
    páginas);
    <br>
    (iii) o nome empresarial, marca, nome de domínio, slogan ou expressão de propaganda ou qualquer sinal distintivo de
    sua titularidade inserido no Site; e
    <br>
    (iv) todo e qualquer conteúdo criado e produzido pela Alumni IME, por si ou por terceiros, os quais não poderão ser
    usados sem prévio consentimento, sob qualquer meio ou forma, pelos Usuários.
  </p>

  <p class="text-content">
    <span class="font-weight-bold">
      10. TOLERÂNCIA:
    </span>
    A tolerância quanto ao eventual descumprimento de quaisquer das disposições destes Termos de Uso e Política de
    Privacidade por qualquer Usuário não constituirá renúncia ao direito de exigir o cumprimento da obrigação, nem
    perdão, nem alteração do que consta aqui previsto.
  </p>

  <p class="text-content">
    <span class="font-weight-bold">
      11. LEGISLAÇÃO E FORO:
    </span>
    Estes Termos de Uso e Política de Privacidade são regidos de acordo com a legislação brasileira. Quaisquer disputas
    ou controvérsias oriundas de quaisquer atos praticados no âmbito da utilização dos Sites e/ou Serviços pelos
    Usuários, inclusive com relação ao descumprimento dos Termos de Uso e Política de Privacidade ou pela violação dos
    direitos da Alumni IME, de outros Usuários e/ou de terceiros, inclusive direitos de propriedade intelectual, de
    sigilo e de personalidade, serão processadas na Comarca da Capital do Estado do Rio de Janeiro.
  </p>

  <br>
</div>

