<div class="container adminDonationsView">

  <div class="row justify-content-between">
    <div class="col-auto">
      <h5 class="page-title pt-2 pb-2 pb-md-0">Contribuições <br class="d-block d-sm-none"> </h5>
    </div>
    <div class="col-auto px-1">
      <div class="form-group">
        <select class="form-control" id="PaymentMethod" name="PaymentMethod"
                ng-model="admin.searchPaymentMethod">
          <option value="">Meio Pagto</option>
          <option value="Transferência">Transferência</option>
          <option value="Crédito">Crédito</option>
          <option value="Boleto">Boleto</option>
        </select>
      </div>      
    </div>
    <!-- <div class="col-auto px-1">
      <div class="form-group">
        <select class="form-control" id="Date" name="Date"
                ng-model="admin.searchDate">
          <option value="">Data</option>
          <option value="Aprovada">Aprovada</option>
          <option value="Estornada">Estornada</option>
          <option value="Pendente">Pendente</option>
        </select>
      </div>      
    </div> -->
    <div class="col-auto px-1">
      <div class="form-group">
        <select class="form-control" id="Status" name="Status"
                ng-model="admin.searchStatus">
          <option value="">Status</option>
          <option value="Aprovada">Aprovada</option>
          <option value="Estornada">Estornada</option>
          <option value="Pendente">Pendente</option>
        </select>
      </div>      
    </div>
    <div class="col-auto">
      <div class="form-group">
        <input type="text" name="name" placeholder="Pesquisar..." class="form-control input-search" 
               ng-model="admin.searchName">
      </div>      
    </div>
    <div class="col-auto pb-2">
      <a href="#" class="btn btn-danger mb-2" ng-click="admin.editDonation()">Cadastrar Contribuição</a>
    </div>
  </div>

  <table class="table table-striped table-hover table-fixed table-responsive-md table-sm">
    <thead>
    <tr>
      <th scope="col" ng-click="admin.orderBy('donations', 'DonationId')">#</th>
      <th scope="col" ng-click="admin.orderBy('donations', 'Name')">Nome</th>
      <th scope="col" ng-click="admin.orderBy('donations', 'ProjectId')">Projeto</th>
      <th scope="col" ng-click="admin.orderBy('donations', 'PaymentMethod')">Meio Pagto</th>
      <th scope="col" ng-click="admin.orderBy('donations', 'transferReceipt')"></th>
      <th scope="col" ng-click="admin.orderBy('donations', 'DonationDate')">Data</th>
      <th scope="col" ng-click="admin.orderBy('donations', 'ValueInCents')">Valor</th>
      <th scope="col" ng-click="admin.orderBy('donations', 'Status')">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="donation in admin.donations | orderBy: admin.order.donations | filter: {Name: admin.searchName, PaymentMethod: admin.searchPaymentMethod, Status: admin.searchStatus}" class="c-pointer" ng-click="admin.editDonation(donation.DonationId)">
      <th scope="row">{{donation.DonationId}}</th>
      <td>{{donation.Name}}</td>
      <td class="text-limit">{{donation.Type === 'general' ? 'Geral' : donation.project.ProjectName}}</td> 
      <td>
        {{donation.PaymentMethod}}
      </td>
      <td>
        <a ng-if="donation.transferReceipt" href="{{donation.transferReceipt.Path}}" target="_blank" class="text-dark text-center d-block">
          <i class="fa fa-external-link-square" uib-tooltip="Comprovante" tooltip-placement="right"></i>
        </a>
      </td>
      <td>{{donation.DonationDate | date: 'dd/MM/yyyy'}}</td>
      <td>{{donation.ValueInCents/100 | number: 2}}</td>
      <td>{{donation.Status}}</td>
    </tr>
    </tbody>
  </table>
  
</div>
