modal-login {

  .modal-header {
    border-bottom: none;
    padding-bottom: 0;
  }

  .logo {
    max-height: 100px;
    margin-bottom: 10px;
    display: inherit;
  }

  .modal-title {
    font-weight: 700;
  }

  .btn {
    display: inherit;
    font-family: "Roboto", "Merriweather Sans", -apple-system, sans-serif;
    font-weight: 600;
    font-size: 14px;
    height: 45px;
    padding-top: 11px;
  }

  .btn-google {
    background-color: #ffffff;
    border-radius: 5px;
    color: rgba(0,0,0,0.54);
    font-weight: 500;
    border: 1px solid #ced4da;
  }

  .btn-google img {
    width: 18px;
    height: 18px;
    transform: translateY(-2px);
    margin-right: 10px;
  }

  .btn-google:hover {
    color: rgba(0,0,0,0.54);
    border-color: rgba(0,0,0,0.54);
  }

  .btn-google:active {
    color: rgba(0,0,0,0.54) !important;
    border: 1px solid rgba(0,0,0,0.54) !important;
  }

  .btn-google:focus {
    color: rgba(0,0,0,0.54) !important;
    box-shadow: 0 0 0 .2rem rgba(0,0,0,0.3) !important;
  }

  .btn-google:visited {
    color: rgba(0,0,0,0.54) !important;
    box-shadow: 0 0 0 .2rem rgba(0,0,0,0.3) !important;
  }

  .btn-facebook {
    background-color: #4267B2;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    border: 1px solid #4267B2;
  }

  .btn-facebook img {
    width: 22px;
    height: 22px;
    transform: translateY(-1px);
    margin-right: 10px;
  }

  .btn-facebook:hover {
    background-color: #365899;
    border-color: #365899;
    color:  #ffffff;
  }

  .btn-facebook:active {
    background-color: #29487d !important;
    color: #ffffff !important;
    border: 1px solid #29487d !important;
  }

  .btn-facebook:focus {
    box-shadow: 0 0 1px 2px rgba(88, 144, 255, .75), 0 1px 1px rgba(0, 0, 0, .15) !important;
  }

  .btn-facebook:visited {
    box-shadow: 0 0 1px 2px rgba(88, 144, 255, .75), 0 1px 1px rgba(0, 0, 0, .15) !important;
  }

  .btn-linkedin {
    background-color: #0077B5;
    border-radius: 5px;
  }

  .btn-linkedin:active {
    background-color: #066093;
  }

  .btn-linkedin:hover {
    background-color: #0369A0;
  }

  .btn-linkedin i {
    font-size: 20px;
    margin-right: 10px;
    //width: 36px;
    //height: 25px;
    //background-color: #0077B5;
  }

  .btn-login {
    background-color: #E84E0F;
    border-radius: 30px;
    border-color: #E84E0F;
    //margin-top: 40px;
  }

  .btn-login:hover, .btn-login.active {
    background-color: rgb(199, 66, 14);
    border-color: rgb(199, 66, 14);
  }

  @include media-breakpoint-up(lg) {
    .btn {
      width: 80%;
      min-width: 320px;
    }
  }

  @include media-breakpoint-down(md) {
    .btn {
      width: 95%;
      min-width: 0;
    }
  }

  span {
    font-size: 16px;
    color: #828282;
    text-align: center;
  }

  .line-hr {
    width: 56px;
    height: 5px;
    margin-top: 10px;
    border-bottom: 1px solid #bdbdbd;
  }

  ::-webkit-input-placeholder {
    font-style: italic;
    color: #828282;
  }

  form input::placeholder, form textarea::placeholder {
    font-style: italic;
    color: #828282;
  }

  form input {
    padding: 15px 20px !important;
  }

  .help-block {
    font-size: 12px;
    color: #E84E0F;
  }

  .forget-password {
    font-size: 13px;
    padding-top: 0;
    padding-bottom: 10px;
    width: auto;
  }

  .description {
    padding: 20px 0 15px;
    font-size: 14px;
    color: #828282;
    display: inherit;
    text-align: center;
  }

  .imgContainer{
    display: flex;

    .imgBank{
      width: 100%;
      align-self: center;
      flex: 0 0 auto;
    }
  }

  .bankDiv{
    padding-left: 0;
    font-size: 1rem;

    .bank-data{
      font-size: 0.85rem;
    }
  }

  .btn-disabled{
    opacity: .65;
  }
}
