<div class="modal-header d-block">
  <div class="w-100">
    <img src="assets/images/logo.png" class="logo mx-auto my-2">
  </div>
  <i class="fa fa-close close-button" ng-click="vm.cancelModal()"></i>
  <!-- <h6 class="modal-title text-center" id="modal-title">Faça agora seu login</h6> -->
</div>

<div class="modal-body" id="modal-body">

  <a class="btn btn-primary m-auto btn-linkedin" href="#" ng-click="vm.loginOauth('linkedin')">
    <i class="fa fa-linkedin"></i>
    ENTRAR COM O LINKEDIN
  </a>
  <br>

  <a class="btn m-auto btn-google row" href="#" ng-click="vm.loginOauth('google')">
    <img src="../../../assets/images/g-logo.svg" />
    ENTRAR COM O GOOGLE
  </a>
  <br>
  
  <a class="btn m-auto btn-facebook row btn-disable" 
    href="#" ng-click="vm.loginOauth('facebook')" 
    uib-tooltip="Login com FB temporariamente indisponível" tooltip-placement="bottom"
  >
    <img src="../../../assets/images/f-logo.png" />
    CONTINUAR COM O FACEBOOK
  </a>
  <br>

  <div class="row justify-content-center">
    <div class="line-hr"></div>
    <span class="mr-3 ml-3">ou</span>
    <div class="line-hr"></div>
  </div>
  <br>

  <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

    <div class="form-group">
      <input type="email" name="email" placeholder="Email" class="form-control" ng-model="vm.user.email" required>
    </div>

    <div class="form-group">
      <input type="password" name="password" placeholder="Senha" class="form-control" ng-model="vm.user.password"
             required>
    </div>

    <div class="form-group has-error">
      <p class="help-block" ng-show="(form.email.$error.required || form.password.$error.required) && vm.submitted">
        Por favor, insira o email e a senha.
      </p>
      <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
        Por favor, insira um email válido.
      </p>
      <p class="help-block">
        {{ vm.errors.login }}
        <a href="#" ng-click="vm.registerUser()" ng-if="vm.confirmEmailToken"
           class="text-dark font-weight-bold mt-2 d-block"> Completar cadastro</a>
        <a href="#" ng-click="vm.sendEmailAgain()" ng-if="vm.PersonId"
           class="text-dark font-weight-bold mt-2 d-block"> Reenviar email de confirmação</a>
      </p>
    </div>

    <div class="d-flex justify-content-end">
      <a href="#" class="btn btn-link text-dark text-right forget-password d-inline"
         ng-click="vm.openForgot()">Esqueceu a senha?</a>
    </div>

    <button href="#" class="btn btn-danger m-auto btn-login" type="submit">
      ACESSAR
    </button>

    <span class="description m-auto">
      Ainda não possui conta?
      <a href="#" ng-click="vm.callSignup()" class="btn btn-link text-dark d-inline pl-1">Cadastre-se</a>
    </span>
  </form>

  <div class="row" ng-if="false">
    <div class="imgContainer col-3">
      <img class="imgBank" src="../../../assets/images/itau.png" />
    </div>
    <div class="bankDiv col-9">
      Nome <span class="bank-data">ASSOC EX AL INST MILIT ENG</span>
      <br>
      Banco <span class="bank-data">Itaú</span>
      <br>
      Agência <span class="bank-data">0413</span>
      <br>
      Conta corrente <span class="bank-data">03888-6</span>
      <br>
      CNPJ <span class="bank-data">19.335.957/0001-17</span>
    </div>
  </div>

</div>
