<div class="modal-body photoView" id="modal-body">
  <i class="fa fa-close close-button text-white" ng-click="vm.cancelModal()"></i>
  <div id="carouselAlumniPhoto" class="carousel" data-pause="true">
    <div class="carousel-inner">
      <div class="carousel-item img-background" ng-repeat="image in vm.images"
           ng-class="{active: $index === vm.index}">
        <img ng-src="{{image.Path}}">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselAlumniPhoto" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselAlumniPhoto" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
</div>

