<div class="container showView">
  <h5 class="page-title">Aprovados 2018.1</h5>

  <div class="card-deck project-deck">

    <div class="col-12 col-md-6 col-lg-4 pl-0 pr-4" ng-repeat="project in vm.Project.list">
      <a class="card project-card mb-3" ui-sref="project">
        <div class="card-img-top" ng-if="project.images[0].Path" >
          <img ng-src="{{project.images[0].Path}}" alt="{{project.ProjectName}}">
        </div>
        <div class="card-body">
          <div class="form-group">
            <h5 class="card-title">{{project.ProjectName}}</h5>
            <label>por {{project.TeamName}}</label>
          </div>

          <div class="form-group">
            <label>ARRECADADO</label>
            <div class="row">
              <div class="col-8">
                <input type="text" class="form-control-plaintext pb-0" readonly value="R$ 5.000,00">
              </div>
              <div class="col-4">
                <input type="text" class="form-control-plaintext-right" readonly value="33%">
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                   style="width: 33%;">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>LÍDER DO PROJETO</label>
            <input type="text" class="form-control-plaintext" readonly ng-value="project.leader.name">
          </div>
          <div class="form-group">
            <label>PROFESSOR RESPONSÁVEL</label>
            <input type="text" class="form-control-plaintext" readonly ng-value="project.professor.name">
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
