.showView{
  padding: 40px 20px 60px;
  h1 {
    font-size: 36px;
    font-weight: 700;
  }

  h4 {
    font-weight: 700;
  }

  h5{
    margin-bottom: 0;
    color: #333333;
  }

  .legend{
    font-size: 16px;
  }

  .page-title{
    color: #333333 !important;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 25px !important;
  }

  li {
    margin-right: 30px;
    margin-bottom: 10px;
    border-bottom: 1px #828282 solid;
    .nav-link {
      padding: 12px 20px;
      font-size: 20px;
      font-weight: 300;
      color: #333 !important;
    }
  }

  li:hover, li.active {
    margin-bottom: 8px;
    border-bottom: 3px #0097f6 solid;
    .nav-link {
      font-weight: 700;
      color: #0097f6 !important;
    }
  }

  .btn {
    display: inherit;
    font-weight: 600;
    font-size: 14px;
    height: 45px;
    border-radius: 30px;
    min-width: 200px;
    padding-top: 10px;
  }

.card-columns {
    column-count: 2;
    @include media-breakpoint-down(sm) {
      column-count: 1;
    }
  }

  .form-group{
    margin-bottom: 10px;
  }

  .form-group label {
    font-size: 10px;
    margin-left: 0;
    color: #828282;
    margin-bottom: 0;
  }

  .form-control-plaintext {
    padding-top: 0;
    font-size: 14px;
    padding-bottom: 0;
  }
  .form-control-plaintext-right {
    padding-top: 0;
    font-size: 14px;
    text-align: right;
    float: right;
    border: none;
    background: transparent;
    padding-bottom: 0;
  }

  .card-title {
    font-weight: 700;
  }
.project-deck{
  box-sizing: content-box;
}
  .project-card {
    border: none;
    background-color: #fafafa !important;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    .card-title {
      font-size: 18px;
      color: #333333 Solid;
    }

    .card-link{
      font-family: "Roboto", "Merriweather Sans", -apple-system, sans-serif;
      font-weight: 600;
      font-size: 14px;
      padding-top: 12px;
    }
  }

  .project-card:hover{
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3) !important;
  }


.progress {
    background: #FAFAFA; 
    border: 1px solid #BDBDBD; 
    border-radius: 25px; 
    height: 12px;
}
.progress-bar-custom {
    background: #6FCF97;
}

}