<div class="container showView">
  <h5 class="page-title">Aprovados 2018.1</h5>

  <div class="card-deck project-deck">

    <div class="col-12 col-md-6 col-lg-4 pl-0 pr-0 pr-md-4" ng-repeat="project in vm.Project.list">
      <a class="card project-card mb-3 c-pointer"
           ui-sref="project({ProjectId: project.ProjectId, PrettyURL: vm.Util.convertToSlug(project.ProjectName), preview: false, forceReload: false})">
        <div class="card-img-top" ng-if="project.images[0].Path">
          <img ng-src="{{project.images[0].Path}}" alt="{{project.ProjectName}}">
        </div>
        <div class="card-body">
          <div class="form-group">
            <h5 class="card-title">{{project.ProjectName}}</h5>
            <label>por {{project.TeamName}}</label>
          </div>

          <div class="form-group">
            <label>ARRECADADO</label>
            <div class="row">
              <div class="col-8">
                <input type="text" class="form-control-plaintext pb-0" readonly
                       value="{{project.CollectedPriceInCents/100 | currency}}">
              </div>
              <div class="col-4">
                <input type="text" class="form-control-plaintext-right" readonly
                       value="{{100*project.CollectedPriceInCents/project.EstimatedPriceInCents | number: 0}}%">
              </div>
            </div>
            <div class="progress mt-2">
              <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                   style="width: {{project.CollectedPriceInCents/project.EstimatedPriceInCents*100}}%;">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>LÍDER DO PROJETO</label>
            <input type="text" class="form-control-plaintext" readonly ng-value="project.leader.name">
          </div>
          <div class="form-group">
            <label>PROFESSOR RESPONSÁVEL</label>
            <input type="text" class="form-control-plaintext" readonly ng-value="project.professor.name">
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
