<div class="modal-header d-block">
  <div class="w-100">
    <img src="assets/images/confirmation.svg" class="m-auto">
  </div>
  <i class="fa fa-close close-button" ng-click="vm.cancelModal()"></i>
  <h5 class="modal-title text-center mt-4" id="modal-title">Cadastro finalizado!</h5>
</div>

<div class="modal-body" id="modal-body">
  <span class="description m-auto">
      Muito obrigado por fazer parte da nossa rede de apoio.
  </span>
  <br>
  <button class="btn btn-outline-info m-auto btn-signup" ng-click="vm.callLogin()">
    CONTINUAR LOGIN
  </button>
  <br>
</div>

