<div class="mainView">
  <div id="carouselAlumni" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselAlumni" data-slide-to="0" class="active"></li>
      <li data-target="#carouselAlumni" data-slide-to="1"></li>
      <li data-target="#carouselAlumni" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item img-background bg-shadow active"
           style="background-image: url('../assets/images/meeting.jpg')">
        <div class="carousel-caption">
          <h1>4º Encontro Anual da <br>Alumni IME </h1>
          <h5>Save the date: será realizado em 11 de Agosto de 2018, dia do 226º aniversário do Instituto Militar de
            Engenharia. Em breve, mais detalhes.</h5>
          <a class="nav-link btn btn-outline-light" href="/news/view/20/4-encontro-anual-da-alumni-ime">SAIBA MAIS</a>
        </div>
      </div>
      <div class="carousel-item img-background bg-shadow"
           style="background-image: url('../assets/images/ime-building.jpg')">
        <div class="carousel-caption">
          <h1>Associação dos
            <br> ex-alunos do Instituto
            <br>Militar de Engenharia
          </h1>
          <h5>Apoiando o IME e a comunidade IMEana. Agora com novo portal e com novo projeto para ajudar nos projetos de
            alunos e professores do Instituto.</h5>
          <a class="nav-link btn btn-outline-light" ui-sref="history">SAIBA MAIS</a>
        </div>
      </div>
      <div class="carousel-item img-background bg-shadow"
           style="background-image: url('../assets/images/management.jpg')">
        <div class="carousel-caption">
          <h1>São mais de 4,5 mil <br> graduados no IME</h1>
          <h5>Ajude a aumentar a quantidade de ex-alunos cadastrados na plataforma da Alumni IME.</h5>
          <a class="nav-link btn btn-outline-light" ng-if="vm.isLoggedIn()" ui-sref="institutional">SAIBA MAIS</a>
          <a class="nav-link btn btn-outline-light" ng-if="!vm.isLoggedIn()" href="#" ng-click="vm.Modal.openLogin()">CADASTRE-SE</a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselAlumni" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselAlumni" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>

  <div class="description-block">
    <div class="container">

      <div class="description-titles">
        <h2>Contribua para a Alumni IME e apoie diversos projetos</h2>
        <h6>A sua contribuição é muito importante para manter a associação e os projetos funcionando.</h6>
      </div>

      <div class="row align-items-center">
        <div class="col-xs-12 col-sm-auto">
          <a class="nav-link btn btn-outline-light" href="projects">CONHEÇA OS PROJETOS</a>
          <br class="d-block d-sm-none">
        </div>
        <div class="col-xs-12 col-sm-auto">
          <a class="nav-link btn btn-light" href="support">APOIE</a>
        </div>
      </div>
    </div>
  </div>

  <div class="news-projects">
    <div class="container">
      <div class="row">
        <div class="col-md-4 projects order-md-last">
          <a class="project-group c-pointer" ng-repeat="project in vm.Project.list | orderBy: '-Views' | limitTo: 3"
             ui-sref="project({ProjectId: project.ProjectId, PrettyURL: vm.Util.convertToSlug(project.ProjectName), preview: false, forceReload: false})">
            <img class="rounded mx-auto d-block" alt="{{project.ProjectName}}" ng-src="{{project.images[0].Path}}">
            <h5 class="project-title">{{project.ProjectName}}</h5>
            <h6 class="team-name">por {{project.TeamName}}</h6>
          </a>
        </div>
        <div class="col-md-8 news pr-md-5">
          <h4>Principais notícias</h4>
          <hr class="divider">

          <h5 ng-repeat-start="news in vm.News.list | orderBy: '-PublishDate' | limitTo: 5">
            <a href="#" class="text-dark"
               ui-sref="view({NewsId: news.NewsId, PrettyURL: vm.Util.convertToSlug(news.Title), forceReload: false})">
              {{news.Title}}
            </a>
          </h5>
          <h6>{{news.Subtitle}}</h6>
          <p class="date">
            {{news.PublishDate | date: 'dd MMM, yyyy'}}
          </p>
          <hr class="divider" ng-repeat-end>

          <br>
          <a class="btn btn-link text-dark" ui-sref="news">VEJA MAIS</a>
        </div>
      </div>
    </div>
  </div>
</div>
