<div class="container viewView">
    <div class="row justify-content-between">
        <div class="col-12 col-md-7 col-lg-7">

            <div class="page-date">18 Jul, 2018</div>
            <div class="form-group">
                <h5 class="page-title">Lorem ipsum dolor sit amet, consectetur adipisicing dolor </h5>
                <label>Subtítulo da notícia aqui, com poucos caracteres (a definir).</label>
            </div>

            <div class="text-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique mi et iaculis cursus. Nullam vehicula libero in leo elementum, in placerat arcu mollis. Aenean sodales ultrices libero ut viverra. Curabitur quis nisl pulvinar, vestibulum lacus at, pharetra felis. Morbi congue eros sed dolor eleifend dictum. Aliquam sed tellus sit amet tortor tristique bibendum bibendum imperdiet nisl. Sed pulvinar ex id nisi imperdiet interdum at vel felis. Nulla facilisi. Vestibulum at porttitor enim, vitae feugiat nibh. Ut tempus eros dui, ultricies blandit risus dapibus et.
                <br><br> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas condimentum sagittis arcu eu elementum. Nullam eget eros urna. Integer laoreet ligula ac luctus varius. Donec rhoncus fermentum massa, a eleifend lorem imperdiet eget. Aliquam nisi nisl, ullamcorper varius rhoncus ac, egestas non magna. Proin placerat libero at ipsum laoreet egestas. Vivamus id nisi tortor. Nullam in nibh nunc. In vehicula egestas erat, et rutrum nibh aliquet sed. Cras rhoncus mi nibh, vitae molestie nibh vestibulum vel. In iaculis lectus non ligula auctor cursus vitae sit amet ligula.
                <br><br> Morbi dictum ut nisi sed sagittis. Ut fermentum, enim a convallis blandit, erat libero posuere neque, sit amet tincidunt justo dui eget nisi. Proin interdum neque non mi fringilla luctus. Nunc nulla libero, luctus eu nunc vel, condimentum pharetra sapien. Phasellus eu lorem velit. Fusce egestas fermentum varius. Donec vehicula aliquet enim, vitae vestibulum libero malesuada sed. Fusce mattis velit mauris, non varius justo dictum eget. Nunc vitae erat varius odio iaculis faucibus id eu purus. Suspendisse rhoncus ornare felis, sed pellentesque nunc vestibulum a. Donec et velit purus. Pellentesque fermentum arcu fringilla, euismod lorem luctus, semper augue. Nam mauris lorem, ullamcorper ut vulputate vitae, luctus at lacus.
            </div>

            <div class="col-12 carousel-block">
                <div id="carouselAlumni" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselAlumni" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselAlumni" data-slide-to="1"></li>
                        <li data-target="#carouselAlumni" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item img-background active"
                            style="background-image: url('../assets/images/ime-building.jpg')">
                        </div>
                        <div class="carousel-item img-background" 
                            style="background-image: url('../assets/images/ime-building.jpg')">
                        </div>
                        <div class="carousel-item img-background" 
                            style="background-image: url('../assets/images/ime-building.jpg')">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselAlumni" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselAlumni" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Próximo</span>
                    </a>
                </div>
            </div>

            <div class="text-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique mi et iaculis cursus. Nullam vehicula libero in leo elementum, in placerat arcu mollis. Aenean sodales ultrices libero ut viverra. Curabitur quis nisl pulvinar, vestibulum lacus at, pharetra felis. Morbi congue eros sed dolor eleifend dictum. Aliquam sed tellus sit amet tortor tristique bibendum bibendum imperdiet nisl. Sed pulvinar ex id nisi imperdiet interdum at vel felis. Nulla facilisi. Vestibulum at porttitor enim, vitae feugiat nibh. Ut tempus eros dui, ultricies blandit risus dapibus et.
            </div>

            <div class="col-12 col-md-10 blockquote">
                <p>Proin pretium arcu dui, ac placerat turpis auctor in. Aenean eget tempus elit. In vitae ante magna. Sed maximus lectus ut nisi commodo sagittis. Integer a venenatis odio, at pellentesque tortor. Aenean dapibus
                </p>
            </div>

            <div class="text-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique mi et iaculis cursus. Nullam vehicula libero in leo elementum, in placerat arcu mollis. Aenean sodales ultrices libero ut viverra. Curabitur quis nisl pulvinar, vestibulum lacus at, pharetra felis. Morbi congue eros sed dolor eleifend dictum. Aliquam sed tellus sit amet tortor tristique bibendum bibendum imperdiet nisl. Sed pulvinar ex id nisi imperdiet interdum at vel felis. Nulla facilisi. Vestibulum at porttitor enim, vitae feugiat nibh. Ut tempus eros dui, ultricies blandit risus dapibus et.
            </div>
        </div>

        <div class="d-none d-md-block col-md-5 col-lg-4 project-block-stick">
            <div class="card news-card mb-3">
                <div class="card-body">
                    <div class="card-title">Projetos em destaque</div>
      
                    <a class="project-group" href="main">
                        <img src="http://www.ime.eb.br/images/stories/SE4/SE4.3.jpg" style="width: 100%;" alt="Card image cap">
                        <h5 class="project-title">IME++ na China</h5>
                        <div class="leader">Por IME++</div>
                    </a>

                    <a class="project-group" href="main">
                        <img src="http://www.ime.eb.br/images/stories/SE4/SE4.3.jpg" style="width: 100%;" alt="Card image cap">
                        <h5 class="project-title">IME++ na China</h5>
                        <div class="leader">Por IME++</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="d-md-none col-12 project-block">
            <div class="card news-card mb-3">
                <div class="card-body">
                    <div class="card-title">Projetos em destaque</div>

                    <a class="project-group" href="main">
                        <img src="http://www.ime.eb.br/images/stories/SE4/SE4.3.jpg" style="width: 100%;" alt="Card image cap">
                        <h5 class="project-title">IME++ na China</h5>
                        <div class="leader">Por IME++</div>
                    </a>

                    <a class="project-group" href="main">
                        <img src="http://www.ime.eb.br/images/stories/SE4/SE4.3.jpg" style="width: 100%;" alt="Card image cap">
                        <h5 class="project-title">IME++ na China</h5>
                        <div class="leader">Por IME++</div>
                    </a>
                </div>
            </div>
        </div>

        <!-- <div class="col-8 col-md-4 col-lg-3" style="margin: 30px;"></div>             -->
    </div>
</div>

<div class="viewFooter">
    <div class="container">
        <div class="row justify-content-center footerRow">
            <div class="card-deck news-deck">
                <a class="col-12 col-sm-4 card news-card mb-3" href="news/view">
                    <img src="http://www.ime.eb.br/images/stories/SE4/SE4.3.jpg" style="width: 100%;" alt="Card image cap">
                    <div class="card-body" style="padding: 0; padding-top: 15px">
                        <div class="form-group">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing dolor</h5>
                            <label>Subtítulo da notícia aqui, com poucos caracteres (a definir).</label>
                            <newsDate>18 Jul, 2018</newsDate>
                        </div>
                    </div>
                </a>
                <a class="col-12 col-sm-4 card news-card mb-3" href="news/view">
                    <img src="http://www.ime.eb.br/images/stories/SE4/SE4.3.jpg" style="width: 100%;" alt="Card image cap">
                    <div class="card-body" style="padding: 0; padding-top: 15px">
                        <div class="form-group">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing dolor</h5>
                            <label>Subtítulo da notícia aqui, com poucos caracteres (a definir).</label>
                            <newsDate>18 Jul, 2018</newsDate>
                        </div>
                    </div>
                </a>
                <a class="col-12 col-sm-4 card news-card mb-3" href="news/view">
                    <img src="http://www.ime.eb.br/images/stories/SE4/SE4.3.jpg" style="width: 100%;" alt="Card image cap">
                    <div class="card-body" style="padding: 0; padding-top: 15px">
                        <div class="form-group">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing dolor</h5>
                            <label>Subtítulo da notícia aqui, com poucos caracteres (a definir).</label>
                            <newsDate>18 Jul, 2018</newsDate>
                        </div>
                    </div>
                </a>   
            </div>
        </div>
    </div>
</div>
  