<div class="container graduatesProfileView">

  <!-- Show profile -->
  <div class="row p-0">
    <div class="col-auto">
      <img class="profile-photo pb-2" ng-src="{{vm.user.ImageURL || 'assets/images/profile.svg'}}"
           alt="{{vm.user.name}}">
    </div>
    <div class="col-auto">
      <h1>{{vm.user.name}}</h1>
      <p class="legend"
         ng-if="vm.user.personType.Description === 'FormerStudent' || vm.user.personType.Description === 'Student' || vm.user.personType.Description === 'DropStudent'">
        {{vm.user.Headline}}
        <br>
        {{vm.user.engineering.Description}} | {{vm.user.personType.PortugueseDescription | lowercase}}
        <br>
        Formatura {{vm.user.GraduationYear}}
      </p>
      <p class="legend" ng-if="vm.user.personType.Description === 'Professor'">
        {{vm.user.Headline}}
        <br>
        {{vm.user.se.Description}} | {{vm.user.personType.PortugueseDescription | lowercase}}
      </p>
      <p class="legend" ng-if="vm.user.personType.Description === 'Visitor'">
        {{vm.user.Headline}}
        <br>
        {{vm.user.personType.PortugueseDescription}}
      </p>
      <p class="legend" ng-if="vm.user.personType.Description === 'FormerStudentAndProfessor'">
        {{vm.user.Headline}}
        <br>
        {{vm.user.se.Description}}
        <br>
        {{vm.user.engineering.Description}} | {{vm.user.personType.PortugueseDescription | lowercase}}
        <br>
        Formatura {{vm.user.GraduationYear}}
      </p>

      <a class="text-dark c-pointer font-weight-bold" target="_blank"
           href="{{vm.user.LinkedinProfileURL}}" ng-if="vm.user.LinkedinProfileURL">Acessar Linkedin</a>

    </div>
  </div>

  <div class="row">

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label for="emailShow">EMAIL</label>
        <!-- <input type="text" id="emailShow" name="email" class="form-control-plaintext" readonly
               ng-model="vm.user.email"> -->
        <p class="form-control-plaintext">{{vm.user.email}}</p>
      </div>
      <!-- <div class="form-group">
        <label for="BirthdateShow">DATA DE NASCIMENTO</label>
        <input type="text" id="BirthdateShow" name="Birthdate" class="form-control-plaintext" readonly
               value="{{vm.user.Birthdate| date:'dd/MM/yyyy'}}">
      </div> -->
      <div class="form-group">
        <label for="PhoneShow">TELEFONE</label>
        <!-- <input type="text" id="PhoneShow" name="Phone" class="form-control-plaintext" readonly
                ng-model="vm.user.Phone" ng-if="vm.user.Phone.indexOf('+55') === -1" ng-intl-tel-input> -->
        <!-- <input type="text" id="PhoneShow" name="Phone" class="form-control-plaintext" readonly
                ng-model="vm.user.Phone" ng-if="vm.user.Phone.indexOf('+55') > -1" mask="+99 (99) 9?9999-9999" ng-intl-tel-input> -->

        <p class="form-control-plaintext">{{vm.user.Phone}}</p>

      </div>
      <div class="form-group">
        <label for="LocationShow">LOCALIZAÇÃO</label>
        <!-- <input type="text" id="LocationShow" name="Location" class="form-control-plaintext" readonly
               ng-value="vm.locationName"> -->
        
        <p class="form-control-plaintext">{{vm.locationName}}</p>

      </div>
      <div class="form-group mb-0" ng-if="vm.concatenateInitiativeLinks()">
        <label for="InitiativesShow">
          {{vm.user.personType.Description === 'FormerStudent' ? 'TEVE ' : 'TEM (OU TEVE)'}}
          LIGAÇÃO COM ALGUMA INICIATIVA OU PROJETO?</label>
        <!-- <input type="text" id="InitiativesShow" name="Initiatives" class="form-control-plaintext" readonly
               ng-value="vm.concatenateInitiativeLinks()"> -->
        <p class="form-control-plaintext">{{vm.concatenateInitiativeLinks()}}</p>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <!--
      <div class="form-group">
        <label for="GenreShow">GÊNERO</label>
        <input type="text" id="GenreShow" name="Genre" class="form-control-plaintext" readonly
               value="{{vm.user.Genre === 'M' ? 'Masculino' :  (vm.user.Genre === 'F' ? 'Feminino' : 'Outro')}}">
      </div>
      -->
      <div class="form-group">
        <label for="LevelType">MEIO DE ATUAÇÃO</label>
        <!-- <input type="text" id="LevelType" name="LevelType" class="form-control-plaintext" readonly
               ng-if="vm.user.positions[0].level.Type === 'civil'"
               value="Civil">
        <input type="text" name="LevelType" class="form-control-plaintext" readonly
               ng-if="vm.user.positions[0].level.Type === 'military'"
               value="Militar"> -->

        <p class="form-control-plaintext" ng-if="vm.user.positions[0].level.Type === 'civil'">Civil</p>
        <p class="form-control-plaintext" ng-if="vm.user.positions[0].level.Type === 'military'">Militar</p>
               
      </div>
      <div class="form-group">
        <label for="Position">CARGO ATUAL</label>
        <!-- <input type="text" id="Position" name="Position" class="form-control-plaintext" readonly
               ng-value="vm.user.positions[0].Title"> -->

        <p class="form-control-plaintext">{{vm.user.positions[0].Title}}</p>
      
      </div>
      <div class="form-group">
        <label for="Level" ng-if="vm.user.positions[0].level.Type === 'civil'">NÍVEL DO CARGO</label>
        <label for="Level" ng-if="vm.user.positions[0].level.Type === 'military'">PATENTE</label>
        <!-- <input type="text" id="Level" name="Level" class="form-control-plaintext" readonly
               ng-value="vm.user.positions[0].level.Description !== 'Outro' ? vm.user.positions[0].level.Description : vm.user.positions[0].LevelOther"> -->

        <p class="form-control-plaintext">{{vm.user.positions[0].level.Description !== 'Outro' ? vm.user.positions[0].level.Description : vm.user.positions[0].LevelOther}}</p>

      </div>
      <div class="form-group">
        <label for="Company">EMPRESA</label>
        <!-- <input type="text" id="Company" name="Company" class="form-control-plaintext" readonly
               ng-value="vm.user.positions[0].company.Name"> -->
        <p class="form-control-plaintext">{{vm.user.positions[0].company.Name}}</p>
      </div>
    </div>

  </div>
</div>
