<div class="container">
  <div class="row inf">
    <a ui-sref="main" class="col-md-2">
      <img class="logo mx-auto float-md-right" src="assets/images/logo.png">
    </a>
    <div class="col-md-6 info">
      <h6>Associação dos ex-alunos do Instituto Militar de Engenharia</h6>
      <p>Apoiando o IME e a comunidade IMEana.</p>
      <p class="copyrights d-md-block">
        &copy; {{$ctrl.year}} Alumni IME. Todos os direitos reservados.
        <br> CNPJ: 19.335.957/0001-17
      </p>
      <a class="policy" href="/assets/documents/Termos_de_Uso-AlumniIME.pdf" target="_blank">
        <p>Termos de Uso e Política de Privacidade</p>
      </a>
    </div>
    <div class="col-md-4">
      <h6>Acompanhe nosso trabalho:</h6>
      <div class="row">
        <a class="social" href="https://www.linkedin.com/company/alumniime" target="_blank">
          <i class="first fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a class="social" href="https://www.facebook.com/AlumniIME" target="_blank">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
        <a class="social" href="https://www.instagram.com/alumniime" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a class="social" href="https://www.youtube.com/c/AlumniIME/featured" target="_blank">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
