<div class="container">
  <div class="row justify-content-between">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <a ui-sref="main">
        <img class="logo mx-auto float-md-right" src="assets/images/logo.svg">
      </a>
    </div>
    <div class="col-md-4">
      <h6>Associação dos ex-alunos do Instituto Militar de Engenharia</h6>
      <p>Apoiando o IME e a comunidade IMEana.</p>
      <br>
      <p class="text-center">Acompanhe-nos
        <br class="d-none d-md-block d-lg-none">
        <a class="btn btn-light" href="https://www.facebook.com/AlumniIME" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="btn btn-light" href="https://www.linkedin.com/company/alumni-ime" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="btn btn-light" href="https://www.instagram.com/alumniime" target="_blank"
           style="font-size: 17px; padding-top: 0; padding-left: 5px;">
          <i class="fa fa-instagram"></i>
        </a>
      </p>
      <br>
      <p class="copyrights d-none d-md-block">
        &copy; {{$ctrl.year}} Alumini IME.
        <br> Todos os direitos reservados.
        <br> R. Arnaldo Quintela, 51 - Botafogo
        <br> Rio de Janeiro, RJ - Brasil
      </p>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <h5>Contato</h5>

      <form class="form" name="form" ng-submit="$ctrl.sendContactEmail(form)" novalidate="">
        <input type="text" id="name" name="name" required ng-model="$ctrl.name" placeholder="nome">
        <p class="help-block mb-2"
           ng-if="form.name.$error.required && $ctrl.submitted">
          Insira o seu nome, por favor.
        </p>
        <input type="email" name="email" id="email" required ng-model="$ctrl.email" placeholder="email">
        <p class="help-block mb-2"
           ng-if="(form.email.$error.email || form.email.$error.required) && $ctrl.submitted">
          Insira o seu email, por favor.
        </p>
        <textarea name="message" rows="5" id="message" required ng-model="$ctrl.message"
                  placeholder="mensagem"></textarea>
        <button href="#" type="submit" class="btn btn-light">ENVIAR</button>
        <p class="help-block" style="margin-top: -15px"
           ng-if="form.message.$error.required && $ctrl.submitted">
          Insira a sua mensagem, por favor.
        </p>
      </form>

      <p class="copyrights d-block d-md-none">
        &copy; {{$ctrl.year}} Alumini IME.
        <br> Todos os direitos reservados.
        <br> R. Arnaldo Quintela, 51 - Botafogo
        <br> Rio de Janeiro, RJ - Brasil
        <br><br>
      </p>

    </div>
  </div>
</div>
