<div class="container">
  <div class="row justify-content-between">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <a ui-sref="main">
        <img class="logo m-auto float-md-right" src="assets/images/facebook-icon.png">
      </a>
    </div>
    <div class="col-md-4">
      <h6>Associação dos ex-alunos do Instituto Militar de Engenharia</h6>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas urna dui, sagittis ut nunc et, venenatis
        faucibus sem.</p>
      <br>
      <p class="text-center">Acompanhe-nos
        <br class="d-none d-md-block d-lg-none">
        <a class="btn btn-light" href="https://www.facebook.com/AlumniIME/" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="btn btn-light" href="https://www.linkedin.com/company/alumni-ime" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="btn btn-light" href="https://twitter.com/alumniime" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </p>
      <br>
      <p class="copyrights d-none d-md-block">
        &copy; 2018 Alumini IME.
        <br> Todos os direitos reservados.
        <br> Rio de Janeiro, RJ - Brasil
      </p>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <h5>Contato</h5>
      <form action="">
        <input type="text" name="name" placeholder="nome">
        <input type="email" name="email" placeholder="email">
        <textarea name="" rows="5" placeholder="mensagem"></textarea>
        <button type="submit" class="btn btn-light">ENVIAR</button>

      </form>

      <p class="copyrights d-block d-md-none">
        &copy; 2018 Alumini IME.
        <br> Todos os direitos reservados.
        <br> Rio de Janeiro, RJ - Brasil
        <br><br>
      </p>

    </div>
    <!--<div class="col-md-1"></div>-->
  </div>
</div>
