footer {
  background-color: $primary;
  color: #F2F2F2;

  .container .row {
    align-items: center;
    justify-content: center;
  }

  .inf{
    padding: 3rem 0;
    @include media-breakpoint-down(sm) {
      padding: 2rem 0;
    }
  }

  .logo {
    max-width: 70%;
    display: -webkit-box;
    @include media-breakpoint-down(lg) {
      max-width: 80%;
    }
    @include media-breakpoint-down(md) {
      max-width: 120%;
    }
    @include media-breakpoint-down(sm) {
      max-width: 30%;
      margin-bottom: 2rem;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: solid 1px white;
    width: 90%;
    @include media-breakpoint-up(sm) {
      width: 100%;
    }
    @include media-breakpoint-down(sm) {
      border-right: none;
      border-bottom: solid 1px white;
      margin-bottom: 1rem;
      padding-bottom: calc(1rem - 10px);
    }
  }  

  h6 {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    margin-bottom: 3px;
    text-align: center;
  }

  p {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
  }

  .copyrights {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
  }

  .social{
    color: white;
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
    @include media-breakpoint-down(md) {
      margin: 0.5rem;
    }@include media-breakpoint-down(sm) {
      margin: 1rem;
      font-size: 3rem;
    }
  }

  .social:active{
    color: #dae0e5;
  }

  .contact{
    display: flex;
    color: white;
    align-items: center;
    font-size: 1.3rem;
    border-right: solid 1px white;
    height: 100%;
    border-radius: 0;
    padding-right: 2rem;
    font-weight: 100;
    i{
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .policy{
    color: white;
    cursor: pointer;
    p{
      font-size: 12px;
      font-weight: 600;
    }
  }

  .policy:hover{
    text-decoration: underline;
  }
}
