.viewView {
  padding: 40px 20px 60px;
  h1 {
    font-size: 36px;
    font-weight: 700;
  }

  h4 {
    font-weight: 700;
  }

  h5 {
    margin-bottom: 0;
    color: #333333;
  }

  .form-group {
    margin: 0;
  }

  .page-date {
    font-size: 12px;
    color: #828282;
  }

  .page-title {
    font-weight: bold;
    line-height: 35px;
    font-size: 34px;
    color: #333333;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .page-subtitle {
    font-size: 16px;
    color: #828282;
    margin: 0;
    padding-bottom: 30px;
  }

  .text-content {
    line-height: 23px;
    font-size: 14px;
    color: #333333;
    margin-bottom: 24px;
    text-align: justify;
  }

  .card-body {
    padding: 25px 25px 0 25px;
  }

  .project-group:hover {
    text-decoration: none;
    opacity: 0.9;
  }

  @include media-breakpoint-up(sm) {
    .project-block-sticky {
      position: sticky;
      top: 70px;
      padding: 25px;
      height: 20%;
    }
  }

  @include media-breakpoint-down(sm) {
    .project-block-sticky {
      margin-top: 20px;
      padding: 0;
    }
  }

  .news-card {
    border: none;
    border-radius: 0;
    background: #EEEEEE;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    .card-title {
      font-weight: 300;
      line-height: 28px;
      font-size: 22px;
      color: #333333;
      margin-bottom: 15px;
    }
  }

  .news-deck {
    box-sizing: content-box;
  }

  .project-group {
    margin: 0;
  }

  .project-group .project-title {
    font-weight: bold;
    line-height: 24px;
    font-size: 20px;
    color: #333333;
    padding-top: 13px;
    padding-bottom: 3px;
  }

  .project-group .team-name {
    font-size: 14px;
    color: #828282;
    padding-bottom: 15px;
  }

  .project-group img {
    max-height: 150px;
    display: flex;
  }

  .carousel-inner {
    //max-height: 500px;
  }

  .carousel-item, .carousel-item-left, .carousel-item-next {
    //top: -250px !important;
  }

  .carousel-item.img-background {
    height: 500px;
    background: no-repeat center 36%;
    background-size: cover;
    top: 0 !important;
  }

  @include media-breakpoint-down(sm) {
    .carousel-item.img-background {
      height: 400px;
    }
  }

  .carousel-indicators {
    bottom: 5%;
  }

  .carousel-block {
    padding: 0;
    margin-bottom: 25px;
  }

  .block-quote {
    border-left: 5px solid #E84E0F;
    border-radius: 0;
    background: #fafafa;
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .block-quote p {
    margin: 0;
    font-size: 17px;
    color: #333333;
  }
}

.view-footer {
  background-color: #E5E5E5;
  margin: 0;
  padding: 0;

  .footerRow {
    margin: 0;
    padding-top: 50px;
  }

  .news-deck {
    box-sizing: content-box;
  }

  .news-card {
    border: none;
    width: 100%;
    background: transparent;
    margin: 0;
    flex: none;

    @include media-breakpoint-up(md) {
      img {
        max-height: 196px;
        width: 100%;
      }
    }

    .card-title {
      font-weight: bold;
      line-height: 20px;
      font-size: 14px;
      color: #333333;
      margin-bottom: 3px;
    }
  }

  .news-card:hover {
    text-decoration: none;
    border-radius: 0px;
    opacity: 0.9;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .form-group label {
    font-size: 12px;
    margin-left: 0;
    color: #828282;
    margin-bottom: 0;
    line-height: 15px;
  }

  .form-group .news-date {
    font-size: 12px;
    color: #828282;
  }

}
