<div class="container newsView">
        
    <div class="row justify-content-between">
        <div class="col-auto">
            <h5 class="page-title">Notícias</h5>
        </div>
        <div class="col-auto">
            <div class="dropdown" style="float: right;">
                <button id="button" class="dropbtn" style="padding: 0; margin-top: 25px">Ver tudo</button>
                <i class="fa fa-angle-down" aria-hidden="true" style="color: #828282;"></i>
                <div id="dd" class="dropdown-content">
                    <a id="dd1" class="dropdown-item active" ng-click="vm.click = 'Ver tudo'; vm.id = 'dd1'; vm.dropdownChanged()" href="#">Ver tudo</a>
                    <a id="dd2" class="dropdown-item" ng-click="vm.click = 'Apenas Notícias'; vm.id = 'dd2'; vm.dropdownChanged()" href="#">Apenas Notícias</a>
                    <a id="dd3" class="dropdown-item" ng-click="vm.click = 'Apenas Eventos'; vm.id = 'dd3'; vm.dropdownChanged()" href="#">Apenas Eventos</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card-deck news-deck">
        <div class="col-12 col-sm-6 col-md-4" style="padding-left: 0 !important; padding-right: 20px;">
            <a class="card news-card mb-3" href="news/view">
                <img src="http://www.ime.eb.br/images/stories/SE4/SE4.3.jpg" style="width: 100%;" alt="Card image cap">
                <div class="card-body" style="padding: 0; padding-top: 15px">
                    <div class="form-group">
                        <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing dolor</h5>
                        <label>Subtítulo da notícia aqui, com poucos caracteres (a definir).</label>
                        <newsDate>18 Jul, 2018</newsDate>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4" style="padding-left: 0 !important; padding-right: 20px;">
            <a class="card news-card mb-3" href="news/view">
                <img src="http://www.ime.eb.br/images/stories/SE4/SE4.3.jpg" style="width: 100%;" alt="Card image cap">
                <div class="card-body" style="padding: 0; padding-top: 15px">
                    <div class="form-group">
                        <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing dolor</h5>
                        <label>Subtítulo da notícia aqui, com poucos caracteres (a definir).</label>
                        <newsDate>18 Jul, 2018</newsDate>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4" style="padding-left: 0 !important; padding-right: 20px;">
            <a class="card news-card mb-3" href="news/view">
                <img src="http://www.ime.eb.br/images/stories/SE4/SE4.3.jpg" style="width: 100%;" alt="Card image cap">
                <div class="card-body" style="padding: 0; padding-top: 15px">
                    <div class="form-group">
                        <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing dolor</h5>
                        <label>Subtítulo da notícia aqui, com poucos caracteres (a definir).</label>
                        <newsDate>18 Jul, 2018</newsDate>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4" style="padding-left: 0 !important; padding-right: 20px;">
            <a class="card news-card mb-3" href="news/view">
                <img src="http://www.ime.eb.br/images/stories/SE4/SE4.3.jpg" style="width: 100%;" alt="Card image cap">
                <div class="card-body" style="padding: 0; padding-top: 15px">
                    <div class="form-group">
                        <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing dolor</h5>
                        <label>Subtítulo da notícia aqui, com poucos caracteres (a definir).</label>
                        <newsDate>18 Jul, 2018</newsDate>
                    </div>
                </div>
            </a>
        </div>


    </div>


    <div class="center">
        <div class="pagination">
            <a class="fa fa-angle-left" aria-hidden="true" href="#" style="padding-top: 12px" ng-hide="vm.currPage == 1"></a>
            <a href="#">1</a>
            <a href="#" class="active">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a class="fa fa-angle-right" aria-hidden="true" href="#" style="padding-top: 12px" ng-hide="vm.currPage == vm.lastPage"></a>
        </div>
    </div>
   

</div>