modal-association {
    .modal-header {
        border-bottom: none;
        padding-bottom: 0;
    }
    
    .logo {
        max-height: 100px;
        margin-bottom: 10px;
        display: inherit;
    }

    #genderLabel{
        margin: 0;
    }

    .form-group {
        margin-bottom: 5px;
        text-align: center;
    }

    .phone{
        width: 100%;
        margin-bottom: 5px;
    }

    .intl-tel-input.allow-dropdown input, .intl-tel-input.allow-dropdown input[type="text"], .intl-tel-input.allow-dropdown input[type="tel"], .intl-tel-input.separate-dial-code input, .intl-tel-input.separate-dial-code input[type="text"], .intl-tel-input.separate-dial-code input[type="tel"] {
        padding-left: 8px;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #E84E0F !important;
    }

    .terms{
        font-size: 0.8rem;
        text-align: justify;
        margin-bottom: 5px;
    }

    .btn {
        display: inherit;
        font-family: "Roboto", "Merriweather Sans", -apple-system, sans-serif;
        font-weight: 600;
        font-size: 14px;
        height: 45px;
        padding-top: 11px;
      }

    .btn-connect {
        background-color: #E84E0F;
        border: #E84E0F;
        border-radius: 30px;
        width: 100%;
        margin-top: 5px !important;
    }
    
    .btn-connect:hover{
        background-color: rgb(199, 66, 14);
        border-radius: 30px;
        border: rgb(199, 66, 14);
    }
    
    .btn-connect:active{
        background-color: rgb(199, 66, 14) !important;
        border: rgb(199, 66, 14) !important;
    }
    
    .genderSelect{
        border: 1px solid #ced4da;
        background-color: transparent;
        border-radius: .25rem;
        padding: .375rem .51rem;
        height: calc(1.5em + .75rem + 2px);
        width: 100%;
        transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    }

    #genderLabel{
        color: #ced4da;
    }

    .help-block {
        margin-top: 10px;
        font-size: 12px;
        color: #E84E0F;
        text-align: center;
    }

}