modal-sent-confirmation {

  .modal-header {
    border-bottom: none;
    padding-bottom: 0;
  }

  .logo {
    max-height: 100px;
    margin-bottom: 10px;
    display: inherit;
  }

  .modal-title {
    font-weight: 700;
  }

  @include media-breakpoint-down(md) {
    .btn {
      width: 95%;
      min-width: 0;
    }
  }

  span {
    font-size: 16px;
    color: #828282;
    text-align: center;
  }

  .description {
    padding: 20px 0 15px;
    font-size: 14px;
    color: #828282;
    display: inherit;
    text-align: center;
    a {
      bottom: 1px;
      font-size: 14px;
      position: relative;
      padding-left: 0;
    }
  }

}
