.opportunitiesSearchView {
  h1 {
    font-size: 36px;
    font-weight: 700;
  }

  h4 {
    font-weight: 700;
  }

  h5.page-title {
    margin-bottom: 0;
    color: #333333;
    a {
      font-size: 16px;
      display: inline-block;
    }
  }

  .collapse-icon {
    font-size: 24px;
    text-decoration: none;
    i {
      font-weight: 600;
    }
  }

  .btn {
    display: inherit;
    font-weight: 600;
    font-size: 14px;
    height: 45px;
    border-radius: 30px;
    min-width: 200px;
    padding-top: 10px;
  }

  .form-group label {
    font-size: 11px;
    margin-left: 5px;
    white-space: nowrap;
    color: #828282;
  }

  form {
    padding-bottom: 10px;
  }

  form input, form select {
    height: 38px;
    border-radius: 0 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #bdbdbd;
  }

  ::-webkit-input-placeholder {
    font-style: italic;
    color: #828282;
  }

  form input::placeholder, form textarea::placeholder {
    font-style: italic;
    color: #828282;
  }

  form input {
    padding: 10px 20px !important;
  }

  .help-block {
    margin-top: 10px;
    font-size: 12px;
    color: #E84E0F;
  }

  .opportunity-date {
    font-size: 12px;
    color: #828282;
    margin-left: 5px;
  }

  .form-control-plaintext, h5 span {
    padding-top: 0;
    font-size: 14px;
    padding-bottom: 0;
    color: #4F4F4F;
    font-weight: 700;
  }

  .form-control-plaintext-right {
    padding-top: 0;
    font-size: 14px;
    text-align: right;
    float: right;
    border: none;
    background: transparent;
    padding-bottom: 0;
    color: #4F4F4F;
    font-weight: 700;
  }

  .page-title {
    font-weight: bold;
    line-height: 35px;
    font-size: 28px;
    color: #333333;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .year-link {
    font-weight: 700;
    text-align: right;
  }

  a.text-dark:hover, a.text-dark.active {
    color: #E84E0F !important;
  }

  .text-content {
    line-height: 23px;
    font-size: 14px;
    color: #333333;
    margin-bottom: 24px;
    text-align: justify;
  }

  table {
    font-size: 15px;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #E84E0F !important;
  }

  .opportunities-deck {
    box-sizing: content-box;
  }
  .opportunity-card {
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    border-radius: 3px;
    width: 100%;
    @include media-breakpoint-up(md) {
      img {
        max-height: 196px;
      }
    }

    .card-body {
      padding: 15px 25px 0 25px;

      img {
        width: 50%;
        max-width: 120px;
        margin-bottom: 5px;
      }
    }
  
    .card-title {
      font-weight: bold;
      line-height: 24px;
      font-size: 14px;
      color: #333333;
    }

    .card-link {
      font-family: "Roboto", "Merriweather Sans", -apple-system, sans-serif;
      font-weight: 600;
      font-size: 14px;
      padding-top: 12px;
    }
  }

  .opportunity-card:hover {
    text-decoration: none;
    border-radius: 0px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2)
  }

  .page-link {
    color: #333;
    padding: .6rem .9rem;
    border: none;
  }
  .page-item.active .page-link {
    background-color: #E84E0F;
    border-color: #E84E0F;
    color: #fff;
  }
  
}
