$icon-font-path: '/assets/fonts/bootstrap/';
//@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap/scss/bootstrap';
@import '~ng-img-crop/compile/minified/ng-img-crop';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

$primary: #00456F !important;
$danger: #E84E0F !important;



.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through gulp
/* inject:scss */
@import 'about/achievements/achievements';
@import 'about/history/history';
@import 'about/institutional/institutional';
@import 'about/management/management';
@import 'about/transparency/transparency';
@import 'account/profile/profile';
@import 'admin/admin';
@import 'admin/association/association';
@import 'admin/donations/donations';
@import 'admin/news/news';
@import 'admin/opportunities/opportunities';
@import 'admin/projects/projects';
@import 'admin/users/users';
@import 'angucomplete-alt';
@import 'common';
@import 'communication/events/events';
@import 'communication/news/show/news';
@import 'communication/news/view/view';
@import 'communication/newsletters/newsletters';
@import 'donate/bank/bank';
@import 'donate/donate';
@import 'graduates/graduates';
@import 'graduates/hall/hall';
@import 'graduates/profile/profile';
@import 'graduates/ranking/ranking';
@import 'graduates/search/search';
@import 'intlTelInput';
@import 'main/main';
@import 'media';
@import 'MerriweatherSans';
@import 'opportunities/opportunities';
@import 'opportunities/post/post';
@import 'opportunities/search/search';
@import 'opportunities/view/view';
@import 'projects/edit/edit';
@import 'projects/project/project';
@import 'projects/result/result';
@import 'projects/show/show';
@import 'projects/submission/submission';
@import 'Roboto';
@import 'typeform/typeform';
@import '../components/footer/footer';
@import '../components/modal/add-newsletter/add-newsletter';
@import '../components/modal/alert/alert';
@import '../components/modal/association/association';
@import '../components/modal/checkout/checkout';
@import '../components/modal/completed-registration/completed-registration';
@import '../components/modal/dialog/dialog';
@import '../components/modal/edit-donation/edit-donation';
@import '../components/modal/edit-news/edit-news';
@import '../components/modal/edit-opportunity/edit-opportunity';
@import '../components/modal/edit-project/edit-project';
@import '../components/modal/email-verified/email-verified';
@import '../components/modal/export-donation/export-donation';
@import '../components/modal/financial-reports/financial-reports';
@import '../components/modal/forgot-password/forgot-password';
@import '../components/modal/loading/loading';
@import '../components/modal/login/login';
@import '../components/modal/main-highlight/main-highlight';
@import '../components/modal/modal';
@import '../components/modal/opportunity-application/opportunity-application';
@import '../components/modal/photo/photo';
@import '../components/modal/preCheckout/preCheckout';
@import '../components/modal/register-information/register-information';
@import '../components/modal/reset-password/reset-password';
@import '../components/modal/review-association/review-association';
@import '../components/modal/review-subscription/review-subscription';
@import '../components/modal/sent-confirmation/sent-confirmation';
@import '../components/modal/sent-receipt/sent-receipt';
@import '../components/modal/show-application/show-application';
@import '../components/modal/show-boleto/show-boleto';
@import '../components/modal/show-person/show-person';
@import '../components/modal/signup/signup';
@import '../components/modal/support-project/support-project';
@import '../components/modal/terms-of-use/terms-of-use';
@import '../components/modal/update-photo/update-photo';
@import '../components/navbar/navbar';
@import '../components/oauth-buttons/oauth-buttons';
/* endinject */
