<div class="modal-header d-block">
  <i class="fa fa-close close-button" ng-click="vm.cancelModal()"></i>
  <h5 class="modal-title text-center mt-3" id="modal-title">{{vm.NewsId ? 'Editar notícia' : 'Cadastrar notícia'}}</h5>
</div>

<div class="modal-body pl-4 pr-4 pl-lg-5 pr-lg-5 pb-4" id="modal-body">

  <form class="form" name="form" ng-submit="vm.submitNews(form)" novalidate>

    <div class="row mt-2">

      <div class="col-12 col-sm-6">

        <div class="form-group">
          <label for="Title">TÍTULO*</label>
          <textarea type="text" id="Title" name="Title" class="form-control" rows="3" 
                    ng-model="vm.news.Title" ng-maxlength="255" required></textarea>
          <p class="help-block" ng-show="form.Title.$error.required && vm.submitted">
            Insira o título da notícia.
          </p>
          <p class="help-block" ng-show="form.Title.$error.maxlength">
            Título muito longo.
          </p>
        </div>

        <div class="form-group">
          <label for="PublishDate">DATA DE PUBLICAÇÃO</label>
          <input type="text" id="PublishDate" name="PublishDate" placeholder="dd/mm/yyyy" mask="39/19/9999"
                  class="form-control" ng-model="vm.PublishDate"
                  ng-change="vm.validateDate(vm.PublishDate)">
          <p class="help-block" ng-show="form.PublishDate.$error.required && vm.submitted">
            Insira a data de publicação.
          </p>
          <p class="help-block" ng-show="((form.PublishDate.$invalid || vm.dateInvalid) && vm.submitted)">
            Insira uma data válida.
          </p>
        </div>

      </div>

      <div class="col-12 col-sm-6">

        <div class="form-group">
          <label for="Subtitle">SUBTÍTULO*</label>
          <textarea type="text" id="Subtitle" name="Subtitle" class="form-control" rows="3" 
                    ng-model="vm.news.Subtitle" ng-maxlength="255" required></textarea>
          <p class="help-block" ng-show="form.Subtitle.$error.required && vm.submitted">
            Insira o subtítulo da notícia.
          </p>
          <p class="help-block" ng-show="form.Subtitle.$error.maxlength">
            Subtítulo muito longo.
          </p>
        </div>

        <div class="form-group">
          <label for="Category">CATEGORIA*</label>
          <select class="form-control" id="Category" name="Category" ng-model="vm.news.NewsCategoryId" required>
            <option ng-repeat="category in vm.newsCategories" ng-value="category.NewsCategoryId">
              {{category.PortugueseDescription}}
            </option>
          </select>
          <p class="help-block" ng-if="form.Category.$error.required && vm.submitted">
            Insira a categoria.
          </p>
        </div>

      </div>

    </div>

    <br>

    <div class="row justify-content-end pb-4">
      <div class="col-auto">
        <div class="form-group">
          <label for="Element">TIPOS DE ELEMENTOS</label>
          <select class="form-control" id="Element" name="Element" ng-model="vm.newElementId">
            <option ng-repeat="element in vm.newsElements" ng-value="element.NewsElementId" ng-if="element.Type !== 'PrincipalImage'">
              {{element.PortugueseDescription}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-auto align-self-center">
        <a href="#" class="btn btn-link text-dark" ng-click="vm.addConstruction(vm.newElementId)">
          ADICIONAR ELEMENTO
        </a>
      </div>
    </div>

    <div class="row pb-3 construction" ng-repeat="(cIndex, construction) in vm.news.constructions">
      <div class="col-9">

        <div class="form-group" ng-if="construction.element.Type === 'Paragraph'">
          <label for="Paragraph{{cIndex}}">{{cIndex + 1}} - PARÁGRAFO*</label>
          <textarea type="text" id="Paragraph{{cIndex}}" name="Paragraph{{cIndex}}" class="form-control" rows="3" 
                    ng-model="construction.Value" required></textarea>
          <p class="help-block" ng-show="form['Paragraph' + cIndex].$error.required && vm.submitted">
            Insira o texto.
          </p>
        </div>

        <div class="form-group" ng-if="construction.element.Type === 'QuoteParagraph'">
          <label for="Paragraph{{cIndex}}">{{cIndex + 1}} - PARÁGRAFO EM DESTAQUE*</label>
          <textarea type="text" id="Paragraph{{cIndex}}" name="Paragraph{{cIndex}}" class="form-control" rows="3" 
                    ng-model="construction.Value" required></textarea>
          <p class="help-block" ng-show="form['Paragraph' + cIndex].$error.required && vm.submitted">
            Insira o texto.
          </p>
        </div>


        <div class="form-group" ng-if="construction.element.Type === 'ImageLink'">
          <label for="ImageLink{{cIndex}}">{{cIndex + 1}} - IMAGEM COM LINK*</label>
          <input type="text" id="ImageLink{{cIndex}}" name="ImageLink{{cIndex}}" class="form-control"
                    ng-model="construction.Value" required>
          <p class="help-block" ng-show="form['ImageLink' + cIndex].$error.required && vm.submitted">
            Insira o link.
          </p>
        </div>

        <div ng-if="['PrincipalImage', 'Image', 'ImageLink', 'CarouselImages'].includes(construction.element.Type)">

          <div class="row justify-content-center">
            <div class="col-auto">
      
              <div class="form-group drop-images" ngf-drop="vm.updateImages(false, cIndex)"
                    ng-change="vm.updateImages(false, cIndex)"
                    ng-model="vm.uploadImages[cIndex]"
                    ngf-select-disabled="true" ngf-resize="{quality: vm.imageQuality}" ngf-keep="true"
                    ngf-drag-over-class="'drag-over'" ngf-multiple="construction.element.Type === 'CarouselImages'" ngf-allow-dir="true"
                    accept="image/*" ngf-pattern="'image/*'" ngf-max-files="vm.maxFiles(construction)"
                    ngf-max-size="vm.maxSize">
      
                <div class="card-deck upload-images">
      
                  <div class="col-12 col-sm-6 pl-0 pr-0" ng-repeat="file in vm.concatImages[cIndex]">
                    <div class="card mb-3">
                      <img ng-if="file && file.$ngfName" ngf-thumbnail="file"/>
                      <img ng-if="file && !file.$ngfName" ng-src="{{file.Path}}"/>
                      <i ng-if="(file.size || file.Path) && $index === 0" class="fa fa-bookmark principal-image-button"
                         uib-tooltip="Imagem principal" tooltip-placement="right"></i>
                      <i ng-if="(file.size || file.Path) && $index !== 0" class="fa fa-bookmark-o principal-image-button"
                         uib-tooltip="Selecionar como imagem principal" tooltip-placement="right"
                         ng-click="vm.choosePrincipal(file, cIndex)"></i>
                      <i ng-if="file.size || file.Path" class="fa fa-close close-button" ng-click="vm.removeImage(file, cIndex)"
                          uib-tooltip="Remover imagem" tooltip-placement="left"></i>
                    </div>
                  </div>
      
                  <div class="col-12 col-sm-6 pl-0 pr-0">
                    <div class="card card-plus d-flex align-items-center justify-content-center mb-3"
                          ng-if="vm.concatImages[cIndex].length < vm.maxFiles(construction)" ngf-resize="{quality: vm.imageQuality}"
                          ng-click="vm.updateImages(true, cIndex)" ngf-select ng-change="vm.updateImages(false, cIndex)"
                          ng-model="vm.uploadImages[cIndex]" ngf-keep="true"
                          ngf-multiple="construction.element.Type === 'CarouselImages'" ngf-allow-dir="true" accept="image/*"
                          ngf-pattern="'image/*'" ngf-max-files="vm.maxFiles(construction)" ngf-max-size="vm.maxSize">
                      <div class="row">
                        <div class="col-auto">
                          <img src="assets/images/images.svg" alt="Upload Images" class="icon-images">
                        </div>
                        <div class="col">
                          <p class="upload-text">
                            <a class="btn btn-link text-info upload-link p-0" href="#">
                              Faça upload
                            </a> de uma imagem.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      
                <p class="help-block" ng-show="form.files.$error.maxSize">
                  O arquivo inserido ultrapassa o tamanho máximo. Tente novamente.
                </p>
      
                <p class="help-block" ng-show="vm.concatImages[cIndex].length === 0 && vm.submitted">
                  Insira uma imagem.
                </p>
      
              </div>
      
            </div>
          </div>
      

        </div>

        <div class="form-group" ng-if="construction.element.Type === 'Link'">
          <label for="Link{{cIndex}}">{{cIndex + 1}} - LINK*</label>
          <input type="text" id="Link{{cIndex}}" name="Link{{cIndex}}" class="form-control"
                    ng-model="construction.Value" required>
          <p class="help-block" ng-show="form['Link' + cIndex].$error.required && vm.submitted">
            Insira o link.
          </p>
        </div>

        <div class="form-group" ng-if="construction.element.Type === 'Video'">
          <label for="Video{{cIndex}}">{{cIndex + 1}} - LINK VÍDEO YOUTUBE*</label>
          <input type="text" id="Video{{cIndex}}" name="Video{{cIndex}}" class="form-control"
                    ng-model="construction.Value" required>
          <p class="help-block" ng-show="form['Video' + cIndex].$error.required && vm.submitted">
            Insira o link.
          </p>
        </div>

      </div>

      <div class="col-3 align-self-center order-buttons">
        {{construction.element.PortugueseDescription}}
        <br>
        <button type="button" class="btn btn-light mt-2" ng-class="{disabled: cIndex <= 1}" 
                ng-click="vm.upConstruction(cIndex, cIndex > 1)"><i class="fa fa-arrow-up"></i></button>
        <button type="button" class="btn btn-light mt-2" ng-class="{disabled: $first || $last}"
                ng-click="vm.downConstruction(cIndex, !$first && !$last)"><i class="fa fa-arrow-down"></i></button>
        <button type="button" class="btn btn-light mt-2" ng-class="{disabled: $first}" 
                ng-click="vm.removeConstruction(cIndex, !$first)"><i class="fa fa-times"></i></button>
      </div>

    </div>

    <div class="custom-control custom-checkbox my-2" ng-if="vm.NewsId">
      <input type="checkbox" name="IsExcluded" class="custom-control-input" id="IsExcluded" ng-model="vm.news.IsExcluded">
      <label class="custom-control-label" for="IsExcluded">
        Excluir notícia
      </label>
    </div>              


    <button href="#" class="btn btn-danger mx-auto mt-3" type="submit">
      SALVAR
    </button>

  </form>

</div>