<header id="header">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <!-- Up Medium Size -->
      <div class="col-auto d-none d-md-block">
        <a ui-sref="main">
          <img src="assets/images/logo.png" class="logo" style="margin-top: 10px; margin-bottom: 10px;">
        </a>
      </div>
      <!-- Up Medium Size -->
      <div class="col-md-9 col-lg-10 d-none d-md-block">

        <!-- menu superior para telas  grandes -->

        <div class="row align-items-center justify-content-end">
          <div class="col-auto" style="padding: 15px 0 15px;">
            <ul class="nav">
              <li class="nav-item" ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active">
                <a class="nav-link text-dark d-none d-lg-block" ng-click="$ctrl.Modal.openLogin()" href="#">ENTRAR</a>
              </li>
              <li class="nav-item" ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active">
                <a class="nav-link text-dark d-none d-lg-block" ng-click="$ctrl.Modal.openSignup()"
                   href="#">CADASTRAR</a>
              </li>
              <li class="nav-item" ng-show="$ctrl.isLoggedIn()" ui-sref-active="active">
                <a class="nav-link text-dark d-none d-lg-block" ui-sref="profile" ng-click="$ctrl.waitState()">MEU PERFIL</a>
              </li>
              <li class="nav-item" ng-show="$ctrl.isAdmin()" ui-sref-active="active">
                <a class="nav-link text-dark d-none d-lg-block" ui-sref="admin.users" ng-click="$ctrl.waitState()">ADMIN</a>
              </li>
              <!--<li class="nav-item" ui-sref-active="active">-->
              <!--<a class="nav-link text-dark" ui-sref="submission">SUBMETER PROJETO</a>-->
              <!--</li>-->
              <li class="nav-item">
                <a class="nav-link btn btn-danger d-none d-md-block" href="support" role="button" ng-click="$ctrl.waitState()">APOIE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-danger d-none d-md-block" href="supportgrifo" role="button" ng-click="$ctrl.waitState()">GRIFO</a>
              </li>
              <!--
                <li class="nav-item">
                  <a class="nav-link btn btn-danger d-none d-md-block" role="button" ng-click="$ctrl.openCheckout()">Teste</a>
                </li>
              -->
            </ul>
          </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light container">

          <!-- menu superior para telas medias -->

          <div class="navbar-brand d-none d-md-block d-lg-none">
            <a class="nav-link d-inline" ng-hide="$ctrl.isLoggedIn()" ng-click="$ctrl.Modal.openLogin()" href="#"
               ui-sref-active="active">ENTRAR</a>
            <a class="nav-link d-inline" ng-hide="$ctrl.isLoggedIn()" ng-click="$ctrl.Modal.openSignup()" href="#"
               ui-sref-active="active">CADASTRAR</a>
            <a class="nav-link d-inline" ui-sref="profile" ui-sref-active="active" ng-show="$ctrl.isLoggedIn()">MEU
              PERFIL</a>
            <a class="nav-link d-inline" ui-sref="admin.users" ui-sref-active="active" ng-show="$ctrl.isAdmin()" ng-click="$ctrl.waitState()">ADMIN</a>
          </div>

          <!-- botao de abrir e fechar o menu para telas medias  -->
              <!-- o misterio de ele sumir na grande ta na classe navbar-toggle -->

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerMenu"
                  aria-controls="navbarTogglerMenu" aria-expanded="false" aria-label="Toggle navigation"
                  ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
            <!--<span class="navbar-toggler-icon"></span>-->
            <i class="fa fa-bars" ng-show="$ctrl.isCollapsed"></i>
            <i class="fa fa-close" ng-hide="$ctrl.isCollapsed"></i>

          </button>


          <div class="collapse navbar-collapse" id="navbarTogglerMenu" uib-collapse="$ctrl.isCollapsed">
            <!-- empurra dois itens para a direita -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item p-0" 
                  ng-repeat="item in $ctrl.menu" 
                  ng-class="[{dropdown: item.dropdown}, {active: item.active}]"
                  ui-sref-active="active" >
                <!-- para quem nao tem drop -->
                <a class="nav-link" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed"
                   ui-sref="{{item.state}}" ng-if="!item.dropdown">{{item.title}}</a>
                <!-- para quem tem drop -->
                <a class="nav-link dropdown-toggle" id="navbarDropdown{{$index}}"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   ng-if="item.dropdown">
                  {{item.title}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown{{$index}}" ng-if="item.dropdown">
                  <div ng-if="item.title=='PROJETOS'">
                    <button class="dropdown-item" ng-click="$ctrl.openLink('assets/documents/2021.2_Edital_Projetos.pdf')" ng-show="$ctrl.isAdmin()">
                      EDITAL 2021.2
                    </button>
                    <div class="dropdown-divider"></div>
                  </div>
                  <div ng-repeat="drop in item.dropdown">
                    <!--Aqui-->
                    <button class="dropdown-item" ng-click="$ctrl.setParentState(true, item)"
                            ui-sref="{{drop.state}}" ui-sref-active="active" ng-if="!drop.sidedrop">
                      {{drop.title}}
                    </button>
                    <div class="dropdown dropdown-submenu" ng-if="drop.sidedrop">
                      <button class="dropdown-item sidedrop-toggle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{drop.title}}</button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <div ng-repeat="sidedrop in drop.sidedrop" >
                          <!--Aqui-->
                          <button class="dropdown-item" ng-click="$ctrl.setParentState(false, item)"
                          ui-sref="{{sidedrop.state}}" ui-sref-active="active">{{sidedrop.title}}</button>
                        </div>
                      </div>
                    </div>
                    <div class="dropdown-divider" ng-if="!$last"></div>
                  </div>
                </div>
              </li>
              <!-- <li class="nav-item p-0" ui-sref-active="active"> -->
                <!-- <a class="nav-link" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" -->
                   <!-- ui-sref="submission">SUBMETER PROJETO</a> -->
              <!-- </li> -->
              <!-- <li class="nav-item d-block d-md-none" ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active">
                <a class="nav-link font-weight-normal" ng-click="$ctrl.Modal.openLogin()" href="#">ENTRAR</a>
              </li>
              <li class="nav-item d-block d-md-none" ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active">
                <a class="nav-link font-weight-normal" ng-click="$ctrl.Modal.openSignup()" href="#">CADASTRAR</a>
              </li>
              <li class="nav-item d-block d-md-none" ng-show="$ctrl.isLoggedIn()" ui-sref-active="active">
                <a class="nav-link font-weight-normal" ui-sref="profile" ng-click="$ctrl.waitState()">MEU PERFIL</a>
              </li>
              <li class="nav-item d-block d-md-none" ng-show="$ctrl.isAdmin()" ui-sref-active="active">
                <a class="nav-link font-weight-normal" ui-sref="admin.users" ng-click="$ctrl.waitState()">ADMIN</a>
              </li> -->
            </ul>
          </div>
        </nav>
      </div>

      <!-- Down Small Size -->
      <div class="col-auto d-md-none pr-0" ng-if="$ctrl.isCollapsed">
        <a ui-sref="main">
          <img src="assets/images/logo.png" class="logo" style="margin: 10px 0 10px 10px;">
        </a>
      </div>
      <!-- Down Small Size -->
      <div class="col d-md-none">
        <div class="row align-items-center justify-content-between" style="padding: 10px 0 10px">

          <ul class="nav ml-4" ng-if="$ctrl.isCollapsed">
            <!-- <li class="nav-item p-0" ui-sref-active="active">
              <a class="nav-link text-dark p-0" ui-sref="submission">SUBMETER PROJETO</a>
            </li> -->
            <li class="nav-item p-0" ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active">
              <a class="nav-link text-dark p-0" ng-click="$ctrl.Modal.openSignup()" href="#">CADASTRAR</a>
            </li>
            <li class="nav-item p-0" ng-show="$ctrl.isLoggedIn()" ui-sref-active="active">
              <a class="nav-link text-dark p-0" ui-sref="profile" ng-click="$ctrl.waitState()">MEU PERFIL</a>
            </li>
          </ul>

          <nav class="navbar navbar-expand-lg navbar-light px-1 py-0"
               ng-class="{'col': !$ctrl.isCollapsed, 'col-auto': $ctrl.isCollapsed}">
            <a class="navbar-brand d-block d-md-none ml-4 p-0" ui-sref="main" ng-if="!$ctrl.isCollapsed">
              <img src="assets/images/logo.png" class="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerMenu"
                    aria-controls="navbarTogglerMenu" aria-expanded="false" aria-label="Toggle navigation"
                    ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
              <i class="fa fa-bars" ng-show="$ctrl.isCollapsed"></i>
              <i class="fa fa-close" ng-hide="$ctrl.isCollapsed"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerMenu" uib-collapse="$ctrl.isCollapsed">

              <ul class="navbar-nav mr-auto" style="margin-top: -5px;">
                <li class="nav-item p-0" ng-repeat="item in $ctrl.menu" ng-class="[{dropdown: item.dropdown}, {active: item.active}]"
                    ui-sref-active="active">
                  <a class="nav-link" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed"
                     ui-sref="{{item.state}}" ng-if="!item.dropdown">{{item.title}}</a>
                  <a class="nav-link dropdown-toggle" id="navbarDropdown{{$index}}"
                     role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                     ng-if="item.dropdown">
                    {{item.title}}
                  </a><div class="dropdown-menu" aria-labelledby="navbarDropdown{{$index}}" ng-if="item.dropdown">
                    <div ng-if="item.title=='PROJETOS'">
                      <button class="dropdown-item" ng-click="$ctrl.openLink('assets/documents/2021.2_Edital_Projetos.pdf') " ng-show="$ctrl.isAdmin()">
                        EDITAL 2021.2
                      </button>
                      <div class="dropdown-divider"></div>
                    </div>
                    <div ng-repeat="drop in item.dropdown">
                      <button class="dropdown-item" ng-click="$ctrl.setParentState(true, item)"
                              ui-sref="{{drop.state}}" ui-sref-active="active" ng-if="!drop.sidedrop">
                        {{drop.title}}
                      </button>
                      <div class="dropdown dropdown-submenu" ng-if="drop.sidedrop">
                        <button class="dropdown-item sidedrop-toggle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{drop.title}}</button>
                        <div class="">
                          <div ng-repeat="sidedrop in drop.sidedrop" >
                            <button class="dropdown-item" ng-click="$ctrl.setParentState(true, item)"
                            ui-sref="{{sidedrop.state}}" ui-sref-active="active">{{sidedrop.title}}</button>
                          </div>
                        </div>
                      </div>
                      <div class="dropdown-divider" ng-if="!$last"></div>
                    </div>
                  </div>
                </li>
                <li class="nav-item d-block d-md-none" ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active">
                  <a class="nav-link font-weight-normal" ng-click="$ctrl.Modal.openLogin(); $ctrl.isCollapsed = !$ctrl.isCollapsed;" href="#">ENTRAR</a>
                </li>
                <li class="nav-item d-block d-md-none" ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active">
                  <a class="nav-link font-weight-normal" ng-click="$ctrl.Modal.openSignup(); $ctrl.isCollapsed = !$ctrl.isCollapsed;" href="#">CADASTRAR</a>
                </li>
                <li class="nav-item d-block d-md-none" ng-show="$ctrl.isLoggedIn()" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" ui-sref-active="active">
                  <a class="nav-link font-weight-normal" ui-sref="profile" ng-click="$ctrl.waitState()">MEU PERFIL</a>
                </li>
                <li class="nav-item d-block d-md-none" ng-show="$ctrl.isAdmin()" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" ui-sref-active="active">
                  <a class="nav-link font-weight-normal" ui-sref="admin.users" ng-click="$ctrl.waitState()">ADMIN</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div style="border-top: 1px solid #ccc; padding-top: 10px; margin-right: 10px">
          <div class="navbar-mobile d-block d-md-none">
            <div class="row">
              <div class="col-auto p-0" ng-if="!$ctrl.isCollapsed">
                <ul class="nav ml-3">
                  <li class="nav-item p-0 mt-2" ui-sref-active="active">
                    <a class="nav-link text-dark p-0" ui-sref="submission" ng-click="$ctrl.isCollapsed = true">SUBMETER PROJETO</a>
                  </li>
                </ul>
              </div>
              <div class="col pl-0">
                <ul class="nav pull-right">
                  <li class="nav-item pb-2 pr-0">
                    <a class="btn btn-danger" ui-sref="donate" ng-click="$ctrl.isCollapsed = true" ng-click="$ctrl.waitState()">APOIE</a>
                  </li>
                  <li class="nav-item pb-2 pr-0">
                    <a class="btn btn-danger" ui-sref="grffo" ng-click="$ctrl.isCollapsed = true" ng-click="$ctrl.waitState()">GRIFO</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-shadow"></div>
</header>

<div style="height: 123px;"></div>
