<div class="container contactView">
  <div class="row">
    <div class="col-6 content">
      <div class="row socialContainer">
        <a
          class="social"
          href="https://www.linkedin.com/company/alumniime"
          target="_blank"
        >
          <i class="first fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a
          class="social"
          href="https://www.facebook.com/AlumniIME"
          target="_blank"
        >
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
        <a
          class="social"
          href="https://www.instagram.com/alumniime"
          target="_blank"
        >
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a
          class="social"
          target="_blank"
          ng-click="vm.copyToClipboard()"
          href="mailto:contato@alumniime.com.br"
          uib-tooltip="{{vm.mailTxt}}" tooltip-placement="top"
          ng-mouseover="vm.formatMailTxt()"
        >
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </a>
        <a
          class="social"
          href="https://wa.me/message/DKS5ODIR26L2D1"
          target="_blank"
        >
          <i class="fa fa-whatsapp" aria-hidden="true"></i>
        </a>
      </div>
      <div class="contactText">
        <h2>Fale Conosco</h2>
        <p>
          Dúvidas, reclamações, sugestões? Entre em contato conosco através de
          nossas redes sociais ou via email. Nossa equipe esta pronta para sanar
          todas as dúvidas da comunidade IMEana!
        </p>
      </div>
    </div>
    <div class="col-6 formContainer">
      <form
        class="form"
        name="form"
        ng-submit="vm.sendContactEmail(form)"
        novalidate=""
      >
        <input
          type="text"
          name="name"
          required
          ng-model="vm.name"
          placeholder="Nome"
        />
        <p
          class="help-block mb-2"
          ng-if="form.name.$error.required && vm.submitted"
        >
          Insira o seu nome, por favor.
        </p>
        <input
          type="email"
          name="email"
          required
          ng-model="vm.email"
          placeholder="Email"
        />
        <p
          class="help-block mb-2"
          ng-if="(form.email.$error.email || form.email.$error.required) && vm.submitted"
        >
          Insira o seu email, por favor.
        </p>
        <select 
            name="subject"
            ng-model="vm.subject" 
            required
            ng-change="vm.changeSelect()"
            ng-class="vm.selectClass"
        >
            <option class="placeholder" value="" disabled selected hidden>Assunto</option>
            <option ng-repeat="subject in vm.subjects">{{subject}}</option>
        </select>
        <textarea
          name="message"
          rows="5"
          required
          ng-model="vm.message"
          placeholder="Mensagem"
        ></textarea>
        <p
          class="help-block"
          ng-if="form.message.$error.required && vm.submitted"
        >
          Insira a sua mensagem, por favor.
        </p>
        <button href="#" type="submit" class="btn btn-light">ENVIAR</button>
      </form>
    </div>
  </div>
</div>
