.mainView {
  width: 100%;

  .carousel-inner {
    max-height: 500px;
  }

  .carousel-item, .carousel-item-left, .carousel-item-next {
    top: -250px !important;
  }

  .carousel-item.img-background {
    height: 500px;
    background: no-repeat center 36% fixed;
    background-size: cover;
    top: 0 !important;
  }

  .carousel-item.bg-shadow {
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.4);
  }

  @include media-breakpoint-up(xl) {
    .carousel-caption {
      margin-left: 5%;
    }
  }

  .carousel-caption {
    width: 50%;
    max-width: 500px;
    margin-bottom: 200px;
    /* margin-left: -5%;  */
  }

  .carousel-item.img-background .carousel-caption {
    margin-bottom: 50px;
  }

  @include media-breakpoint-only(md) {
    .carousel-caption h1 {
      font-size: 30px;
    }
    .carousel-caption h5 {
      font-size: 18px;
    }
  }

  @include media-breakpoint-down(sm) {
    .carousel-item.img-background {
      height: 400px;
    }
    .carousel-caption {
      margin-bottom: 100px;
      width: auto;
    }
    .carousel-item.img-background .carousel-caption {
      margin-bottom: 25px;
    }
    .carousel-caption h1 {
      font-size: 22px;
    }
    .carousel-caption h5 {
      font-size: 14px;
    }
  }

  .carousel-caption h1 {
    text-align: left;
    font-weight: 700;
  }

  .carousel-caption h5 {
    text-align: left;
    margin-top: 10px;
  }

  .carousel-caption .btn-outline-light {
    font-weight: 300;
    font-size: 14px;
    border-radius: 100px;
    margin-top: 30px;
    min-width: 120px;
    width: 30%;
  }

  .carousel-caption .btn-light {
    font-weight: 600;
    font-size: 16px;
    border-radius: 100px;
    margin-top: 30px;
    min-width: 240px;
    width: 30%;
  }

  .description-block {
    min-height: 250px;
    padding-bottom: 30px;
    background-color: #00456F;
    /* #3f51b5 */
  }

  .description-block div {
    padding-left: 15px;
  }

  .description-block div .btn {
    font-size: 13px;
    min-width: 100px;
    border-radius: 100px;
    margin-right: 15px;
  }

  .description-block div .btn-light {
    color: #00456F;
    /* #3f51b5 */
  }
  .description-block div .btn-light2 {
    background-color: #e61919;
    color: #f8f9fa;
    /* #3f51b5 */
  }

  .description-block div .btn-outline-light {
    min-width: 220px;
  }

  .description-titles {
    font-family: 'Merriweather Sans', sans-serif !important;
    padding: 65px 0 30px;
    color: #fff;
  }

  .description-titles h2 {
    font-weight: 300;
  }

  .news-projects {
    min-height: 600px;
    margin-bottom: 40px;
  }

  .news {
    padding-top: 100px;
  }

  @include media-breakpoint-down(sm) {
    .news {
      padding-top: 50px;
    }
  }

  .news hr.divider {
    border-top: 1px solid #808080;
    margin-top: 20px;
    width: 80px;
    display: inline-block;
  }

  .news p.date {
    font-size: 14px;
    font-weight: 300;
  }

  .news a.btn-link {
    padding: 0;
  }

  .projects {
    padding: 30px;
    margin-top: 70px;
    background-color: #ebebeb;
  }

  @include media-breakpoint-down(sm) {
    .projects {
      padding-top: 50px;
    }
  }

  @include media-breakpoint-down(sm) {
    .projects {
      margin-top: 25px;
    }
  }

  @include media-breakpoint-down(xs) {
    .projects {
      margin-top: 0;
    }
  }

  .projects img {
    max-width: 100%;
    max-height: 200px;
    margin: 20px auto 15px;
  }

  .news-projects h5 {
    font-weight: 700;
    color: #000;
  }

  .news-projects h6 {
    font-size: 14px;
    color: #808080;
    line-height: 24px;
  }

  a.project-group {
    text-decoration: none;
  }

  #BotaoConhecaOsProjetos{
    background-color: white;
    color: #00456F;
  }
  #BotaoCadastre_se{
    background-color: #87cefa;
    color: #00456F;
  }

  .blocoBotaoApoie {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
  }
  .botaoApoie{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    width: 120px;
    border-radius: 100px;

      text-decoration: none;
      font-weight: 800;
      font-size: 14px;
      background-color: #E84E0F;
      font-family: "Roboto", "Merriweather Sans", -apple-system, sans-serif;
      color: #fff !important;

      outline: none !important;

      
  }
  .botaoApoie:hover, .botaoApoie.active {
    background-color: rgb(199, 66, 14);
  }
  #apoie:hover{
    background-color: #e6191995;
  }

  .containerMaximo{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .blocoVideoYoutube{
    display: flex;
    width: 80%;
    height: 300px;
  }
  p {
    text-align: justify;
  }
}
