<div class="container adminUsersView">

  <div class="row justify-content-between">
    <div class="col-auto">
      <h5 class="page-title pt-3 pb-2 pb-md-0">Aprovações Pendentes de <br class="d-block d-sm-none"> Ex-Alunos</h5>
    </div>
    <div class="col-auto pb-2">
      <a href="#" class="btn btn-success mb-2" ng-click="admin.approveGreen()">Aprovar Ex-Alunos</a>
    </div>
  </div>

  <table class="table table-hover table-fixed table-responsive-md table-sm">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome Completo</th>
      <th scope="col">Base</th>
      <th scope="col">Turma</th>
      <th scope="col">Base</th>
      <th scope="col">Engenharia</th>
      <th scope="col">Base</th>
      <th scope="col">Cadastro</th>
      <th scope="col">Atividade</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in admin.users | filter: {IsApproved: false}" class="c-pointer" ng-click="admin.openProfile(user.PersonId)"
        ng-class="{'table-success': admin.verifyFields(user), 'table-danger': !admin.verifyFields(user)}"
        ng-if="user.PersonTypeId === 3 || user.PersonTypeId === 4">
      <th scope="row">{{user.PersonId}}</th>
      <td>{{user.FullName}}</td>
      <td>{{user.former[0].Name}}</td>
      <td>{{user.GraduationYear}}</td>
      <td>{{user.former[0].GraduationYear}}</td>
      <td>{{user.engineering.Legend}}</td>
      <td>{{user.former[0].engineering.Legend}}</td>
      <td>{{user.provider === 'local' ? 'Email' : 'LinkedIn'}}</td>
      <td>{{user.LastActivityDate | date: 'dd/MM HH:mm'}}</td>
    </tr>
    </tbody>
  </table>

  <br>

  <div class="row justify-content-between">
    <div class="col-auto">
      <h5 class="page-title pb-2">Outras Aprovações <br class="d-block d-sm-none"> Pendentes</h5>
    </div>
  </div>

  <table class="table table-striped table-hover table-fixed table-responsive-md table-sm">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome Completo</th>
      <th scope="col">Email</th>
      <th scope="col">Tipo</th>
      <th scope="col">Turma</th>
      <th scope="col">Engenharia</th>
      <th scope="col">SE</th>
      <th scope="col">Cadastro</th>
      <th scope="col">Atividade</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in admin.users | filter: {IsApproved: false}" class="c-pointer" ng-click="admin.openProfile(user.PersonId)"
        ng-if="!(user.PersonTypeId === 1 || user.PersonTypeId === 3 || user.PersonType === 4)">
      <th scope="row">{{user.PersonId}}</th>
      <td>{{user.FullName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.personType.PortugueseDescription}}</td>
      <td>{{user.GraduationYear}}</td>
      <td>{{user.engineering.Legend}}</td>
      <td>{{user.se.SEId ? 'SE/' + user.se.SEId : ''}}</td>
      <td>{{user.provider === 'local' ? 'Email' : 'LinkedIn'}}</td>
      <td>{{user.LastActivityDate | date: 'dd/MM HH:mm'}}</td>
    </tr>
    </tbody>
  </table>

  <br>

  <div class="row justify-content-between">
    <div class="col-auto">
      <h5 class="page-title pb-2">Usuários Aprovados</h5>
    </div>
    <div class="col-auto">
      <div class="form-group">
        <select class="form-control" id="PersonType" name="PersonType"
                ng-model="admin.searchPersonTypeId" ng-change="admin.refreshFilter()">
          <option value="">Exibir todos usuários</option>
          <option ng-repeat="personType in admin.personTypes"
                  ng-value="personType.PersonTypeId">{{personType.PortugueseDescription}}
          </option>
        </select>
      </div>      
    </div>
    <div class="col-auto">
      <div class="form-group">
        <input type="text" name="name" placeholder="Pesquisar usuários..." class="form-control" 
               ng-model="admin.searchFullName" ng-change="admin.refreshFilter()">
      </div>      
    </div>
  </div>

  <table class="table table-striped table-hover table-fixed table-responsive-md table-sm">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Tipo</th>
      <th scope="col">Turma</th>
      <th scope="col">Engenharia</th>
      <th scope="col">Cadastro</th>
      <th scope="col">Atividade</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in admin.users | orderBy: 'name' | filter: {PersonTypeId: admin.searchPersonTypeId, FullName: admin.searchFullName, IsApproved: true}" class="c-pointer" ng-click="admin.openProfile(user.PersonId)"
        ng-if="$index >= (admin.currentPage - 1) * admin.itemsPerPage && $index < admin.currentPage * admin.itemsPerPage">
      <th scope="row">{{user.PersonId}}</th>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.personType.PortugueseDescription}}</td>
      <td>{{user.GraduationYear}}</td>
      <td>{{user.engineering.Legend}}</td>
      <td>{{user.provider === 'local' ? 'Email' : 'LinkedIn'}}</td>
      <td>{{user.LastActivityDate | date: 'dd/MM HH:mm'}}</td>
    </tr>
    </tbody>
  </table>

  <ul uib-pagination total-items="admin.usersNumber" ng-model="admin.currentPage" max-size="8" 
      class="pagination-sm justify-content-center mt-5" boundary-link-numbers="true" items-per-page="admin.itemsPerPage"
      previous-text="Anterior" next-text="Próximo"></ul>
  <br>

  <br>

  <div class="row justify-content-between">
    <div class="col-auto">
      <h5 class="page-title pb-2" uib-tooltip="Usuários que não completaram o cadastro" tooltip-placement="right">Novos Usuários</h5>
    </div>
  </div>

  <table class="table table-striped table-hover table-fixed table-responsive-md table-sm">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Tipo</th>
      <th scope="col">Cadastro</th>
      <th scope="col">Atividade</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in admin.users | filter: {PersonTypeId: 1}" class="c-pointer" ng-click="admin.openProfile(user.PersonId)">
      <th scope="row">{{user.PersonId}}</th>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.personType.PortugueseDescription}}</td>
      <td>{{user.provider === 'local' ? 'Email' : 'LinkedIn'}}</td>
      <td>{{user.LastActivityDate | date: 'dd/MM HH:mm'}}</td>
    </tr>
    </tbody>
  </table>

</div>
