<div class="submission-view">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9">
        <div class="row p-0 justify-content-between">
          <div class="col-auto">
            <h1 class="title">
              Submissão de Projeto
            </h1>
          </div>
          <div class="col-auto">
            <a class="btn btn-outline-dark pull-right" href="/assets/documents/2018.2_Edital_Projetos.pdf" target="_blank">
              BAIXAR EDITAL
            </a>
          </div>
        </div>

        <form class="form" name="form" ng-submit="vm.submitProject(form)" novalidate="">

          <div class="row">
            <div class="col-12 col-md-6">

              <div class="form-group">
                <label for="ProjectName">TÍTULO DO PROJETO*</label>
                <input type="text" id="ProjectName" name="ProjectName" class="form-control" required
                       ng-model="vm.project.ProjectName">
                <p class="help-block" ng-if="form.ProjectName.$error.required && vm.submitted">
                  Insira o título do projeto.
                </p>
              </div>

              <div class="form-group">
                <label for="SEId">SEÇÃO DE ENSINO*</label>
                <select class="form-control" id="SEId" name="SEId" required ng-model="vm.project.ProjectSEId">
                  <option></option>
                  <option ng-repeat="se in vm.sesList" ng-value="se.SEId">{{se.Description}}
                  </option>
                </select>
                <p class="help-block" ng-if="form.SEId.$error.required && vm.submitted">
                  Insira a seção de ensino.
                </p>
              </div>

              <div class="form-group">
                <label for="TeamName">NOME DA INICIATIVA OU EQUIPE*</label>
                <input type="text" id="TeamName" name="TeamName" class="form-control" required
                       ng-model="vm.project.TeamName">
                <p class="help-block" ng-if="form.TeamName.$error.required && vm.submitted">
                  Insira o nome da iniciativa ou da equipe.
                </p>
              </div>

              <div class="form-group">
                <label for="ProfessorId">PROFESSOR RESPONSÁVEL*</label>
                <select class="form-control" id="ProfessorId" name="ProfessorId" required
                        ng-model="vm.project.ProfessorId">
                  <option></option>
                  <option ng-repeat="professor in vm.professorsList | orderBy: 'Name'" ng-value="professor.PersonId">
                    {{professor.Name}}
                  </option>
                </select>
                <p class="help-block" ng-show="form.ProfessorId.$error.required && vm.submitted">
                  Insira o professor responsável. Caso ele não esteja na lista, será necessário o cadastro do professor.
                </p>
              </div>

              <div class="form-group">
                <label for="LeaderId">LÍDER DA EQUIPE*</label>
                <select class="form-control" id="LeaderId" name="LeaderId" required
                        ng-model="vm.project.LeaderId">
                  <option></option>
                  <optgroup label="Alunos">
                    <option ng-repeat="student in vm.studentsList | orderBy: 'Name'" ng-value="student.PersonId">
                      {{student.Name}}
                  </optgroup>
                  <optgroup label="Professores">
                    <option ng-repeat="professor in vm.professorsList | orderBy: 'Name'" ng-value="professor.PersonId">
                      {{professor.Name}}
                  </optgroup>
                  </option>
                </select>
                <p class="help-block" ng-show="form.LeaderId.$error.required && vm.submitted">
                  Insira o aluno líder da equipe. Caso ele não esteja na lista, será necessário o cadastro do aluno.
                </p>
              </div>

            </div>

            <div class="col-12 col-md-6">

              <div class="form-group">

                <div class="form-group">
                  <label for="TeamMembers">EQUIPE*</label>
                  <input type="text" id="TeamMembers" name="TeamMembers" class="form-control" required
                         ng-model="vm.project.TeamMembers" placeholder="Aluno 1, Aluno 2, Aluno 3"
                         onkeyup="this.value = this.value.replace(/[^a-zA-ZçáàãâéèêẽíìĩîóòôõúùũüûÇÀÁÂÃÈÉÊẼÌÍÎĨÒÓÔÕÙÚÛŨ ,]/, '');">
                  <p class="help-block" ng-show="form.TeamMembers.$error.required && vm.submitted">
                    Insira o nome dos integrantes da equipe do projeto.
                  </p>
                </div>

                <div class="form-group">
                  <label for="EstimatedPriceInCents">ORÇAMENTO*</label>
                  <input type="text" id="EstimatedPriceInCents" name="EstimatedPriceInCents" class="form-control"
                         required
                         ng-model="vm.project.EstimatedPriceInCents" money-mask money-mask-prepend="R$">
                  <p class="help-block" ng-if="form.EstimatedPriceInCents.$error.required && vm.submitted">
                    Insira o valor estimado para o projeto.
                  </p>
                </div>

                <div class="form-group">
                  <label for="StudentsNumber">QUANTIDADE DE ALUNOS ENVOLVIDOS*</label>
                  <input type="text" id="StudentsNumber" name="StudentsNumber" class="form-control" required
                         onkeyup="this.value = this.value.replace(/[^0-9]/, '');"
                         ng-model="vm.project.StudentsNumber" placeholder="em números">
                  <p class="help-block" ng-if="form.StudentsNumber.$error.required && vm.submitted">
                    Insira a quantidade de alunos envolvidos no projeto.
                  </p>
                </div>

                <div class="form-group">
                  <label for="ConclusionDate">TÉRMINO ESTIMADO*</label>
                  <input type="text" id="ConclusionDate" name="ConclusionDate"
                         class="form-control" placeholder="dd/mm/yyyy" mask="39/19/2999"
                         ng-model="vm.ConclusionDate" required
                         ng-change="vm.validateDate(vm.ConclusionDate)">
                  <p class="help-block" ng-show="(form.ConclusionDate.$invalid && vm.submitted) || vm.dateInvalid">
                    Insira uma data válida para o término estimado.
                  </p>
                </div>

              </div>

            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="Abstract">RESUMO DO PROJETO* ({{ 1200 - form.Abstract.$viewValue.length }})</label>
                <textarea type="text" id="Abstract" name="Abstract" class="form-control" rows="6"
                          ng-model="vm.project.Abstract" required ng-maxlength="1200"></textarea>
                <p class="help-block" ng-show="form.Abstract.$error.required && vm.submitted">
                  Insira um resumo do projeto.
                </p>
                <p class="help-block" ng-show="form.Abstract.$error.maxlength">
                  Texto muito longo.
                </p>
              </div>

              <div class="form-group">
                <label for="Goals">METAS/RESULTADOS ESPERADOS PARA O PROJETO* ({{ 1200 - form.Goals.$viewValue.length
                  }})</label>
                <textarea type="text" id="Goals" name="Goals" class="form-control" rows="6"
                          ng-model="vm.project.Goals" required ng-maxlength="1200"></textarea>
                <p class="help-block" ng-show="form.Goals.$error.required && vm.submitted">
                  Insira as metas/resultados esperados.
                </p>
                <p class="help-block" ng-show="form.Goals.$error.maxlength">
                  Texto muito longo.
                </p>
              </div>

              <div class="form-group">
                <label for="Benefits">BENEFÍCIOS CONCRETOS PARA O IME* ({{ 1200 - form.Benefits.$viewValue.length
                  }})</label>
                <textarea type="text" id="Benefits" name="Benefits" class="form-control" rows="6"
                          ng-model="vm.project.Benefits" required ng-maxlength="1200"></textarea>
                <p class="help-block" ng-show="form.Benefits.$error.required && vm.submitted">
                  Insira os benefícios concretos para o IME do projeto.
                </p>
                <p class="help-block" ng-show="form.Benefits.$error.maxlength">
                  Texto muito longo.
                </p>
              </div>

              <div class="form-group">
                <label for="Schedule">CRONOGRAMA FÍSICO-FINANCEIRO* ({{ 1200 - form.Schedule.$viewValue.length
                  }})</label>
                <textarea type="text" id="Schedule" name="Schedule" class="form-control" rows="6"
                          ng-model="vm.project.Schedule" required ng-maxlength="1200"></textarea>
                <p class="help-block" ng-show="form.Schedule.$error.required && vm.submitted">
                  Insira um cronograma em detalhes com o planejamento físico-financeiro do projeto.
                </p>
                <p class="help-block" ng-show="form.Schedule.$error.maxlength">
                  Texto muito longo.
                </p>
              </div>


              <div class="form-group">
                <label for="Rewards">SISTEMA DE RECOMPENSAS* ({{ 1200 - form.Schedule.$viewValue.length
                  }})</label>
                <textarea type="text" id="Rewards" name="Rewards" class="form-control" rows="6"
                          ng-model="vm.project.Rewards" required ng-maxlength="1200"></textarea>
                <p class="help-block" ng-show="form.Rewards.$error.required && vm.submitted">
                  Insira um sistema de recompensas para valores de doações.
                </p>
                <p class="help-block" ng-show="form.Rewards.$error.maxlength">
                  Texto muito longo.
                </p>
              </div>



              <br>
              <label>INSERIR FOTOS*</label>
              <br>

              <div class="form-group drop-images" ngf-drop="vm.updateImages(vm.uploadImages)"
                   ng-change="vm.updateImages(vm.uploadImages)"
                   ng-model="vm.uploadImages"
                   ngf-keep="true" ngf-select-disabled="true" ngf-resize="{quality: vm.imageQuality}"
                   ngf-drag-over-class="'drag-over'" ngf-multiple="true" ngf-allow-dir="true"
                   accept="image/*" ngf-pattern="'image/*'" ngf-max-files="vm.maxImages" ngf-max-size="vm.maxSize">

                <div class="row">
                  <div class="col-auto">
                    <img src="assets/images/images.svg" alt="Upload Images" class="icon-images">
                  </div>
                  <div class="col">
                    <p class="upload-text">
                      <a class="btn btn-link text-info upload-link" name="files"
                         ngf-select ng-change="vm.updateImages(vm.uploadImages)" ng-model="vm.uploadImages"
                         ngf-keep="true" ngf-multiple="true" ngf-allow-dir="true" accept="image/*"
                         ngf-resize="{quality: vm.imageQuality}"
                         ngf-pattern="'image/*'" ngf-max-files="vm.maxImages" ngf-max-size="vm.maxSize">
                        Faça upload
                      </a> de fotos referentes ao projeto.
                      <br>
                      <span class="upload-legend">Solte as imagens aqui. Adicione até {{vm.maxImages}} fotos. <br>Tamanho máximo: {{vm.maxSize}}</span>
                    </p>
                  </div>
                </div>

                <div class="card-deck upload-images">

                  <div class="col-12 col-sm-6 col-lg-4 pl-0 pr-0" ng-repeat="file in vm.uploadImages">
                    <div class="card mb-3">
                      <img ng-if="file" ngf-thumbnail="file"/>
                      <i ng-if="file.size && $index === 0" class="fa fa-bookmark principal-image-button"
                         uib-tooltip="Imagem principal" tooltip-placement="right"></i>
                      <i ng-if="file.size && $index !== 0" class="fa fa-bookmark-o principal-image-button"
                         uib-tooltip="Selecionar como imagem principal" tooltip-placement="right"
                         ng-click="vm.choosePrincipal(file)"></i>
                      <i ng-if="file.size" class="fa fa-close close-button" ng-click="vm.removeImage(file)"
                         uib-tooltip="Remover imagem" tooltip-placement="left"></i>
                    </div>
                  </div>

                  <!--<div class="col-12 col-sm-6 col-md-4 pl-0 pr-0" ng-repeat="file in vm.thumbnailImages">-->
                  <!--<div class="card mb-3">-->
                  <!--</div>-->
                  <!--</div>-->

                  <div class="col-12 col-sm-6 col-lg-4 pl-0 pr-0">
                    <div class="card card-plus d-flex align-items-center justify-content-center mb-3"
                         ng-if="vm.uploadImages.length < vm.maxImages" ngf-resize="{quality: vm.imageQuality}"
                         ng-click="vm.updateImages(null)" ngf-select ng-change="vm.updateImages(vm.uploadImages)"
                         ng-model="vm.uploadImages"
                         ngf-keep="true" ngf-multiple="true" ngf-allow-dir="true" accept="image/*"
                         ngf-pattern="'image/*'" ngf-max-files="vm.maxImages" ngf-max-size="vm.maxSize">
                      <img class="m-auto" src="assets/images/plus.svg">
                    </div>
                  </div>
                </div>

                <p class="help-block" ng-show="form.files.$error.maxSize">
                  Uma ou mais imagens inseridas ultrapassam o tamanho máximo. Tente novamente.
                </p>

                <p class="help-block" ng-show="vm.uploadImages.length === 0 && vm.submitted">
                  Insira pelo menos uma imagem para o projeto.
                </p>

                <!--<p>{{vm.progress}}</p>-->

              </div>


            </div>
          </div>

          <br>
          <div class="row justify-content-end">
            <div class="col-auto">
              <button href="#" class="btn btn-danger m-auto btn-submit" type="submit">
                SUBMETER PROJETO
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
