<div class="submission-view">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9">
        <div class="row p-0 justify-content-between">
          <div class="col-auto">
            <h1 class="title">
              Submissão de Projeto
            </h1>
          </div>
          <div class="col-auto">
            <a class="btn btn-outline-dark pull-right" href="/assets/documents/2021.1_Edital_Projetos.pdf" target="_blank">
              BAIXAR EDITAL
            </a>
          </div>
        </div>

        <form class="form" name="form" ng-submit="vm.submitProject(form)" novalidate="">

          <div class="row">
            <div class="col-12 col-md-6">

              <div class="form-group">
                <label for="ProjectName">
                  NOME DO PROJETO/INICIATIVA*
                  <i class="fa fa-question-circle-o" aria-hidden="true" tooltip-placement="bottom"
                    uib-tooltip="Objetivo da proposta. Deve ser suficientemente claro, de forma que não haja dúvidas quanto ao que o projeto propõe." 
                  ></i>
                </label>
                <input type="text" id="ProjectName" name="ProjectName" class="form-control" required
                       ng-model="vm.project.ProjectName">
                <p class="help-block" ng-if="form.ProjectName.$error.required && vm.submitted">
                  Insira o título do projeto.
                </p>
              </div>

              <div class="form-group">
                <label for="SEId">
                  SEÇÃO DE ENSINO*
                  <i class="fa fa-question-circle-o" aria-hidden="true" tooltip-placement="bottom"
                    uib-tooltip="Qual seção da engenharia sua proposta se enquadra." 
                  ></i>
                </label>
                <select class="form-control" id="SEId" name="SEId" required ng-model="vm.project.ProjectSEId">
                  <option></option>
                  <option ng-repeat="se in vm.sesList" ng-value="se.SEId">{{se.Description}}
                  </option>
                </select>
                <p class="help-block" ng-if="form.SEId.$error.required && vm.submitted">
                  Insira a seção de ensino.
                </p>
              </div>

              <div class="form-group">
                <label for="TeamName">
                  NOME DA INICIATIVA OU EQUIPE*
                  <i class="fa fa-question-circle-o" aria-hidden="true" tooltip-placement="bottom"
                    uib-tooltip="Nome da equipe (Ex.: MatIME, RobôIME)" 
                  ></i>
                </label>
                <input type="text" id="TeamName" name="TeamName" class="form-control" required
                       ng-model="vm.project.TeamName">
                <p class="help-block" ng-if="form.TeamName.$error.required && vm.submitted">
                  Insira o nome da iniciativa ou da equipe.
                </p>
              </div>

              <div class="form-group">
                <label for="ProfessorId">
                  PROFESSOR RESPONSÁVEL*
                  <i class="fa fa-question-circle-o" aria-hidden="true" tooltip-placement="bottom"
                    uib-tooltip="Nome do professor envolvido no projeto." 
                  ></i>
                </label>
                <select class="form-control" id="ProfessorId" name="ProfessorId" required
                        ng-model="vm.project.ProfessorId">
                  <option></option>
                  <option ng-repeat="professor in vm.professorsList | orderBy: 'Name'" ng-value="professor.PersonId">
                    {{professor.Name}}
                  </option>
                </select>
                <p class="help-block" ng-show="form.ProfessorId.$error.required && vm.submitted">
                  Insira o professor responsável. Caso ele não esteja na lista, será necessário o cadastro do professor.
                </p>
              </div>

              <div class="form-group">
                <label for="LeaderId">
                  LÍDER DA EQUIPE*
                  <i class="fa fa-question-circle-o" aria-hidden="true" tooltip-placement="bottom"
                    uib-tooltip="Escrever o nome do aluno, ex-aluno ou professor que será o líder do projeto (Responsável pelas atividades de planejamento e acompanhamento do projeto, direcionamento da equipe, manutenção do cronograma e divulgação periódica dos resultados). " 
                  ></i>
                </label>
                <select class="form-control" id="LeaderId" name="LeaderId" required
                        ng-model="vm.project.LeaderId">
                  <option></option>
                  <optgroup label="Alunos">
                    <option ng-repeat="student in vm.studentsList | orderBy: 'Name'" ng-value="student.PersonId">
                      {{student.Name}}
                  </optgroup>
                  <optgroup label="Professores">
                    <option ng-repeat="professor in vm.professorsList | orderBy: 'Name'" ng-value="professor.PersonId">
                      {{professor.Name}}
                  </optgroup>
                  </option>
                </select>
                <p class="help-block" ng-show="form.LeaderId.$error.required && vm.submitted">
                  Insira o aluno líder da equipe. Caso ele não esteja na lista, será necessário o cadastro do aluno.
                </p>
              </div>

              <div class="form-group">
                <label for="TeamMembers">
                  EQUIPE*
                  <i class="fa fa-question-circle-o" aria-hidden="true" tooltip-placement="bottom"
                    uib-tooltip="Escrever o nome de todos os integrantes da equipe." 
                  ></i>
                </label>
                <input type="text" id="TeamMembers" name="TeamMembers" class="form-control" required
                       ng-model="vm.project.TeamMembers" placeholder="Aluno 1, Aluno 2, Aluno 3"
                       onkeyup="this.value = this.value.replace(/[^a-zA-ZçáàãâéèêẽíìĩîóòôõúùũüûÇÀÁÂÃÈÉÊẼÌÍÎĨÒÓÔÕÙÚÛŨ ,]/, '');">
                <p class="help-block" ng-show="form.TeamMembers.$error.required && vm.submitted">
                  Insira o nome dos integrantes da equipe do projeto.
                </p>
              </div>

            </div>

            <div class="col-12 col-md-6">

              <div class="form-group">

                <div class="form-group">
                  <label for="Category">
                    CATEGORIA*
                    <i class="fa fa-question-circle-o" aria-hidden="true" tooltip-placement="bottom"
                      uib-tooltip="Categoria na qual sua proposta se enquadra." 
                    ></i>
                  </label>
                  <select class="form-control" id="Category" name="Category" required ng-model="vm.project.CategoryOpt" ng-change="vm.otherOptions()">
                    <option></option>
                    <option ng-repeat="category in vm.categories" ng-value="category">{{category}}
                    </option>
                  </select>
                  <input type="text" id="otherCategory" name="otherCategory" class="form-control" required
                       ng-model="vm.otherCategory" ng-if="vm.project.CategoryOpt=='Outros'" style="margin-top: 1rem;" ng-change="vm.otherOptions()">
                  <p class="help-block" ng-if="(form.Category.$error.required || form.otherCategory.$error.required) && vm.submitted">
                    Insira a categoria do projeto.
                  </p>
                </div>

                <div class="form-group">
                  <label for="Theme">
                    LINHA TEMÁTICA*
                    <i class="fa fa-question-circle-o" aria-hidden="true" tooltip-placement="bottom"
                      uib-tooltip="Linha temática na qual sua proposta se enquadra." 
                    ></i>
                  </label>
                  <select class="form-control" id="Theme" name="Theme" required ng-model="vm.project.ThemeOpt" ng-change="vm.otherOptions()">
                    <option></option>
                    <option ng-repeat="theme in vm.themes" ng-value="theme">{{theme}}
                    </option>
                  </select>
                  <input type="text" id="otherTheme" name="otherTheme" class="form-control" required
                       ng-model="vm.otherTheme" ng-if="vm.project.ThemeOpt=='Outros'" style="margin-top: 1rem;" ng-change="vm.otherOptions()">
                  <p class="help-block" ng-if="(form.Theme.$error.required || form.otherTheme.$error.required) && vm.submitted">
                    Insira a categoria do projeto.
                  </p>
                </div>

                <div class="form-group">
                  <label for="StudentsNoDirectly">
                    QUANTIDADE DE ALUNOS IMPACTADOS DIRETAMENTE*
                    <i class="fa fa-question-circle-o" aria-hidden="true" tooltip-placement="bottom"
                      uib-tooltip="Insira o número de alunos que serão impactados de forma direta pelo projeto." 
                    ></i>
                  </label>
                  <input type="text" id="StudentsNoDirectly" name="StudentsNoDirectly" class="form-control" required
                         onkeyup="this.value = this.value.replace(/[^0-9]/, '');"
                         ng-model="vm.project.StudentsNoDirectly" placeholder="Em números">
                  <p class="help-block" ng-if="form.StudentsNoDirectly.$error.required && vm.submitted">
                    Insira a quantidade de alunos impactados diretamente no projeto.
                  </p>
                </div>

                <div class="form-group">
                  <label for="StudentsNoIndirectly">
                    QUANTIDADE DE ALUNOS IMPACTADOS INDIRETAMENTE*
                    <i class="fa fa-question-circle-o" aria-hidden="true" tooltip-placement="bottom"
                      uib-tooltip="Insira o número de alunos que serão impactados de forma indireta pelo projeto." 
                    ></i>
                  </label>
                  <input type="text" id="StudentsNoIndirectly" name="StudentsNoIndirectly" class="form-control" required
                         onkeyup="this.value = this.value.replace(/[^0-9]/, '');"
                         ng-model="vm.project.StudentsNoIndirectly" placeholder="Em números">
                  <p class="help-block" ng-if="form.StudentsNoIndirectly.$error.required && vm.submitted">
                    Insira a quantidade de alunos impactados indiretamente no projeto.
                  </p>
                </div>

                <div class="form-group">
                  <label for="ConclusionDate">
                    TÉRMINO ESTIMADO*
                    <i class="fa fa-question-circle-o" aria-hidden="true" tooltip-placement="bottom"
                    uib-tooltip="Data de término das atividades do projeto." 
                  ></i>
                  </label>
                  <input type="text" id="ConclusionDate" name="ConclusionDate"
                         class="form-control" placeholder="dd/mm/yyyy" mask="39/19/2999"
                         ng-model="vm.ConclusionDate" required
                         ng-change="vm.dateInvalid = vm.Util.invalidFutureDate(vm.ConclusionDate)">
                  <p class="help-block" ng-show="(form.ConclusionDate.$invalid && vm.submitted) || vm.dateInvalid">
                    Insira uma data válida para o término estimado.
                  </p>
                </div>

                <!--
                  <div class="form-group">
                    <label for="related">SELECIONE SE SEU PROJETO TEM RELAÇÃO COM:</label>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="related" class="custom-control-input" id="related" ng-model="vm.isRelated">
                      <label class="custom-control-label" for="related">
                        COVID-19
                      </label>
                    </div>
                  </div>
                -->
              </div>

            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="Abstract">
                  RESUMO DO PROJETO/INICIATIVA* ({{ 250 - form.Abstract.$viewValue.length }})
                  <i class="fa fa-question-circle-o" aria-hidden="true" tooltip-placement="bottom"
                    uib-tooltip="Visão geral do projeto. Se o projeto for aprovado, esse resumo será publicado na página do projeto no site da Alumni IME 
                    e será o texto referência para que os possíveis apoiadores entendam a proposta e se convençam de que ela merece apoio. Por isso, destaque os pontos
                    mais importantes do projeto (propósito, objetivos, impactos)." 
                  ></i>
                </label>
                <textarea type="text" id="Abstract" name="Abstract" class="form-control" rows="6"
                          ng-model="vm.project.Abstract" required ng-maxlength="250"></textarea>
                <p class="help-block" ng-show="form.Abstract.$error.required && vm.submitted">
                  Insira um resumo do projeto.
                </p>
                <p class="help-block" ng-show="form.Abstract.$error.maxlength">
                  Texto muito longo.
                </p>
              </div>

              <div class="form-group">
                <label for="Description">
                  DESCRIÇÃO DO PROJETO/INICIATIVA* ({{ 1200 - form.Goals.$viewValue.length}})
                  <i class="fa fa-question-circle-o" aria-hidden="true" tooltip-placement="bottom"
                    uib-tooltip="Visão geral do projeto de forma mais detalhada (Ex.: Introdução, justificativa, 
                    relevância do projeto, impacto que se pretende gerar na formação dos alunos e/ou na sociedade,
                    aplicabilidade prática, nível de inovação, etc)" 
                  ></i>
                </label>
                <textarea
                  type="text" id="Description" name="Description" class="form-control" rows="6"
                  ng-model="vm.project.Description" required ng-maxlength="1200"
                >
                </textarea>
                <p class="help-block" ng-show="form.Description.$error.required && vm.submitted">
                  Insira a descrição do projeto.
                </p>
                <p class="help-block" ng-show="form.Description.$error.maxlength">
                  Texto muito longo.
                </p>
              </div>

              <div class="form-group">
                <label for="Goals">
                  METAS/RESULTADOS ESPERADOS PARA O PROJETO* ({{ 1200 - form.Goals.$viewValue.length}})
                  <i class="fa fa-question-circle-o" aria-hidden="true" tooltip-placement="bottom"
                    uib-tooltip="Informar todos os resultados esperados para o projeto, bem como objetivo geral e objetivos específicos." 
                  ></i>
                </label>
                <textarea
                  type="text" id="Goals" name="Goals" class="form-control" rows="6"
                  ng-model="vm.project.Goals" required ng-maxlength="1200"
                >
                </textarea>
                <p class="help-block" ng-show="form.Goals.$error.required && vm.submitted">
                  Insira as metas/resultados esperados.
                </p>
                <p class="help-block" ng-show="form.Goals.$error.maxlength">
                  Texto muito longo.
                </p>
              </div>
              
              <div class="form-group">
                <label for="Benefits">
                  BENEFÍCIOS CONCRETOS PARA O IME* E/OU PARA A SOCIEDADE ({{ 1200 - form.Benefits.$viewValue.length}})
                  <i class="fa fa-question-circle-o" aria-hidden="true" tooltip-placement="bottom"
                    uib-tooltip="A equipe deverá informar os benefícios que serão gerados com a realização do projeto/iniciativa. Os benefícios devem envolver 
                    os impactos positivos gerados para a equipe do projeto, comunidade IMEana e/ou sociedade." 
                  ></i>
                </label>
                <textarea type="text" id="Benefits" name="Benefits" class="form-control" rows="6"
                          ng-model="vm.project.Benefits" required ng-maxlength="1200"></textarea>
                <p class="help-block" ng-show="form.Benefits.$error.required && vm.submitted">
                  Insira os benefícios concretos para o IME do projeto.
                </p>
                <p class="help-block" ng-show="form.Benefits.$error.maxlength">
                  Texto muito longo.
                </p>
              </div>
            
              <!--
              <div class="row p-0">
                <div class="col-12 col-md-5">
                  <div class="form-group">
                    <label for="RewardsDescription">RECOMPENSAS PARA APOIADORES*</label>
                    <div ng-repeat="index in vm.rewardsIndex">
                      <input type="text" id="RewardsDescription" name="RewardsDescription" class="form-control" required ng-model="vm.rewardsList.RewardDescription[index-1]"></textarea>
                    </div>
                  </div>              
                </div>
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <label for="">VALOR MÍNIMO</label>
                    <div ng-if="vm.rewardsCount>1">
                      <input type="text" class="form-control" required disabled value="R$0,00">
                    </div>
                    <div ng-repeat="index in vm.rewardsIndex">
                      <input type="text" class="form-control" required disabled ng-if="index!=vm.rewardsCount-1" value="{{vm.rewardsList.Value[index-1] | currency:R$}}">
                    </div>
                  </div>              
                </div>
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <label for="">VALOR MÁXIMO</label>
                    <div ng-repeat="index in vm.rewardsIndex">
                      <input type="text" class="form-control" required ng-if="index!=vm.rewardsCount-1" ng-model="vm.rewardsList.Value[index-1]" money-mask money-mask-prepend="R$">
                    </div>
                  </div>              
                </div>
                <p class="help-block outText" ng-show="form.RewardsDescription.$error.required && vm.submitted">
                    Insira as recompensas para os apoiadores e os valores correspondentes.
                </p>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                </div>
                <div class="col-12 col-md-3">
                    <button type="button" class="btn btn-outline-secondary" ng-click="vm.addRewardsField()" ng-disabled="vm.rewardsCount !== 1 && !(vm.rewardsCount == 2 && vm.rewardsList.RewardDescription[0]) && !(vm.rewardsList.RewardDescription[vm.rewardsCount-2] && vm.rewardsList.Value[vm.rewardsCount-3])"> 
                      Adicionar Campo
                    </button>
                </div>
                <div class="col-12 col-md-3">
                  <button type="button" class="btn btn-outline-secondary" ng-click="vm.deleteRewardsField()" ng-disabled="vm.rewardsCount<=2"> 
                    Remover Campo
                  </button>
              </div>
              
              </div>
              -->

              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="CostsDescription">INVESTIMENTO REQUERIDO*</label>
                    <div ng-repeat="index in vm.costsIndex">
                      <input type="text" id="CostsDescription" name="CostsDescription" class="form-control" required ng-model="vm.costsList.Item[index-1]">
                    </div>
                  </div>              
                </div>
                <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label for="">QUANTIDADE*</label>
                    <div ng-repeat="index in vm.costsIndex">
                      <input type="number" class="form-control" required ng-model="vm.costsList.Quantity[index-1]">  
                    </div>
                  </div>              
                </div>
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <label for="">VALOR UNITÁRIO*</label>
                    <div ng-repeat="index in vm.costsIndex">
                      <input type="text" class="form-control" required ng-model="vm.costsList.UnitPrice[index-1]" money-mask money-mask-prepend="R$">  
                    </div>
                  </div>              
                </div>
                  <div class="col-12 col-md-1">
                    <div class="form-group">
                      <label class="labelHidden">EXCLUIR</label>
                        <div ng-repeat="index in vm.costsIndex">
                          <button type="button" class="form-control" aria-label="Close" ng-click="vm.deleteCostsField(index)" ng-disabled="vm.costsCount==2">
                            <span aria-hidden="true"></span>&times;</span>
                          </button>
                        </div>
                    </div>
                  </div>
                  <p class="help-block outText" ng-show="form.CostsDescription.$error.required && vm.submitted">
                      Insira a descrição e o valor do investimento necessário.
                  </p>
              </div>
              <div class="row">
                <div class="col-12 col-md-9">
                </div>
                <div class="col-12 col-md-3">
                    <button type="button" class="btn btn-outline-secondary" ng-click="vm.addCostsField()" ng-disabled="vm.costsCount !== 1 && !(vm.costsList.Item[vm.costsCount-2] && vm.costsList.UnitPrice[vm.costsCount-2] && vm.costsList.Quantity[vm.costsCount-2])"> 
                      Adicionar Campo
                    </button>
                </div>
              </div>
              <div class="row">
                <div class="col-12 com-md-3">
                  <label>ORÇAMENTO FINAL:{{vm.setBudget()}} {{vm.budget | currency}}</label>
                  <p class="help-block" ng-show="vm.budget>vm.fundLimit">
                    O valor do projeto deve ser inferior à {{vm.fundLimit | currency}}.
                  </p>
                </div>
              </div>

              <br>
              <label>CRONOGRAMA FÍSICO-FINANCEIRO*</label>

              <div class="form-group drop-images" ngf-drop="vm.checkDoc($files, $invalidFiles)" ng-model="vm.uploadDoc" 
                ngf-select-disabled="false" ngf-drag-over-class="'drag-over'" ngf-max-size="vm.maxSize"
                accept=".xlsx, .xls" ngf-pattern="'.xlsx, .xls'"
              >

                <div class="row">
                  <div class="col-auto icon-container">
                    <img src="assets/images/docs.svg" alt="Upload Sheets" class="icon-images" ng-if="vm.uploadDoc==null">
                    <img src="assets/images/docs-ok.svg" alt="Upload Sheets" class="icon-images" ng-if="vm.uploadDoc!=null">
                  </div>
                  <div class="col col-lg-8">
                    <p class="upload-text">
                      <a class="btn btn-link text-info upload-link" name="docFile"
                        ngf-select="vm.checkDoc($files, $invalidFiles)" ng-model="vm.uploadDoc" ngf-max-size="vm.maxSize"
                        accept=".xlsx, .xls" ngf-pattern="'.xlsx, .xls'" 
                      >
                        Faça upload
                      </a> do cronograma físico-financeiro referente ao projeto.
                      <br>
                      <span class="upload-legend">Solte a planilha aqui (Formatos aceitos: '.xls' e '.xlsx').<br>Tamanho máximo: {{vm.maxSize}}</span>
                    </p>
                  </div>
                  <a href="/assets/documents/ANEXO_IV-Cronograma_Físico_Financeiro.xlsx" target="_blank" id="model" class="col-auto icon-container">
                    <img src="assets/images/mockup.svg" alt="Upload Sheets" class="icon-images" tooltip-placement="bottom"
                      uib-tooltip="Clique para fazer o download do documento modelo (Anexo IV)." 
                    >
                    <p>Documento<br>Modelo</p>
                  </a>
                </div>

                <p class="help-block" ng-show="form.docFile.$error.maxSize || form.docFile.$error.pattern">
                  O arquivo ultrapassou o tamanho máximo. Tente novamente.
                </p>

                <p class="help-block" ng-show="vm.uploadDoc == null && vm.submitted">
                  Insira o cronograma físico-financeiro do projeto.
                </p>
              </div>

              <br>
              <label>INSERIR FOTOS*</label>

              <div class="form-group drop-images" ngf-drop="vm.updateImages(vm.uploadImages)"
                   ng-change="vm.updateImages(vm.uploadImages)"
                   ng-model="vm.uploadImages"
                   ngf-keep="true" ngf-select-disabled="true" ngf-resize="{quality: vm.imageQuality}"
                   ngf-drag-over-class="'drag-over'" ngf-multiple="true" ngf-allow-dir="true"
                   accept="image/*" ngf-pattern="'image/*'" ngf-max-files="vm.maxImages" ngf-max-size="vm.maxSize">

                <div class="row">
                  <div class="col-auto icon-container">
                    <img src="assets/images/images.svg" alt="Upload Images" class="icon-images">
                  </div>
                  <div class="col">
                    <p class="upload-text">
                      <a class="btn btn-link text-info upload-link" name="files"
                         ngf-select ng-click="vm.updateImages(null)" ng-change="vm.updateImages(vm.uploadImages)" 
                         ng-model="vm.uploadImages" ngf-keep="true" ngf-multiple="true" ngf-allow-dir="true" accept="image/*"
                         ngf-resize="{quality: vm.imageQuality}"
                         ngf-pattern="'image/*'" ngf-max-files="vm.maxImages" ngf-max-size="vm.maxSize">
                        Faça upload
                      </a> de fotos referentes ao projeto.
                      <br>
                      <span class="upload-legend">Solte as imagens aqui. Adicione até {{vm.maxImages}} fotos. <br>Tamanho máximo: {{vm.maxSize}}</span>
                    </p>
                  </div>
                </div>

                <div class="card-deck upload-images">

                  <div class="col-12 col-sm-6 col-lg-4 pl-0 pr-0" ng-repeat="file in vm.uploadImages">
                    <div class="card mb-3">
                      <img ng-if="file" ngf-thumbnail="file"/>
                      <i ng-if="file.size && $index === 0" class="fa fa-bookmark principal-image-button"
                         uib-tooltip="Imagem principal" tooltip-placement="right"></i>
                      <i ng-if="file.size && $index !== 0" class="fa fa-bookmark-o principal-image-button"
                         uib-tooltip="Selecionar como imagem principal" tooltip-placement="right"
                         ng-click="vm.choosePrincipal(file)"></i>
                      <i ng-if="file.size" class="fa fa-close close-button" ng-click="vm.removeImage(file)"
                         uib-tooltip="Remover imagem" tooltip-placement="left"></i>
                    </div>
                  </div>

                  <!--<div class="col-12 col-sm-6 col-md-4 pl-0 pr-0" ng-repeat="file in vm.thumbnailImages">-->
                  <!--<div class="card mb-3">-->
                  <!--</div>-->
                  <!--</div>-->

                  <div class="col-12 col-sm-6 col-lg-4 pl-0 pr-0">
                    <div class="card card-plus d-flex align-items-center justify-content-center mb-3"
                         ng-if="vm.uploadImages.length < vm.maxImages" ngf-resize="{quality: vm.imageQuality}"
                         ng-click="vm.updateImages(null)" ngf-select ng-change="vm.updateImages(vm.uploadImages)"
                         ng-model="vm.uploadImages"
                         ngf-keep="true" ngf-multiple="true" ngf-allow-dir="true" accept="image/*"
                         ngf-pattern="'image/*'" ngf-max-files="vm.maxImages" ngf-max-size="vm.maxSize">
                      <img class="m-auto" src="assets/images/plus.svg">
                    </div>
                  </div>
                </div>

                <p class="help-block" ng-show="form.files.$error.maxSize">
                  Uma ou mais imagens inseridas ultrapassam o tamanho máximo. Tente novamente.
                </p>

                <p class="help-block" ng-show="vm.uploadImages.length === 0 && vm.submitted">
                  Insira pelo menos uma imagem para o projeto.
                </p>

                <!--<p>{{vm.progress}}</p>-->

              </div>


            </div>
          </div>

          <br>
          <div class="row justify-content-end">
            <div class="col-auto">
              <button href="#" class="btn btn-danger m-auto btn-submit" type="submit">
                SUBMETER PROJETO
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
