.submission-view {
  margin: 30px 0 50px;

  .title {
    font-weight: 700;
    color: #333333;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .field {
    font-size: 10px;
    color: #828282;
    padding-top: 20px;
  }

  label {
    font-size: 11px;
    margin-left: 5px;
    color: #828282;
  }

  .btn-danger {
    font-family: "Roboto", "Merriweather Sans", -apple-system, sans-serif;
    font-weight: 600;
    font-size: 14px;
    min-width: 200px;
    height: 45px;
    padding-top: 8px;
  }

  .btn-danger:hover, .btn-danger.active {
    background-color: rgb(199, 66, 14);
  }

  .btn-submit {
    background-color: #E84E0F;
    border-radius: 30px;
  }

  form {
    padding-bottom: 10px;
  }

  form input, form select, form textarea {
    border-radius: 0 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #bdbdbd;
    font-size: 14px;
  }

  form textarea {
    width: 100%;
    margin-bottom: 30px;
  }

  .help-block {
    margin-top: 10px;
    font-size: 12px;
    color: #E84E0F;
  }

  .icon-images {
    margin-top: 30px;
    margin-left: 20px;
  }

  .upload-link {
    padding: 6px 0;
  }

  .upload-text {
    margin-top: 15px;
  }

  .upload-legend {
    font-size: 14px;
    color: #828282;
  }

  .upload-images {
    .card {
      background-color: #c4c4c4;
      border-radius: 0;
      height: 160px;
      align-items: flex-start;
      display: flex;
      justify-content: center;
      overflow: hidden;

      .close-button {
        padding: 5px;
        background-color: #fff;
        position: absolute;
        cursor: pointer;
        top: 10px;
        right: 10px;
        color: #828282;
      }
      .principal-image-button {
        padding: 5px;
        background-color: #fff;
        position: absolute;
        cursor: pointer;
        top: 10px;
        left: 10px;
        color: #828282;
      }
    }
    .card img {
      flex-shrink: 0;
      min-width: 110%;
      min-height: 100%;
      max-width: 100%;
      align-self: center;
    }
    .card-plus {
      background-color: #fff;
      border: 2px solid #bdbdbd;
      cursor: pointer;

      img {
        height: 24px;
        width: 24px;
        min-width: 0;
      }
    }
  }

  .drop-images {
    padding: 5px 15px;
  }

  .drag-over {
    outline: 3px dashed #828282;
  }

}
