.spacer { margin:0; padding:0; height:50px; }

.block{
    min-height: 250px;
    padding-top: 30px;
    padding-bottom: 30px;
    //padding-left: 15px;
    
    font-family: 'Merriweather Sans';
}

.title{
    font-weight: bold;
    color: #333333;
    font-size: 20px;
}

.field{
    font-size: 10px;
    color: #828282;
    padding-top: 20px; 
}


  .form-group label {
    font-size: 11px;
    margin-left: 5px;
  }

  span {
    font-size: 16px;
    color: #828282;
    text-align: center;
  }

  form {
    padding-bottom: 10px;
  }

  form input, form select {
    border-radius: 0 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #bdbdbd;
  }

  .help-block {
    margin-top: 10px;
    font-size: 12px;
    color: red;
  }
