.spacer { margin:0; padding:0; height:50px; }

.block{
    min-height: 250px;
    padding-top: 30px;
    padding-bottom: 30px;
    //padding-left: 15px;
    
    font-family: 'Merriweather Sans';
    font-size: 20px;
}

.title{
    font-weight: bold;
    color: #333333;
}