<div class="modal-header d-block">
  <i class="fa fa-close close-button" ng-click="vm.cancelModal()"></i>
  <h5 class="modal-title text-center mt-3" id="modal-title">Adicionar Newsletter</h5>
</div>

<div class="modal-body pl-4 pr-4 pl-lg-5 pr-lg-5 pb-4" id="modal-body">

  <form class="form" name="form" ng-submit="vm.submitNews(form)" novalidate>

    <div class="row mt-2">

      <div class="col-12 col-sm-6">

        <div class="form-group">
          <label for="Month">Mês</label>
          <input type="number" id="Title" name="Month" class="form-control"
                    ng-model="vm.month" required></input>
          <p class="help-block" ng-show="form.Month.$error.required && vm.submitted">
            Insira o mês da newsletter.
          </p>
          <label for="Year">Ano</label>
          <input type="number" id="Title" name="Year" class="form-control"
                    ng-model="vm.year" required></input>
          <p class="help-block" ng-show="form.Year.$error.required && vm.submitted">
            Insira o ano da newsletter.
          </p>
          <label for="Year">URL da newsletter</label>
          <input type="text" id="Title" name="URL" class="form-control"
                    ng-model="vm.url" required></input>
          <p class="help-block" ng-show="form.URL.$error.required && vm.submitted">
            Insira a url da newsletter.
          </p>
        </div>
      </div>
    </div>
    <button href="#" class="btn btn-danger mx-auto mt-3" type="submit">
      SALVAR
    </button>

  </form>

</div>