<div class="modal-header d-block">
    <i class="fa fa-close close-button" ng-click="vm.cancelModal()"></i>
    <h5 class="modal-title text-center mt-3" id="modal-title">{{vm.project.ProjectId ? vm.project.ProjectName : 'Cadastrar projeto'}}</h5>
</div>

<div class="modal-body pl-4 pr-4 pl-lg-5 pr-lg-5 pb-4" id="modal-body">
  <div class="row justify-content-center p-0" ng-if="vm.project.ProjectId">
    <div ng-if = "vm.project.IsApproved == 1" id="statusForm" class="card" style="width: 100%;">
      <a href="#" class="text-dark  collapse-icon pull-right" ng-click="vm.collapseStatus = !vm.collapseStatus" style = "background-color: #f0f0f0;">
        <h5 class="card-header">
          Situação
          <!-- <span class="pull-right collapse-icon"> -->
          <i class="fa fa-angle-down pull-right" ng-hide="!vm.collapseStatus"></i> 
          <i class="fa fa-angle-up pull-right" ng-hide="vm.collapseStatus"></i> 
          <!-- </span> -->
        </h5>
      </a>
      <div class="card-body pb-4" ng-hide="vm.collapseStatus">
        <form class="form" name="form" ng-submit="vm.updateStatus(form)" novalidate>
          <div class="row p-0">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>VALOR ORÇADO</label>
                <input type="text" id="EstimatedPriceInCents" name="EstimatedPriceInCents" class="form-control" required
                    ng-model="vm.project.EstimatedPriceInCents" money-mask money-mask-prepend="R$">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>VALOR REPASSADO</label>
                  <input type="text" id="CollectedPriceInCents" name="CollectedPriceInCents" class="form-control" required
                    ng-model="vm.project.CollectedPriceInCents" money-mask money-mask-prepend="R$">
                </div>
              </div>
          </div>
          <button class="btn btn-danger mx-auto mt-3" type="submit">
              SALVAR
            </button>
        </form>
      </div>
    </div>     
  </div>

  <div class="row justify-content-center p-0" ng-if="vm.project.ProjectId">
    <div id="infoForm" class="card" style="width: 100%;">
      <a href="#" class="text-dark  collapse-icon pull-right" ng-click="vm.collapseInfo = !vm.collapseInfo" style = "background-color: #f0f0f0;">
        <h5 class="card-header">
          Informações do Projeto
          <!-- <span class="pull-right collapse-icon"> -->
          <i class="fa fa-angle-down pull-right" ng-hide="!vm.collapseInfo"></i> 
          <i class="fa fa-angle-up pull-right" ng-hide="vm.collapseInfo"></i> 
          <!-- </span> -->
        </h5>
      </a>
      <div class="card-body pb-4" ng-hide="vm.collapseInfo">
        <form class="form" name="form" ng-submit="vm.updateStatus(form)" novalidate>
          <div class="row p-0">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>NOME DO PROJETO/INICIATIVA</label>
                <input type="text" id="ProjectName" name="ProjectName" class="form-control" required
                    ng-model="vm.project.ProjectName">
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>NOME DA INICIATIVA OU EQUIPE</label>
                <input type="text" id="TeamName" name="TeamName" class="form-control" required
                    ng-model="vm.project.TeamName">
              </div>
            </div>
          </div> 

          <div class="row p-0">
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label>LÍDER DA EQUIPE</label>
                <input type="text" id="LeaderName" name="LeaderName" class="form-control" required
                    ng-model="vm.project.leader.name">
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label>EMAIL LÍDER</label>
                <input type="text" id="LeaderEmail" name="LeaderEmail" class="form-control" required
                    ng-model="vm.project.leader.email">
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label>TELEFONE LÍDER</label>
                <input type="text" id="LeaderPhone" name="LeaderPhone" class="form-control" 
                    ng-model="vm.project.leader.Phone">
              </div>
            </div>
          </div> 

          <div class="row p-0">
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label>EQUIPE</label>
                <input type="text" id="TeamMembers" name="TeamMembers" class="form-control" required
                    ng-model="vm.project.TeamMembers">
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label>SOLICITANTE</label>
                <input type="text" id="SubmissionerName" name="SubmissionerName" class="form-control" required
                    ng-model="vm.project.submissioner.name">
              </div>
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label for="ConclusionDate">DATA DE ARRECADAÇÃO LIMITE</label>
              <input type="text" id="FundingDate" name="FundingDate"
                     class="form-control" placeholder="dd/mm/yyyy" mask="39/19/2999"
                     ng-model="vm.FundingDate" required
                     ng-change="vm.dateInvalid = vm.Util.invalidFutureDate(vm.FundingDate)">
              <p class="help-block" ng-show="(form.FundingDate.$invalid && vm.submitted) || vm.dateInvalid">
                Insira uma data válida para o término da arrecadação.
              </p>
            </div>
          </div>

          <div class="row p-0">
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label>PROFESSOR</label>
                <input type="text" id="ProfessorName" name="ProfessorName" class="form-control" required
                    ng-model="vm.project.professor.name">
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label>EMAIL PROF</label>
                <input type="text" id="ProfessorEmail" name="ProfessorEmail" class="form-control" required
                    ng-model="vm.project.professor.email">
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label>TELEFONE PROF</label>
                <input type="text" id="ProfessorPhone" name="ProfessorPhone" class="form-control" 
                    ng-model="vm.project.professor.Phone">
              </div>
            </div>
          </div> 
          
          <div class="row p-0">
            <div class="col-12" ng-class="{'col-sm-6':vm.project.Year<=2020, 'col-sm-4':vm.project.Year>2020}">
              <div class="form-group">
                <label>AL IMPACTADOS DIRETAMENTE</label>
                <input type="text" id="ProjectName" name="ProjectName" class="form-control" required
                    ng-model="vm.project.StudentsNoDirectly">
              </div>
            </div>
            <div class="col-12 col-sm-4" ng-if="vm.project.Year>2020">
              <div class="form-group">
                <label>AL IMPACTADOS INDIRETAMENTE</label>
                <input type="text" id="ProjectName" name="ProjectName" class="form-control" required
                    ng-model="vm.project.StudentsNoIndirectly">
              </div>
            </div>
            <div class="col-12" ng-if="vm.project.IsApproved == 0"  ng-class="{'col-sm-6':vm.project.Year<=2020, 'col-sm-4':vm.project.Year>2020}">
              <div class="form-group">
                <label>VALOR ORÇADO</label>
                <input type="text" id="TeamName" name="TeamName" class="form-control" required
                    ng-model="vm.project.EstimatedPriceInCents" money-mask money-mask-prepend="R$">
              </div>
            </div>
          </div> 

          <div class="row p-0" ng-if="vm.project.Year>2020">
            <div class="col-12 col-sm-6" >
              <div class="form-group">
                <label>CATEGORIA</label>
                <input type="text" id="Category" name="Category" class="form-control" required
                    ng-model="vm.project.Category">
              </div>
            </div>
            <div class="col-12 col-sm-6" >
              <div class="form-group">
                <label>TEMA</label>
                <input type="text" id="Theme" name="Theme" class="form-control" required
                    ng-model="vm.project.Theme">
              </div>
            </div>
          </div> 
          
          <div class="row p-0">
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label>RESUMO DO PROJETO/INICIATIVA</label>
                <textarea type="text" id="Abstract" name="Abstract" class="form-control" rows="8" required
                    ng-model="vm.project.Abstract"></textarea>
              </div>
            </div>
          </div> 

          <div class="row p-0" ng-if="vm.project.Year>2020">
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label>DESCRIÇÃO DO PROJETO/INICIATIVA</label>
                <textarea type="text" id="Description" name="Description" class="form-control" rows="8" required
                    ng-model="vm.project.Summary"></textarea>
              </div>
            </div>
          </div> 

          <div class="row p-0">
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label>METAS/RESULTADOS ESPERADOS PARA O PROJETO</label>
                <textarea type="text" id="Goals" name="Goals" class="form-control" rows="8" required
                    ng-model="vm.project.Goals"></textarea>
              </div>
            </div>
          </div> 
          
          <div class="row p-0">
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label>BENEFÍCIOS CONCRETOS PARA O IME E/OU PARA A SOCIEDADE</label>
                <textarea type="text" id="Benefits" name="Benefits" class="form-control" rows="8" required
                    ng-model="vm.project.Benefits"></textarea>
              </div>
            </div>
          </div> 

          <div class="row p-0" ng-if="vm.project.Year<=2020">
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label>CRONOGRAMA</label>
                <textarea type="text" id="Schedule" name="Schedule" class="form-control" rows="8" required
                    ng-model="vm.project.Schedule"></textarea>
              </div>
            </div>
          </div>
          
          <!--Rewards Field-->
          <div class="row p-0" ng-if="vm.project.Year<=2020">
            <div class="col-12 col-md-5">
              <div class="form-group">
                <label for="">RECOMPENSAS PARA APOIADORES</label>
                <div ng-repeat="index in vm.rewardsIndex">
                  <input type="text" class="form-control" required ng-model="vm.rewardsList.RewardDescription[index-1]"></textarea>
                </div>
              </div>              
            </div>
            <div class="col-12 col-md-3">
              <div class="form-group">
                <label for="">VALOR MINIMO</label>
                <div ng-if="vm.rewardsCount>1">
                  <input type="text" class="form-control" required disabled value="R$0,00">
                </div>
                <div ng-repeat="index in vm.rewardsIndex">
                  <input type="text" class="form-control" required disabled ng-if="index!=vm.rewardsCount-1" value="{{vm.rewardsList.Value[index-1] | currency:R$}}">
                </div>
              </div>              
            </div>
            <div class="col-12 col-md-3">
              <div class="form-group">
                <label for="">VALOR MÁXIMO</label>
                <div ng-repeat="index in vm.rewardsIndex">
                  <input type="text" class="form-control" required ng-if="index!=vm.rewardsCount-1" ng-model="vm.rewardsList.Value[index-1]" money-mask money-mask-prepend="R$">
                </div>
              </div>              
            </div>
          </div>
          <div class="row" ng-if="vm.project.Year<=2020">
            <div class="col-12 col-md-6">
            </div>
            <div class="col-12 col-md-3">
              <button type="button" class="btn btn-outline-secondary" ng-click="vm.addRewardsField()" ng-disabled="vm.rewardsCount !== 1 && !(vm.rewardsCount == 2 && vm.rewardsList.RewardDescription[0]) && !(vm.rewardsList.RewardDescription[vm.rewardsCount-2] && vm.rewardsList.Value[vm.rewardsCount-3])"> 
                Adicionar Campo
              </button>
            </div>
            <div class="col-12 col-md-3">
              <button type="button" class="btn btn-outline-secondary" ng-click="vm.deleteRewardsField()" ng-disabled="vm.rewardsCount==1"> 
                Remover Campo
              </button>
            </div>
          </div>

          <div class="col form-group p-0" ng-if="vm.project.Year>2020">
            <label>CRONOGRAMA FÍSICO-FINANCEIRO</label>
            <a href="{{vm.project.Schedule}}" target="_blank" id="model" class="row-auto icon-container p-3">
              <img src="assets/images/mockup.svg" alt="Upload Sheets" class="icon-images">
              <p>Download - {{vm.docName}}</p>
            </a>
          </div>

          <div class="row p-0">
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label>FOTOS</label>
                <div class="col">
                  <div ng-repeat="image in vm.project.images | orderBy:'OrderIndex'" class="row imageDiv justify-content-center">
                    <a ng-if="image.ImageId > 0" href="{{image.Path}}" target="_blank">
                      <img src="{{image.Path}}">
                    </a>
                    
                    <div class="col-3 align-self-center order-buttons">
                      <br>
                      <button type="button" class="btn btn-light mt-2" ng-click="vm.upImg(image)"><i class="fa fa-arrow-up"></i></button>
                      <button type="button" class="btn btn-light mt-2" ng-click="vm.downImg(image)"><i class="fa fa-arrow-down"></i></button>
                      <button type="button" class="btn btn-light mt-2" ng-click="vm.rmImg(image)"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                </div>

                <label>ADICIONAR FOTOS</label>
                <div class="col">
                  <div class="form-group drop-images" ngf-drop="vm.updateImages(vm.uploadImages)"
                    ng-change="vm.updateImages(vm.uploadImages)"
                    ng-model="vm.uploadImages"
                    ngf-keep="true" ngf-select-disabled="true" ngf-resize="{quality: vm.imageQuality}"
                    ngf-drag-over-class="'drag-over'" ngf-multiple="true" ngf-allow-dir="true"
                    accept="image/*" ngf-pattern="'image/*'" ngf-max-files="vm.maxImages" ngf-max-size="vm.maxSize">

                    <div class="card-deck upload-images">
                      <div class="col-12 col-sm-6 col-lg-4 pl-0 pr-0" ng-repeat="file in vm.uploadImages">
                        <div class="card mb-3">
                          <img ng-if="file" ngf-thumbnail="file"/>
                          <i ng-if="file.size" class="fa fa-close close-button" ng-click="vm.removeImage(file)"
                            uib-tooltip="Remover imagem" tooltip-placement="left"></i>
                        </div>
                      </div>

                      <div class="col-12 col-sm-6 col-lg-4 pl-0 pr-0">
                        <div class="card card-plus d-flex align-items-center justify-content-center mb-3"
                          ng-if="vm.uploadImages.length < vm.maxImages" ngf-resize="{quality: vm.imageQuality}"
                          ng-click="vm.updateImages(null)" ngf-select ng-change="vm.updateImages(vm.uploadImages)"
                          ng-model="vm.uploadImages"
                          ngf-keep="true" ngf-multiple="true" ngf-allow-dir="true" accept="image/*"
                          ngf-pattern="'image/*'" ngf-max-files="vm.maxImages" ngf-max-size="vm.maxSize">
                          <img class="m-auto" src="assets/images/plus.svg">
                        </div>
                      </div>
                    </div>

                    <p class="help-block" ng-show="form.files.$error.maxSize">
                      Uma ou mais imagens inseridas ultrapassam o tamanho máximo. Tente novamente.
                    </p>
                  </div>
                </div>
                
              </div>
            </div>
          </div> 

          <div class="row" ng-if="vm.project.Year >= 2019">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="">INVESTIMENTO REQUERIDO*</label>
                <div ng-repeat="index in vm.costsIndex">
                  <input type="text" class="form-control" required ng-model="vm.costsList.Item[index-1]">
                </div>
              </div>              
            </div>
            <div class="col-12 col-md-2">
              <div class="form-group">
                <label for="">QUANTIDADE*</label>
                <div ng-repeat="index in vm.costsIndex">
                  <input type="number" class="form-control" required ng-model="vm.costsList.Quantity[index-1]">  
                </div>
              </div>              
            </div>
            <div class="col-12 col-md-3">
              <div class="form-group">
                <label for="">VALOR UNITÁRIO*</label>
                <div ng-repeat="index in vm.costsIndex">
                  <input type="text" class="form-control" required ng-model="vm.costsList.UnitPrice[index-1]" money-mask money-mask-prepend="R$">  
                </div>
              </div>              
            </div>
              <div class="col-12 col-md-1">
                <div class="form-group">
                  <label class="labelHidden">EXCLUIR</label>
                    <div ng-repeat="index in vm.costsIndex">
                      <button type="button" class="form-control" aria-label="Close" ng-click="vm.deleteCostsField(index)">
                        <span aria-hidden="true"></span>&times;</span>
                      </button>
                    </div>
                </div>
              </div>
          </div>
          <div class="row" ng-if="vm.project.Year >= 2019">
            <div class="col-12 col-md-9">
            </div>
            <div class="col-12 col-md-3">
                <button type="button" class="btn btn-outline-secondary" ng-click="vm.addCostsField()" ng-disabled="vm.costsCount !== 1 && !(vm.costsList.Item[vm.costsCount-2] && vm.costsList.UnitPrice[vm.costsCount-2] && vm.costsList.Quantity[vm.costsCount-2])"> 
                  Adicionar Campo
                </button>
            </div>
          </div>

          <div class="custom-control custom-checkbox my-2">
            <input type="checkbox" name="IsApproved" class="custom-control-input" id="IsApproved" ng-model="vm.project.IsApproved">
            <label class="custom-control-label" for="IsApproved">
              Aprovar projeto
            </label>
          </div>

          <button class="btn btn-danger mx-auto mt-3" type="submit">
            SALVAR
          </button>
        </form>
      </div>
    </div>
  </div>     
</div>