<div class="container donatorsHallView">

  <h5 class="page-title" ng-if="vm.state.Type=='individual'">
    Galeria de Apoiadores {{vm.state.Name}} {{vm.state.Year}}
  </h5>
  <h5 class="page-title" ng-if="vm.state.Type=='corporativo'">
    Apoiadores {{vm.state.Name}} {{vm.state.Year}}
  </h5>

  <div class="row" ng-if="vm.state.Type=='individual'">
    
    <div class="col-12 col-lg-5 intro">
          A Alumni IME conta com o suporte de ex-alunos e amigos do IME para realizar suas atividades de integração e incentivar projetos de alunos e professores. Gostaríamos de agradecer a todas as pessoas abaixo que puderam contribuir de alguma forma! Muito Obrigado!
          <br><br>
          Em {{vm.state.Year}} já foram <b>{{vm.DonatorHall.list.length}} apoiadores</b>, divididos nas categorias:
          <ul>
            <li>Patrono: {{vm.totalCategory[0]}}</li>
            <li>Platina: {{vm.totalCategory[1]}}</li>
            <li>Ouro: {{vm.totalCategory[2]}}</li>
            <li>Prata: {{vm.totalCategory[3]}}</li>
            <li>Bronze: {{vm.totalCategory[4]}}</li>
            <li>Apoio: {{vm.totalCategory[5]}}</li>
            <li>Premium: {{vm.totalCategory[6]}}</li>
            <li>Papiro: {{vm.totalCategory[7]}}</li>
          </ul>
          <br>
          <!--
            <a ng-href="/turmas/ranking">Veja o ranking das turmas</a>
          -->
          <br>
          <hr>

          Una-se a este grupo e doe você também. Clique AGORA no link abaixo. É simples e qualquer valor ajuda muito!
          <br>
          <br>
          <a class="nav-link btn btn-danger d-none d-md-block" href="support" role="button">APOIE</a>  
    </div>
    <div class="col-12 col-lg-7">
        
        <div class="form-group">
          <input type="text" name="SearchText" placeholder="Pesquisar por nome, turma ou perfil..." ng-change="vm.updateFilter()" class="form-control input-search" 
                ng-model="vm.searchText">
        </div>  
      <nav class="nav nav-tabs flex-column flex-sm-row" ng-hide='vm.state.Year > 2019'>
        <a class="nav-item nav-link active" data-toggle="tab" href="#all">Todos</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#patron">Patrono</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#platinum">Platina</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#gold">Ouro</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#silver">Prata</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#bronze">Bronze</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#support">Apoio</a>
        
      </nav>
      <nav class="nav nav-tabs flex-column flex-sm-row" ng-hide='vm.state.Year <= 2019'>
        <a class="nav-item nav-link active" data-toggle="tab" href="#all">Todos</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#premium">Premium</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#gold">Ouro</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#silver">Prata</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#bronze">Bronze</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#papiro">Papiro</a>

      </nav>
      <div class="tab-content">
          
        <div id="all" class="tab-pane fade show active">
          <table class="table table-striped table-hover table-fixed table-responsive-md table-sm">
            <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Perfil</th>
              <th scope="col">Turma</th>
              <th scope="col">Categoria</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="donator in vm.filteredList | orderBy: 'DonatorName'">
              <td>{{donator.IsAnonymous ? "Anônimo" : donator.DonatorName}}</td>
              <td>
                {{donator.personType.PortugueseDescription}}
              </td>
              <td>{{donator.FormerStudentId ? donator.formerStudent.GraduationYear : "-"}}</td>
              <td>{{donator.category.Name}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="patron" class="tab-pane fade show">
            <table class="table table-striped table-hover table-fixed table-responsive-md table-sm">
              <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Perfil</th>
                <th scope="col">Turma</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="donator in vm.filteredList | filter: {CategoryId: 1} | orderBy: 'DonatorName'">
                <td>{{donator.IsAnonymous ? "Anônimo" : donator.DonatorName}}</td>
                <td>
                  {{donator.personType.PortugueseDescription}}
                </td>
                <td>{{donator.FormerStudentId ? donator.formerStudent.GraduationYear : "-"}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        <div id="platinum" class="tab-pane fade show">
          <table class="table table-striped table-hover table-fixed table-responsive-md table-sm">
            <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Perfil</th>
              <th scope="col">Turma</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="donator in vm.filteredList | filter: {CategoryId: 2} | orderBy: 'DonatorName'">
              <td>{{donator.IsAnonymous ? "Anônimo" : donator.DonatorName}}</td>
              <td>
                {{donator.personType.PortugueseDescription}}
              </td>
              <td>{{donator.FormerStudentId ? donator.formerStudent.GraduationYear : "-"}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="gold" class="tab-pane fade show">
          <table class="table table-striped table-hover table-fixed table-responsive-md table-sm">
            <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Perfil</th>
              <th scope="col">Turma</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="donator in vm.filteredList | filter: {CategoryId: 3} | orderBy: 'DonatorName'">
              <td>{{donator.IsAnonymous ? "Anônimo" : donator.DonatorName}}</td>
              <td>
                {{donator.personType.PortugueseDescription}}
              </td>
              <td>{{donator.FormerStudentId ? donator.formerStudent.GraduationYear : "-"}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="silver" class="tab-pane fade show">
          <table class="table table-striped table-hover table-fixed table-responsive-md table-sm">
            <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Perfil</th>
              <th scope="col">Turma</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="donator in vm.filteredList | filter: {CategoryId: 4} | orderBy: 'DonatorName'">
              <td>{{donator.IsAnonymous ? "Anônimo" : donator.DonatorName}}</td>
              <td>
                {{donator.personType.PortugueseDescription}}
              </td>
              <td>{{donator.FormerStudentId ? donator.formerStudent.GraduationYear : "-"}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="bronze" class="tab-pane fade show">
          <table class="table table-striped table-hover table-fixed table-responsive-md table-sm">
            <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Perfil</th>
              <th scope="col">Turma</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="donator in vm.filteredList | filter: {CategoryId: 5} | orderBy: 'DonatorName'">
              <td>{{donator.IsAnonymous ? "Anônimo" : donator.DonatorName}}</td>
              <td>
                {{donator.personType.PortugueseDescription}}
              </td>
              <td>{{donator.FormerStudentId ? donator.formerStudent.GraduationYear : "-"}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="support" class="tab-pane fade show">
          <table class="table table-striped table-hover table-fixed table-responsive-md table-sm">
            <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Perfil</th>
              <th scope="col">Turma</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="donator in vm.filteredList | filter: {CategoryId: 6} | orderBy: 'DonatorName'">
              <td>{{donator.IsAnonymous ? "Anônimo" : donator.DonatorName}}</td>
              <td>
                {{donator.personType.PortugueseDescription}}
              </td>
              <td>{{donator.FormerStudentId ? donator.formerStudent.GraduationYear : "-"}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="premium" class="tab-pane fade show">
          <table class="table table-striped table-hover table-fixed table-responsive-md table-sm">
            <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Perfil</th>
              <th scope="col">Turma</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="donator in vm.filteredList | filter: {CategoryId: 7} | orderBy: 'DonatorName'">
              <td>{{donator.IsAnonymous ? "Anônimo" : donator.DonatorName}}</td>
              <td>
                {{donator.personType.PortugueseDescription}}
              </td>
              <td>{{donator.FormerStudentId ? donator.formerStudent.GraduationYear : "-"}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="papiro" class="tab-pane fade show">
          <table class="table table-striped table-hover table-fixed table-responsive-md table-sm">
            <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Perfil</th>
              <th scope="col">Turma</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="donator in vm.filteredList | filter: {CategoryId: 8} | orderBy: 'DonatorName'">
              <td>{{donator.IsAnonymous ? "Anônimo" : donator.DonatorName}}</td>
              <td>
                {{donator.personType.PortugueseDescription}}
              </td>
              <td>{{donator.FormerStudentId ? donator.formerStudent.GraduationYear : "-"}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

  <div class="card-columns" ng-if="vm.state.Type=='corporativo'">
    
    <a ng-repeat="donator in vm.filteredList" ng-if="$index<3" href="{{donator.ExternalURL}}">
      <img class="card hvr-shadow hvr-grow" src="{{donator.ImgPath}}">
    </a>

    <img ng-if="vm.filteredList.length==4" class="d-none d-lg-block" style="height: 1px;">

    <a ng-repeat="donator in vm.filteredList" ng-if="$index>=3" href="{{donator.ExternalURL}}">
      <img class="card hvr-shadow hvr-grow" src="{{donator.ImgPath}}">
    </a>
  </div>

</div>
