<div class="container donatorsHallView">

  <h5 class="page-title">
      Galeria de Apoiadores 2019 (atualizado até Set/19)
  </h5>

  <div class="row">
    
      <div class="col-12 col-lg-5 intro">
          A Alumni IME conta com o suporte de ex-alunos e amigos do IME para realizar suas atividades de integração e incentivar projetos de alunos e professores. Gostaríamos de agradecer a todas as pessoas abaixo que puderam contribuir de alguma forma! Muito Obrigado!
          
          </div>
    <div class="col-12 col-lg-7">
        
        <div class="form-group">
          <input type="text" name="SearchText" placeholder="Pesquisar..." ng-change="vm.updateFilter()" class="form-control input-search" 
                ng-model="vm.searchText">
        </div>  
      <nav class="nav nav-tabs flex-column flex-sm-row">
        <a class="nav-item nav-link active" data-toggle="tab" href="#patron">Patrono</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#platinum">Platina</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#gold">Ouro</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#silver">Prata</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#bronze">Bronze</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#support">Apoio</a>
        
      </nav>
      <div class="tab-content">
          
        <div id="patron" class="tab-pane fade show active">
          <table class="table table-striped table-hover table-fixed table-responsive-md table-sm">
            <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Turma</th>
              <th scope="col">Perfil</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="donator in vm.filteredList | filter: {CategoryId: 1}">
              <td>{{donator.DonatorName}}</td>
              <td>
                {{donator.personType.PortugueseDescription}}
              </td>
              <td>{{donator.FormerStudentId ? donator.formerStudent.GraduationYear : "-"}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="platinum" class="tab-pane fade show">
          <table class="table table-striped table-hover table-fixed table-responsive-md table-sm">
            <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Perfil</th>
              <th scope="col">Turma</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="donator in vm.filteredList | filter: {CategoryId: 2}">
              <td>{{donator.DonatorName}}</td>
              <td>
                {{donator.personType.PortugueseDescription}}
              </td>
              <td>{{donator.FormerStudentId ? donator.formerStudent.GraduationYear : "-"}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="gold" class="tab-pane fade show">
          <table class="table table-striped table-hover table-fixed table-responsive-md table-sm">
            <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Perfil</th>
              <th scope="col">Turma</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="donator in vm.filteredList | filter: {CategoryId: 3}">
              <td>{{donator.DonatorName}}</td>
              <td>
                {{donator.personType.PortugueseDescription}}
              </td>
              <td>{{donator.FormerStudentId ? donator.formerStudent.GraduationYear : "-"}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="silver" class="tab-pane fade show">
          <table class="table table-striped table-hover table-fixed table-responsive-md table-sm">
            <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Perfil</th>
              <th scope="col">Turma</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="donator in vm.filteredList | filter: {CategoryId: 4}">
              <td>{{donator.DonatorName}}</td>
              <td>
                {{donator.personType.PortugueseDescription}}
              </td>
              <td>{{donator.FormerStudentId ? donator.formerStudent.GraduationYear : "-"}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>


</div>
