<div class="modal-header">
  <i class="fa fa-close close-button" ng-click="vm.cancelModal()"></i>
  <h5 class="modal-title text-center" id="modal-title" ng-if="!vm.openForm">
    Selecione o país de pagamento
  </h5>
  <h5 class="modal-title text-center" id="modal-title" ng-if="vm.openForm">
    Preencha os dados
  </h5>
</div>

<!--Select location-->
<div class="modal-body px-3 pb-4" id="modal-body" ng-if="!vm.openForm">
  <div>
    <button class="btn btn-danger mt-3 mx-auto" ng-click="vm.brasilCheckout()">
      <img class="countryImg" src="../../../assets/images/brazil.svg" />
    </button>
    <p>
      Brasil
    </p>
  </div>

  <div ng-if="vm.donation.Frequency != 'monthly'">
    <button class="btn btn-danger mt-3 mx-auto" ng-click="vm.worldCheckout()">
      <img class="countryImg" src="../../../assets/images/internet.svg" />
    </button>
    <p>
      Outros
    </p>
  </div>
</div>

<!--International form-->
<div class="modal-body px-3 pb-4" id="modal-body" ng-if="vm.openForm">
  <form
    class="form"
    name="form"
    ng-submit="vm.submitInternational(form)"
    novalidate
  >

    <div class="form-group">
      <input
        type="text"
        name="name"
        placeholder="Nome Completo"
        class="form-control"
        ng-model="vm.user.name"
        required
      />
      <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
        Insira seu nome completo.
      </p>
    </div>

    <div class="form-group">
      <input
        type="text"
        name="email"
        placeholder="Email"
        class="form-control"
        ng-model="vm.user.email"
        required
      />
      <p
        class="help-block"
        ng-show="form.email.$error.required && vm.submitted"
      >
        Insira seu email.
      </p>
    </div>

    <div class="form-group">
      <input
        type="text"
        name="CPF"
        placeholder="CPF"
        class="form-control"
        ng-model="vm.user.cpf"
        required
        ui-br-cpf-mask
      />
      <p class="help-block" ng-show="form.CPF.$error.required && vm.submitted">
        Insira seu CPF.
      </p>
    </div>

    <div class="form-group">
      <input
        #phone
        type="tel"
        id="phone"
        name="phone"
        ng-intl-tel-input
        class="form-control"
        ng-model="vm.user.phone"
        required
      />
      <p
        class="help-block"
        ng-show="form.phone.$error.required && vm.submitted"
      >
        Insira o seu telefone.
      </p>
    </div>

    <div class="form-group">
      <select 
        class="form-control" 
        id="country" 
        name="country" 
        ng-model="vm.user.country"
        required
      >
        <option value="">Selecione um país</option>
        <option 
          ng-repeat="(key, value) in vm.countryList"
          value="{{value['Code']}}"
        >
          {{value['Name']}}
        </option>
      </select>
      <p 
        class="help-block" 
        ng-show="form.country.$error.required && vm.submitted"
      >
      Insira o país.
      </p>
    </div>

    <div class="form-group">
      <input
        type="text"
        name="state"
        placeholder="Estado"
        class="form-control"
        ng-model="vm.user.state"
        required
      />
      <p
        class="help-block"
        ng-show="form.state.$error.required && vm.submitted"
      >
        Insira seu estado.
      </p>
    </div>

    <div class="form-group">
      <input
        type="text"
        name="city"
        placeholder="Cidade"
        class="form-control"
        ng-model="vm.user.city"
        required
      />
      <p class="help-block" ng-show="form.city.$error.required && vm.submitted">
        Insira sua cidade.
      </p>
    </div>

    <div class="form-group">
      <input
        type="text"
        name="district"
        placeholder="Bairro"
        class="form-control"
        ng-model="vm.user.neighborhood"
        required
      />
      <p
        class="help-block"
        ng-show="form.district.$error.required && vm.submitted"
      >
        Insira seu Bairro.
      </p>
    </div>

    <div class="form-group">
      <input
        type="text"
        name="cep"
        placeholder="ZIP code"
        class="form-control"
        ng-model="vm.user.zipcode"
        required
      />
      <p class="help-block" ng-show="form.cep.$error.required && vm.submitted">
        Insira seu ZIP code.
      </p>
    </div>

    <div class="form-group">
      <input
        type="text"
        name="street"
        placeholder="Rua"
        class="form-control"
        ng-model="vm.user.street"
        required
      />
      <p
        class="help-block"
        ng-show="form.street.$error.required && vm.submitted"
      >
        Insira sua rua.
      </p>
    </div>

    <div class="form-group">
      <input
        type="text"
        name="number"
        placeholder="Número"
        class="form-control"
        ng-model="vm.user.number"
        required
      />
      <p
        class="help-block"
        ng-show="form.number.$error.required && vm.submitted"
      >
        Insira o número.
      </p>
    </div>

    <div class="form-group">
      <input
        type="text"
        name="complement"
        placeholder="Complemento"
        class="form-control"
        ng-model="vm.user.complementary"
      />
    </div>

    <button class="btn btn-danger m-auto btn-connect" id="lastBtn" type="submit">
      CONTINUAR
    </button>
  </form>
</div>
