modal-email-verified {

  .modal-header {
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 30px;
  }

  img {
    max-height: 200px;
    margin-bottom: 30px;
    display: inherit;
  }

  .modal-title {
    font-weight: 700;
  }

  .btn {
    display: inherit;
    font-family: "Roboto", "Merriweather Sans", -apple-system, sans-serif;
    font-weight: 600;
    font-size: 14px;
    height: 45px;
    padding-top: 11px;
  }

  .btn-signup {
    border-radius: 30px;
  }

  @include media-breakpoint-up(lg) {
    .btn {
      width: 60%;
      min-width: 320px;
    }
  }

  @include media-breakpoint-down(md) {
    .btn {
      width: 80%;
      min-width: 0;
    }
  }

  span {
    font-size: 16px;
    color: #828282;
    text-align: center;
  }

  .description {
    padding-bottom: 15px;
    font-size: 16px;
    color: #828282;
    display: inherit;
    text-align: center;
  }

}
