modal-register-information {

  .nav-pills .nav-link {
    background-color: #bdbdbd;
    border-radius: 0;
    padding: 3px;
  }

  .nav-pills .nav-link .active {
    background-color: #0099F3;
  }

  .nav-pills .nav-item.space {
    width: 4px;
    flex: none;
  }

  .modal-header {
    border-bottom: none;
    padding-bottom: 0;
  }

  .modal-title {
    font-weight: 700;
  }

  .btn {
    display: inherit;
    font-family: "Roboto", "Merriweather Sans", -apple-system, sans-serif;
    font-weight: 600;
    font-size: 14px;
    height: 45px;
    padding-top: 11px;
  }

  @include media-breakpoint-up(lg) {
    .person_type {
      width: 80%;
      min-width: 320px;
    }
  }

  @include media-breakpoint-down(md) {
    .person_type {
      width: 95%;
      min-width: 0;
    }
  }

  .footer-links {
    padding: 0 15px;
  }

  .footer-links button {
    display: inline;
    width: auto !important;
  }

  .form-group label {
    font-size: 12px;
    margin-left: 5px;
  }

  span {
    font-size: 16px;
    color: #828282;
    text-align: center;
  }

  form {
    padding-bottom: 10px;
  }

  form input, form select {
    border-radius: 0 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #828282;
  }

  ::-webkit-input-placeholder {
    font-style: italic;
    color: #828282;
  }

  form input::placeholder, form textarea::placeholder {
    font-style: italic;
    color: #828282;
  }

  form input {
    padding: 10px 20px !important;
  }

  .help-block {
    margin-top: 10px;
    font-size: 12px;
    color: red;
  }

  .description {
    padding: 20px 0 15px;
    font-size: 14px;
    color: #828282;
    display: inherit;
    text-align: center;
  }

  .person_type {
    margin: 15px auto;
    display: inherit;
    border-color: #bdbdbd;
  }

  .person_type.selected {
    background: none;
    border: 1px solid #0093f3;
    color: #0093f3;
    outline: none;
  }

  .person_type:focus {
    outline: 10px solid #fff;
  }

  .custom-checkbox, .custom-radio {
    padding-bottom: 5px;
    margin-left: 30px;
    .custom-control-label {
      font-size: 14px;
    }
  }

}
