<div class="modal-header d-block">
  <i class="fa fa-close close-button" ng-click="vm.cancelModal()"></i>
  <h5 class="modal-title text-center mt-4" id="modal-title">{{vm.title}}</h5>
</div>

<div class="modal-body" id="modal-body">
  <span class="description text-center d-block pb-3">
      {{vm.message}}
  </span>
  <span class="description text-center d-block" ng-repeat="field in vm.content">
    {{field}}
  </span>
  
  <div class="row justify-content-between mt-4">
    <div class="col-auto pr-0">
      <button class="btn btn-outline-danger" ng-click="vm.cancelModal()">
        CANCELAR
      </button>
    </div>
    <div class="col-auto pl-0">
      <button class="btn btn-danger" ng-click="vm.ok()">
        APROVAR
      </button>
    </div>
  </div>

  <br>
</div>

