<div class="container profileView">
  <div class="row">

    <div class="d-none d-lg-block col-lg-4">
      <ul class="nav navbar-nav flex-column">
        <li class="nav-item" ng-repeat="item in vm.menu" ng-class="{active: item === vm.itemSelected}">
          <a class="nav-link" ng-click="vm.selectPage(item.route)" href="#">{{item.name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" ng-click="vm.logoutUser()">Sair</a>
        </li>
      </ul>
    </div>

    <!-- My profile -->
    <ul class="nav navbar-nav flex-column w-100 mb-2 mt-3 d-block d-lg-none">
      <li class="nav-item" ng-class="{active: vm.itemSelected.route === 'me'}">
        <a class="nav-link" ng-click="vm.selectPage('me')" href="#">Meus dados</a>
      </li>
    </ul>
    <div class="col-12 col-lg-8" ng-if="vm.itemSelected.route === 'me'" id="myProfile">

      <!-- Show profile -->
      <div class="" ng-if="!vm.editFields">

        <h1>{{vm.user.name}}</h1>
        <p class="legend"
           ng-if="vm.user.personType.Description === 'FormerStudent' || vm.user.personType.Description === 'Student'">
          {{vm.user.engineering.Description}} | {{vm.user.personType.PortugueseDescription | lowercase}}
          <br>
          Formatura {{vm.user.GraduationYear}}
        </p>
        <p class="legend" ng-if="vm.user.personType.Description === 'Professor'">
          {{vm.user.se.Description}} | {{vm.user.personType.PortugueseDescription | lowercase}}
        </p>
        <p class="legend" ng-if="vm.user.personType.Description === 'Visitor'">
          {{vm.user.personType.PortugueseDescription | lowercase}}
        </p>
        <p class="legend" ng-if="vm.user.personType.Description === 'FormerStudentAndProfessor'">
          {{vm.user.engineering.Description}} | {{vm.user.personType.PortugueseDescription | lowercase}}
          <br>
          Formatura {{vm.user.GraduationYear}}
          <br>
          {{vm.user.se.Description}}
        </p>

        <div class="row">

          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label for="emailShow">EMAIL*</label>
              <input type="text" id="emailShow" name="email" class="form-control-plaintext" readonly
                     ng-model="vm.user.email">
            </div>
            <div class="form-group">
              <label for="BirthdateShow">DATA DE NASCIMENTO*</label>
              <input type="text" id="BirthdateShow" name="Birthdate" class="form-control-plaintext" readonly
                     value="{{vm.user.Birthdate| date:'dd/MM/yyyy'}}">
            </div>
            <div class="form-group mb-0">
              <label for="InitiativesShow">{{vm.user.personType.Description === 'FormerStudent' ? 'TEVE ' : 'TEM (OU TEVE)'}}
                LIGAÇÃO COM ALGUMA INICIATIVA OU PROJETO?</label>
              <input type="text" id="InitiativesShow" name="Initiatives" class="form-control-plaintext" readonly
                     ng-value="vm.concatenateInitiativeLinks()">
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label for="GenreShow">GÊNERO*</label>
              <input type="text" id="GenreShow" name="Genre" class="form-control-plaintext" readonly
                     value="{{vm.user.Genre === 'M' ? 'Masculino' :  (vm.user.Genre === 'F' ? 'Feminino' : 'Outro')}}">
            </div>
            <div class="form-group">
              <label for="PhoneShow">TELEFONE*</label>
              <input type="text" id="PhoneShow" name="Phone" class="form-control-plaintext" readonly
                     ng-model="vm.user.Phone">
            </div>
          </div>

        </div>

        <p class="help-block text-success mt-0 mb-4">
          {{ vm.messageUpdate }}
        </p>

        <button class="btn btn-outline-info" ng-click="vm.editFields = !vm.editFields">
          ALTERAR CADASTRO
        </button>

        <br>

      </div>

      <!-- Edit profile -->
      <div class="" ng-if="vm.editFields">

        <h4>Edição de dados</h4>


        <form class="form" name="formUpdate" ng-submit="vm.saveUser(formUpdate)" novalidate>
          <div class="row">

            <div class="col-12 col-sm-6">

              <div class="form-group">
                <label for="name">NOME*</label>
                <input type="text" id="name" name="name" class="form-control" ng-model="vm.user.name" required>
                <p class="help-block" ng-show="formUpdate.name.$error.required && vm.submittedUpdate">
                  Insira seu nome.
                </p>
              </div>

              <div class="form-group">
                <label for="email">EMAIL*</label>
                <input type="text" id="email" name="email" class="form-control" ng-model="vm.user.email" required>
                <p class="help-block" ng-show="formUpdate.email.$error.required && vm.submittedUpdate">
                  Por favor, insira seu email.
                </p>
                <p class="help-block" ng-show="formUpdate.email.$error.email && vm.submittedUpdate">
                  Por favor, insira um email válido.
                </p>
              </div>

              <div class="form-group">
                <label for="Birthdate">DATA DE NASCIMENTO*</label>
                <input type="date" id="Birthdate" name="Birthdate" class="form-control"
                       ng-model="vm.user.Birthdate">
              </div>

              <div class="form-group"
                   ng-if="vm.user.personType.Description !== 'Visitor' && vm.user.personType.Description !== 'Professor'">
                <label for="GraduationEngineeringId">ENGENHARIA*</label>
                <select class="form-control" id="GraduationEngineeringId" name="GraduationEngineeringId"
                        ng-model="vm.user.GraduationEngineeringId" required
                        ng-change="vm.updateEngineering(vm.user.GraduationEngineeringId)">
                  <option ng-repeat="engineering in vm.user.engineeringList | orderBy:'Description'"
                          ng-value="engineering.EngineeringId">{{engineering.Description}}
                  </option>
                </select>
                <p class="help-block" ng-if="formUpdate.GraduationEngineeringId.$error.required && vm.submittedUpdate">
                  Insira a sua engenharia.
                </p>
              </div>

              <div class="form-group"
                   ng-if="vm.user.personType.Description === 'Visitor'">
                <label>COMO VOCÊ CONHECEU A PÁGINA?*</label>
                <div class="custom-control custom-radio" ng-repeat="option in vm.optionsToKnowList">
                  <input type="radio" id="customRadio{{$index}}" name="OptionToKnowThePage" class="custom-control-input"
                         ng-value="option.OptionTypeId" ng-model="vm.user.OptionToKnowThePageId" required>
                  <label class="custom-control-label" for="customRadio{{$index}}">{{option.Description}}</label>
                  <div class="form-group"
                       ng-if="option.Description === 'Outros' && vm.user.OptionToKnowThePageId == option.OptionTypeId">
                    <input type="text" id="OptionToKnowThePageOther" name="OptionToKnowThePageOther"
                           class="form-control"
                           ng-model="vm.user.OptionToKnowThePageOther" required>
                    <p class="help-block"
                       ng-show="formUpdate.OptionToKnowThePageOther.$error.required && vm.submittedUpdate">
                      Insira outra opção.
                    </p>
                  </div>
                </div>
                <p class="help-block" ng-show="formUpdate.OptionToKnowThePage.$error.required && vm.submittedUpdate">
                  Escolha uma opção.
                </p>
              </div>

              <div class="form-group"
                   ng-if="vm.user.personType.Description !== 'Visitor'">
                <label>{{vm.user.personType.Description === 'FormerStudent' ? 'TEVE ' : 'TEM (OU TEVE)'}}
                  LIGAÇÃO COM ALGUMA INICIATIVA OU PROJETO?</label>
                <div class="custom-control custom-checkbox" ng-repeat="initiative in vm.initiativeList">
                  <input type="checkbox" class="custom-control-input" id="customCheck{{$index}}"
                         ng-model="initiative.selected">
                  <label class="custom-control-label" for="customCheck{{$index}}">{{initiative.Description}}</label>
                  <div class="form-group"
                       ng-if="initiative.Description === 'Outros' && vm.userHasInitiative(initiative.InitiativeId)">
                    <input type="text" id="InitiativeLinkOther" name="InitiativeLinkOther"
                           class="form-control"
                           ng-model="vm.user.InitiativeLinkOther" required>
                    <p class="help-block"
                       ng-show="formUpdate.InitiativeLinkOther.$error.required && vm.submittedUpdate">
                      Insira outra opção.
                    </p>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-12 col-sm-6">

              <div class="form-group">
                <label for="Genre">GÊNERO*</label>
                <select class="form-control" id="Genre" name="Genre" ng-model="vm.user.Genre" required>
                  <option value="M">Masculino</option>
                  <option value="F">Feminino</option>
                </select>
                <p class="help-block" ng-show="formUpdate.Genre.$error.required && vm.submittedUpdate">
                  Insira o seu gênero.
                </p>
              </div>

              <div class="form-group">
                <label for="Phone">TELEFONE*</label>
                <input type="tel" id="Phone" name="Phone" placeholder="+55 (DDD) 00000-0000" class="form-control"
                       ng-model="vm.user.Phone" required>
                <p class="help-block" ng-show="formUpdate.Phone.$error.required && vm.submittedUpdate">
                  Insira o seu telefone.
                </p>
              </div>

              <div class="form-group">
                <label for="PersonTypeId">COMO VOCÊ SE ENCONTRA HOJE*</label>
                <select class="form-control" id="PersonTypeId" name="PersonTypeId" ng-model="vm.user.PersonTypeId"
                        required ng-change="vm.updatePersonType(vm.user.PersonTypeId)">
                  <option ng-repeat="type in vm.user.personTypes" ng-if="type.Description !== 'NewUser'"
                          ng-value="type.PersonTypeId">{{type.PortugueseDescription}}
                  </option>
                </select>
                <p class="help-block" ng-show="formUpdate.PersonTypeId.$error.required && vm.submittedUpdate">
                  Escolha uma opção.
                </p>
              </div>

              <div class="form-group"
                   ng-if="vm.user.personType.Description !== 'Visitor' && vm.user.personType.Description !== 'Professor'">
                <label for="GraduationYear">ANO DE FORMAÇÃO*</label>
                <select class="form-control" id="GraduationYear" name="GraduationYear" ng-model="vm.user.GraduationYear"
                        required>
                  <option ng-repeat="year in vm.graduationYears | orderBy:'-'" ng-value="year">{{year}}</option>
                </select>
                <p class="help-block" ng-if="formUpdate.GraduationYear.$error.required && vm.submittedUpdate">
                  Insira o seu ano de formação.
                </p>
              </div>

              <div class="form-group"
                   ng-if="vm.user.personType.Description === 'Professor' || vm.user.personType.Description === 'FormerStudentAndProfessor'">
                <label for="ProfessorSEId">SEÇÃO DE ENSINO ATUAL*</label>
                <select class="form-control" id="ProfessorSEId" name="ProfessorSEId"
                        ng-model="vm.user.ProfessorSEId" required>
                  <option ng-repeat="se in vm.sesList" ng-value="se.SEId">{{se.Description}}
                  </option>
                </select>
                <p class="help-block" ng-if="formUpdate.ProfessorSEId.$error.required && vm.submittedUpdate">
                  Insira a sua seção de ensino.
                </p>
              </div>

              <br>

            </div>

            <br>
            <p class="help-block mb-4" ng-show="vm.errors.update && vm.submittedUpdate">
              {{vm.errors.update}}
            </p>

            <div class="row align-items-center mt-4">
              <div class="col-xs-12 col-sm-auto">
                <button class="btn btn-outline-dark" ng-click="vm.editFields = !vm.editFields">
                  CANCELAR
                </button>
                <br class="d-block d-sm-none">
              </div>
              <div class="col-xs-12 col-sm-auto">
                <button class="btn btn-info" type="submit">
                  SALVAR
                </button>
              </div>
            </div>

          </div>
        </form>

        <form class="form" name="formPassword" ng-submit="vm.changePassword(formPassword)" novalidate>
          <div class="row mt-5">
            <div class="col-12 col-sm-6">
              <div class="card" ng-if="vm.user.provider === 'local'">
                <div class="card-body">
                  <h5 class="card-title">Alterar senha</h5>

                  <div class="form-group">
                    <label>SENHA ANTIGA*</label>
                    <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword"
                           ng-change="formPassword.password.$error.wrong = false" required/>
                    <p class="help-block"
                       ng-show="formPassword.password.$error.required && vm.submittedPassword">
                      Insira a senha antiga.
                    </p>
                    <p class="help-block" ng-show="formPassword.password.$error.wrong">
                      {{ vm.errors.password }}
                    </p>
                  </div>

                  <div class="form-group">
                    <label>NOVA SENHA*</label>
                    <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
                           ng-minlength="6" required/>
                    <p class="help-block"
                       ng-show="(formPassword.newPassword.$error.minlength || formPassword.newPassword.$error.required) && vm.submittedPassword">
                      A senha deve ter pelo menos 6 caracteres.
                    </p>
                  </div>

                  <div class="form-group">
                    <label>CONFIRMAR NOVA SENHA*</label>
                    <input type="password" name="confirmPassword" class="form-control"
                           ng-model="vm.user.confirmPassword"
                           match="vm.user.newPassword" ng-minlength="6" required/>
                    <p class="help-block" ng-show="formPassword.confirmPassword.$error.match && vm.submittedPassword">
                      As senhas devem coincidir.
                    </p>
                  </div>

                  <p class="help-block text-success mb-4"> {{ vm.messagePassword }} </p>
                  <button class="btn btn-dark m-auto" type="submit">SALVAR SENHA</button>

                </div>
              </div>
            </div>
          </div>
        </form>

      </div>

    </div>

    <!-- Submitted projects -->
    <ul class="nav navbar-nav flex-column w-100 mb-2 mt-3 d-block d-lg-none">
      <li class="nav-item" ng-class="{active: vm.itemSelected.route === 'submitted_projects'}">
        <a class="nav-link" ng-click="vm.selectPage('submitted_projects')" href="#">Projetos submetidos</a>
      </li>
    </ul>
    <div class="col-12 col-lg-8" ng-if="vm.itemSelected.route === 'submitted_projects'">

      <div class="card-columns">

        <div class="card project-card mb-3" ng-repeat="project in vm.Project.submittedProjects">
          <div class="card-body">
            <h5 class="card-title">
              {{project.ProjectName}}
              <i class="fa fa-pencil pull-right c-pointer" uib-tooltip="Editar projeto" tooltip-placement="bottom"
                 ng-if="!project.IsApproved" ng-click="vm.editProject(project)"></i>
            </h5>

            <div class="form-group">
              <label>PROFESSOR RESPONSÁVEL</label>
              <input type="text" class="form-control-plaintext" readonly value="{{project.professor.name}}">
            </div>

            <div class="form-group">
              <label>LÍDER DA EQUIPE</label>
              <input type="text" class="form-control-plaintext" readonly value="{{project.leader.name}}">
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>STATUS</label>
                  <input type="text" class="form-control-plaintext" readonly
                         value="{{project.IsApproved ? 'Aprovado' : 'Em avaliação'}}">
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label>DATA DE SUBMISSÃO</label>
                  <input type="text" class="form-control-plaintext" readonly
                         value="{{project.SubmissionDate | date:'dd/MM/yyyy'}}">
                </div>
              </div>
            </div>

            <div class="row justify-content-between mt-2">
              <div class="col-auto" ng-click="vm.openProject(project)">
                <a href="#" class="card-link text-dark" ng-if="!project.IsApproved">PREVIEW</a>
                <a href="#" class="card-link text-dark" ng-if="project.IsApproved">VER MAIS</a>
              </div>
              <div class="col-auto" ng-click="vm.insertResult(project)" ng-if="project.IsApproved">
                <a href="#" class="card-link text-dark" ng-if="!project.Results">INSERIR RESULTADO</a>
                <a href="#" class="card-link text-dark" ng-if="project.Results">EDITAR RESULTADO</a>
              </div>
            </div>

          </div>
        </div>

      </div>

      <br>
      <button class="btn btn-outline-dark" ui-sref="submission">
        SUBMETER PROJETO
      </button>

    </div>

    <!-- Supported projects -->
    <ul class="nav navbar-nav flex-column w-100 mb-2 mt-3 d-block d-lg-none">
      <li class="nav-item" ng-class="{active: vm.itemSelected.route === 'supported_projects'}">
        <a class="nav-link" ng-click="vm.selectPage('supported_projects')" href="#">Projetos apoiados</a>
      </li>
    </ul>
    <div class="col-12 col-lg-8" ng-if="vm.itemSelected.route === 'supported_projects'">

      <div class="card-columns">

        <div class="card project-card mb-3" ng-repeat="donation in vm.Donation.myDonations">
          <div class="card-body">
            <h5 class="card-title">
              {{donation.Type === 'project' ? donation.project.ProjectName : 'Contribuição Geral'}}
            </h5>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>VALOR</label>
                  <input type="text" class="form-control-plaintext" readonly value="{{donation.ValueInCents/100 | currency}}">
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label>DATA</label>
                  <input type="text" class="form-control-plaintext" readonly
                         value="{{donation.DonationDate | date:'dd/MM/yyyy'}}">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>STATUS</label>
              <input type="text" class="form-control-plaintext" readonly
                     value="{{donation.IsApproved ? 'Pagamento confirmado' : 'Comprovante em análise'}}">
            </div>

            <a href="#" class="card-link text-dark text-right d-block"
               ng-if="donation.Type === 'project'" ng-click="vm.openProject(donation.project)">VER MAIS INFORMAÇÕES</a>

          </div>
        </div>

      </div>

    </div>

    <ul class="nav navbar-nav flex-column w-100 mb-2 mt-3 d-block d-lg-none">
      <li class="nav-item">
        <a class="nav-link" href="#" ng-click="vm.logoutUser()">Sair</a>
      </li>
    </ul>

  </div>
</div>
