.profileView {
  padding: 40px 20px 60px;
  @include media-breakpoint-down(md) {
    padding-top: 10px;
  }

  h1 {
    font-size: 36px;
    font-weight: 700;
  }

  h4 {
    font-weight: 700;
  }

  .legend {
    font-size: 16px;
  }

  li {
    margin-right: 30px;
    @include media-breakpoint-down(md) {
      margin-right: 0;
    }
    margin-bottom: 10px;
    border-bottom: 1px #828282 solid;
    .nav-link {
      padding: 12px 20px;
      font-size: 20px;
      font-weight: 300;
      color: #333 !important;
    }
  }

  li:hover, li.active {
    margin-bottom: 8px;
    border-bottom: 3px #E84E0F solid;
    .nav-link {
      font-weight: 700;
      color: #E84E0F !important;
    }
  }

  .btn {
    display: inherit;
    font-weight: 600;
    font-size: 14px;
    height: 45px;
    border-radius: 30px;
    min-width: 200px;
    padding-top: 10px;
  }

  .form-group {
    margin-bottom: 5px;
  }

  .form-group label {
    font-size: 10px;
    margin-left: 0;
    margin-bottom: 0;
    color: #828282;
  }

  .form-control-plaintext {
    font-size: 14px;
  }

  .form-control {
    border-radius: 0 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #bdbdbd;
    padding: 10px 20px !important;
    height: 45px !important;
  }

  ::-webkit-input-placeholder {
    font-style: italic;
    color: #828282;
  }

  form input::placeholder, form textarea::placeholder {
    font-style: italic;
    color: #828282;
  }

  .card-title {
    font-weight: 700;
  }

  .help-block {
    margin-top: 10px;
    font-size: 12px;
    color: #E84E0F;
  }

  .custom-checkbox, .custom-radio {
    padding-bottom: 5px;
    margin-left: 30px;
    margin-top: 10px;
    .custom-control-label {
      color: #495057;
      font-size: 14px;
    }
  }

  .card-columns {
    column-count: 2;
    @include media-breakpoint-down(sm) {
      column-count: 1;
    }
  }

  .project-card {
    border: none;
    background-color: #fafafa !important;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    .card-title {
      font-size: 18px;
    }

    .card-body{
      padding: 30px;
    }

    .card-link {
      font-family: "Roboto", "Merriweather Sans", -apple-system, sans-serif;
      font-weight: 600;
      font-size: 14px;
      padding-top: 12px;
    }
  }

  .btn-outline-danger{
    color: #E84E0F;
    border-color: #E84E0F;
  }
  .btn-outline-danger:hover, .btn-outline-danger.active{
    color: #fafafa;
    background: rgb(199, 66, 14);
  }

}
