.transparencyView {
<<<<<<< HEAD
    padding: 40px 20px 25px !important;
=======
    padding: 60px 20px 25px !important;
>>>>>>> 9a522f3... Starting new transparency page
    @include media-breakpoint-down(sm) {
      padding: 40px 2px !important;
    }
    h5 {
      margin-bottom: 0;
      color: #333333;
    }
  
    .page-title {
      color: #333333 !important;
      font-weight: bold;
<<<<<<< HEAD
      font-size: 28px;
=======
      font-size: 34px;
>>>>>>> 9a522f3... Starting new transparency page
      padding-bottom: 15px;
      line-height: normal;
      text-align: center;
    }
  
    .page-subtitle {
      color: #333333 !important;
      font-weight: bold;
      font-size: 20px;
      padding-bottom: 15px;
      line-height: normal;
      text-align: center;
    }
  }
  
<<<<<<< HEAD
  .transparencyViewBlue {
=======
  .managementViewBlue {
>>>>>>> 9a522f3... Starting new transparency page
    padding: 0 !important;
    background: #00456F;
  
    h5 {
      margin-bottom: 0;
    }
  
    .text-box {
      padding: 40px 50px 40px 100px;
      vertical-align: middle;
      float: right;
      max-width: 667px;
  
      @include media-breakpoint-only(lg) {
        padding-left: 80px;
      }
      @include media-breakpoint-down(sm) {
        padding: 50px 30px !important;
      }
  
      .page-title {
        padding-bottom: 20px;
        line-height: 32px;
        font-size: 20px;
        color: #FFFFFF;
        text-align: justify;
      }
  
      .page-text {
        line-height: 26px;
        font-size: 16px;
        color: #FFFFFF;
        padding-bottom: 10px;
        text-align: justify;
      }
    }
  
    .parent {
      display: table;
      padding: 0;
    }
  
    .child {
      display: table-cell;
      vertical-align: middle;
    }
  
    .div-img {
      //height: -webkit-fill-available;
      background-color: #FFF;
      align-items: flex-start;
      display: flex;
      justify-content: center;
      overflow: hidden;
  
      img {
        flex-shrink: 0;
        min-width: 200%;
        min-height: 100%;
        max-width: 100%;
        max-height: 600px;
        align-self: center;
      }
  
      @include media-breakpoint-down(sm) {
<<<<<<< HEAD
        max-height: 360px;
=======
        max-height: 480px;
>>>>>>> 9a522f3... Starting new transparency page
        display: block;
        overflow: hidden;
        img {
          margin-top: -40px;
        }
      }
      @include media-breakpoint-only(md) {
        img {
          max-height: 700px;
        }
      }
      @include media-breakpoint-up(xl) {
        img {
          min-width: 100%;
        }
      }
    }
  }
  
<<<<<<< HEAD
  .transparencyViewLightBlue {
=======
  /*.managementViewLightBlue {
>>>>>>> 9a522f3... Starting new transparency page
    padding: 0;
    color: #333333 !important;
  
    .text-box {
<<<<<<< HEAD
      max-width: 667px;
=======
      max-width: 500px;
>>>>>>> 9a522f3... Starting new transparency page
    }
  
    .light-blue {
      padding: 50px 70px 50px 100px !important;
      background: #AFCDE4;
      @include media-breakpoint-only(lg) {
        padding: 50px 30px 50px 80px !important;
      }
      @include media-breakpoint-down(sm) {
        padding: 50px 30px !important;
      }
    }
  
    .gray {
<<<<<<< HEAD
      padding: 50px 70px 50px 100px !important;
=======
      padding: 50px 100px 50px 70px !important;
>>>>>>> 9a522f3... Starting new transparency page
      background: #F2F2F2;
      @include media-breakpoint-only(lg) {
        padding: 50px 80px 50px 50px !important;
      }
      @include media-breakpoint-down(sm) {
        padding: 50px 30px !important;
      }
    }
  
    .page-title {
      font-weight: bold;
      line-height: 45px;
      font-size: 30px;
      color: #333333;
      margin-bottom: 30px;
      text-align: center;
    }
  
    .page-text {
      font-size: 16px;
      line-height: 25px;
      padding-bottom: 15px;
    }
  
    .name {
      padding: 0;
      font-size: 14px;
      line-height: 30px;
    }
<<<<<<< HEAD
  }
=======
  }*/
>>>>>>> 9a522f3... Starting new transparency page
