.transparencyView {
  width: 100%;
  padding: 40px 20px 25px !important;
  @include media-breakpoint-down(sm) {
    padding: 40px 2px !important;
  }
  h5 {
    margin-bottom: 0;
    color: #333333;
  }

  .page-title {
    color: #333333 !important;
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 15px;
    line-height: normal;
    text-align: center;
  }

  .page-subtitle {
    color: #333333 !important;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
    line-height: normal;
    text-align: center;
  }
}

.transparencyViewBlue {
  width: 100%;
  padding: 0 !important;
  background: #00456f;

  h5 {
    margin-bottom: 0;
  }

  .text-box {
    padding: 40px 50px 40px 100px;
    vertical-align: middle;
    float: right;
    max-width: 667px;

    @include media-breakpoint-only(lg) {
      padding-left: 80px;
    }
    @include media-breakpoint-down(sm) {
      padding: 50px 30px !important;
    }

    .page-title {
      padding-bottom: 20px;
      line-height: 32px;
      font-size: 20px;
      color: #ffffff;
      text-align: justify;
    }

    .page-text {
      line-height: 26px;
      font-size: 16px;
      color: #ffffff;
      padding-bottom: 10px;
      text-align: justify;
    }
  }

  .parent {
    display: table;
    padding: 0;
  }

  .child {
    display: table-cell;
    vertical-align: middle;
  }

  /*.div-img {
      //height: -webkit-fill-available;
      background-color: #FFF;
      align-items: flex-start;
      display: flex;
      justify-content: center;
      overflow: hidden;
  
      img {
        flex-shrink: 0;
        min-width: 200%;
        min-height: 100%;
        max-width: 100%;
        max-height: 600px;
        align-self: center;
      }
  
      @include media-breakpoint-down(sm) {
        max-height: 360px;
        display: block;
        overflow: hidden;
        img {
          margin-top: -40px;
        }
      }
      @include media-breakpoint-only(md) {
        img {
          max-height: 700px;
        }
      }
      @include media-breakpoint-up(xl) {
        img {
          min-width: 100%;
        }
      }
    }*/
  .div-img {
    padding: 0;
    margin-top: 0px;
    margin-bottom: -22px;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    align-self: center;
    @include media-breakpoint-up(lg) {
      max-height: 600px;
    }
  }
}

.transparencyViewLightBlue {
  width: 100%;
  padding: 0;
  color: #333333 !important;

  .text-box {
    max-width: 667px;
  }
  .rela-anual {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    // background-color: blue;
  }
  .rela-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .botao-ano{
    flex: 1;
    max-width: 180px;
    margin: 15px 30px;
    background-color: #01b0f1;
    font-size: larger;
    font-weight: 700;
  }

  .light-blue {
    padding: 50px 70px 50px 100px !important;
    background: #afcde4;
    @include media-breakpoint-only(lg) {
      padding: 50px 30px 50px 80px !important;
    }
    @include media-breakpoint-down(sm) {
      padding: 50px 30px !important;
    }
  }

  .gray {
    padding: 50px 70px 50px 100px !important;
    background: #f2f2f2;
    @include media-breakpoint-only(lg) {
      padding: 50px 80px 50px 50px !important;
    }
    @include media-breakpoint-down(sm) {
      padding: 50px 30px !important;
    }
  }

  .page-title {
    font-weight: bold;
    line-height: 45px;
    font-size: 30px;
    color: #333333;
    margin: 30px 0px;
    text-align: center;
  }

  .page-text {
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 15px;
  }

  .name {
    padding: 0;
    font-size: 14px;
    line-height: 30px;
  }
}
