<div class="container transparencyView">
    <div class="row justify-content-center m-0">
      <div class="col-10">
        <h5 class="page-title"> Relação de confiança com a comunidade IMEana  </h5>
      </div>
    </div>
  </div>
  <div class="transparencyViewBlue">
    <div class="row justify-content-between m-0">
      <div class="col-12 col-md-6 parent my-auto">
        <div class="text-box child">
          <div class="page-title">
            A Alumni IME é uma associação sem fins lucrativos e os recursos disponíveis em sua grande parte são oriundos de doação de ex-alunos.
          </div>
          <div class="page-text">
            Por isso, prezamos bastante pela transparência em todas as nossas ações.
            Desde 2018, temos apoiado iniciativas de alunos e professores dentro do IME. Todos esses gastos são comprovados através de prestação de contas previstas em edital. Além disso, temos as despesas administrativas da associação, tais como staff, projetos internos e manutenção do site. 
            
          </div>
          <div class="page-text">  
            Trimestralmente as contas são analisadas pela Diretoria e por seu Conselho e anualmente apresentadas e aprovadas em Assembleia Geral. Nossos relatórios financeiros, assim como a apresentação dos resultados do ano, estão disponíveis nos links abaixo.
            
          </div>
          <div class="page-text">  
            Trabalhamos atualmente com a Contemporânea Consultoria Contábil Ltda. (registrada no CRCRJ sob o nº RJ-00468/O), que verifica nossas contas e emite nossos balancetes.
            Contamos com o seu envolvimento e apoio para construirmos uma Alumni cada vez mais forte, sustentável e atuante!            
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 parent div-img">
        <img src="assets/images/transparency_panel.jpg" class="child img-fluid">
      </div>
    </div>
  </div>
  
  <div class="transparencyViewLightBlue">
    <div class="row justify-content-between m-0">
      <div class="col-md-12 col-lg-6 light-blue">
        <div class="text-box">
          <h5 class="page-title">Anos anteriores</h5>
          <div class="page-text">
            Acesse abaixo os relatórios financeiros dos anos anteriores.
          </div>
          <div ng-click="vm.openReports(2018)" target="_blank" style="color: white;" type="button" class="btn btn-primary btn-lg btn-block">2018</div>
          <div ng-click="vm.openReports(2019)" target="_blank" style="color: white;" type="button" class="btn btn-primary btn-lg btn-block">2019</div>
          <div ng-click="vm.openReports(2020)" target="_blank" style="color: white;" type="button" class="btn btn-primary btn-lg btn-block">2020</div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 gray">
        <div class="text-box">
          <h5 class="page-title">Atas e Estatutos</h5>
          <ul>
            <li><a href="/assets/documents/Ata_Assembleia_28_03_19.pdf" target="_blank">Ata Assembléia Ordinária e Extraordinária - 20/03/2019 </a></li>
            <li><a href="/assets/documents/Assembleia_Geral_03_07_2018.pdf" target="_blank">Ata da Assembléia Geral Extraordinária - 03/07/2018 </a></li>
            <li><a href="/assets/documents/Ata_Assembleia_Fundacao.pdf" target="_blank">Ata da Assembleia de Fundação - 12/07/2013</a></li>
            <li><a href="/assets/documents/Alumni IME - Estatuto Social.pdf" target="_blank">Estatuto Social</a></li>  
          </ul>
        </div>
      </div>
    </div>
  </div>
  