modal-show-boleto {
  .btn {
    display: inherit;
    font-family: "Roboto", "Merriweather Sans", -apple-system, sans-serif;
    font-weight: 600;
    font-size: 14px;
    height: 45px;
    border-radius: 30px;
    min-width: 200px;
    padding-top: 10px;
  }
    
}
