body {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  .c-pointer {
    cursor: pointer;
  }

  .btn-danger {
    background-color: #E84E0F;
  }

  .btn-danger:hover, .btn-danger.active {
    background-color: rgb(199, 66, 14);
  }

}
