<div class="modal-header d-block">
  <i class="fa fa-close close-button" ng-click="vm.cancelModal()"></i>
  <h5 class="modal-title text-center mt-3" id="modal-title">{{vm.DonationId ? 'Editar contribuição' : 'Cadastrar contribuição'}}</h5>
</div>

<div class="modal-body pl-4 pr-4 pl-lg-5 pr-lg-5 pb-4" id="modal-body">

    <div class="row justify-content-center p-0" ng-if="vm.DonationId">
      <div class="col-auto">
        <img class="profile-photo pb-2" ng-src="{{vm.donation.donator.ImageURL || 'assets/images/profile.svg'}}" alt="{{vm.donation.donator.name}}">
      </div>
      <div class="col-auto pt-2">
        <p class="legend" ng-if="!vm.donation.donator">{{vm.Util.nameCase(vm.donation.former.Name || vm.donation.DonatorName)}}</p>
        <p class="legend" ng-if="vm.donation.donator.personType.Description === 'FormerStudent' || vm.donation.donator.personType.Description === 'Student' || vm.donation.donator.personType.Description === 'DropStudent'">
          {{vm.donation.donator.FullName}}
          <br> {{vm.donation.donator.Headline}}
          <br> {{vm.donation.donator.engineering.Description}} | {{vm.donation.donator.personType.PortugueseDescription | lowercase}}
          <br> Formatura {{vm.donation.donator.GraduationYear}}
        </p>
        <p class="legend" ng-if="vm.donation.donator.personType.Description === 'Professor'">
          {{vm.donation.donator.FullName}}
          <br> {{vm.donation.donator.Headline}}
          <br> {{vm.donation.donator.se.Description}} | {{vm.donation.donator.personType.PortugueseDescription | lowercase}}
        </p>
        <p class="legend" ng-if="vm.donation.donator.personType.Description === 'Visitor'">
          {{vm.donation.donator.FullName}}
          <br> {{vm.donation.donator.Headline}}
          <br> {{vm.donation.donator.personType.PortugueseDescription}}
        </p>
        <p class="legend" ng-if="vm.donation.donator.personType.Description === 'FormerStudentAndProfessor'">
          {{vm.donation.donator.FullName}}
          <br> {{vm.donation.donator.Headline}}
          <br> {{vm.donation.donator.se.Description}}
          <br> {{vm.donation.donator.engineering.Description}} | {{vm.donation.donator.personType.PortugueseDescription | lowercase}}
          <br> Formatura {{vm.donation.donator.GraduationYear}}
        </p>
  
        <a class="text-dark c-pointer font-weight-bold" target="_blank" href="{{vm.donation.donator.LinkedinProfileURL}}" ng-if="vm.donation.donator.LinkedinProfileURL">Acessar Linkedin</a>
  
      </div>
    </div>
  
    <div class="row mt-2 p-0" ng-if="vm.DonationId">
  
      <div class="col-12 col-sm-6" ng-if="vm.donation.donator">
        <div class="form-group">
          <label for="emailShow">EMAIL</label>
          <input type="text" id="emailShow" name="email" class="form-control-plaintext" readonly ng-model="vm.donation.donator.email">
        </div>
        <div class="form-group">
          <label for="PhoneShow">TELEFONE</label><br>
          <!-- International phone -->
          <input type="text" id="PhoneShow" name="Phone" class="form-control-plaintext" readonly
          ng-model="vm.donation.donator.Phone" ng-if="vm.donation.donator.Phone.indexOf('+55') === -1" ng-intl-tel-input>
          <!-- National phone -->
          <input type="text" id="PhoneShow" name="Phone" class="form-control-plaintext" readonly
          ng-model="vm.donation.donator.Phone" ng-if="vm.donation.donator.Phone.indexOf('+55') > -1" mask="+99 (99) 9?9999-9999" ng-intl-tel-input>
        </div>
        <div class="form-group">
          <label for="PaymentMethodShow">MEIO DE PAGAMENTO</label>
          <input type="text" id="PaymentMethodShow" name="PaymentMethod" class="form-control-plaintext" readonly ng-model="vm.donation.PaymentMethod">
        </div>
        <div class="form-group" ng-if="vm.donation.transaction && vm.donation.transaction.PaymentMethod === 'credit_card'">
          <label for="CardShow">CARTÃO {{vm.donation.transaction.CardBrand | uppercase}} - FINAL {{vm.donation.transaction.CardLastDigits}}</label>
          <input type="text" id="CardShow" name="Card" class="form-control-plaintext" readonly ng-model="vm.donation.transaction.CardHolderName">
        </div>
        <div class="form-group" ng-if="vm.donation.transaction && vm.donation.transaction.PaymentMethod === 'boleto'">
          <label for="BoletoShow">
            VENCIMENTO EM {{vm.donation.transaction.BoletoExpirationDate | date: 'dd/MM/yyyy'}}
            <a href="{{vm.donation.transaction.BoletoURL}}" target="_blank" class="text-dark text-center d-inline ml-1">
              <i class="fa fa-external-link-square" uib-tooltip="Visualizar Boleto" tooltip-placement="right"></i>
            </a>
          </label>
          <input type="text" id="BoletoShow" name="Boleto" class="form-control-plaintext" readonly ng-model="vm.donation.transaction.BoletoBarcode">
        </div>
      </div>
      
      <div class="col-12 col-sm-6">
        <div class="form-group">
            <label for="dateShow">DATA DA CONTRIBUIÇÃO</label>
            <input type="text" id="dateShow" name="date" class="form-control-plaintext" readonly ng-model="vm.DonationDate">
        </div>
        <div class="form-group">
          <label for="TypeShow">TIPO DE CONTRIBUIÇÃO</label>
          <input type="text" id="TypeShow" name="Type" class="form-control-plaintext" readonly ng-value="vm.donation.Type === 'general' ? 'Geral' : 'Projeto: ' + vm.donation.project.ProjectName">
        </div>
        <div class="form-group">
          <label for="StatusShow">STATUS {{vm.donation.TransactionId ? '- TRANSAÇÃO ' + vm.donation.TransactionId : ''}}</label>
          <input type="text" id="StatusShow" name="Status" class="form-control-plaintext" readonly ng-value="vm.donation.Status">
        </div>
        <div class="form-group" ng-if="vm.donation.transaction">
          <label for="CostShow">CUSTO</label>
          <input type="text" id="CostShow" name="CostShow" class="form-control" ng-disabled="true"
                 ng-model="vm.donation.transaction.Cost" money-mask money-mask-prepend="R$">
        </div>
      </div>

    </div>
  
    <form class="form" name="form" ng-submit="vm.submitDonation(form)" novalidate>
  
      <div class="row mt-2">
    
        <div class="col-12 col-sm-6" ng-if="!vm.DonationId">
          <div class="form-group">
            <label>NOME DO APOIADOR</label>
            <angucomplete-alt id="members"
              placeholder="Digite parte do nome desejado"
              pause="400"
              selected-object="vm.selectUser"
              input-changed="vm.updateInput"
              remote-url="{{vm.appConfig.url}}/api/users/autocomplete/"
              remote-url-data-field=""
              text-searching="Pesquisando..."
              text-no-results="Nenhum usuário encontrado."
              title-field="FullName,GraduationYear"
              description-field="personType.PortugueseDescription"
              search-fields="FullName"
              match-class="highlight"
              input-class="form-control"/>
          </div>
          <div class="form-group mt-2">
            <label for="Type">TIPO DE CONTRIBUIÇÃO*</label>
            <select class="form-control" id="Type" name="Type"
                    ng-model="vm.donation.Type">
              <option value="general">Geral</option>
              <option value="project">Por projeto</option>
            </select>
          </div>    
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>VALOR DA CONTRIBUIÇÃO*</label>
            <input type="text" id="ValueInCents" name="ValueInCents" class="form-control" required
                   ng-model="vm.donation.ValueInCents" money-mask money-mask-prepend="R$">
            <p class="help-block"
               ng-if="(form.ValueInCents.$error.required || vm.donation.ValueInCents === 0) && vm.submitted">
              Insira o valor da contribuição.
            </p>
          </div>
          <div class="form-group" ng-if="vm.donation.Type == 'project' && !vm.DonationId">
            <label>PROJETO*</label>
            <select class="form-control" id="ProjectId" name="ProjectId" ng-model="vm.donation.ProjectId">
              <option value="" selected disabled>Selecione um projeto</option>
              <option ng-repeat="project in vm.Project.list | orderBy: 'ProjectName' | filter: {Year: vm.currentYear, Semester: vm.currentSemester}" 
                      ng-value="project.ProjectId">
                {{project.ProjectName}}
              </option>
            </select>
            <p class="help-block"
              ng-if="vm.donation.Type === 'project' && (vm.donation.ProjectId === null || vm.donation.ProjectId === '') && vm.submitted">
              Escolha um projeto para apoiar.
            </p>
          </div>
          <div class="form-group" ng-if="!vm.DonationId">
            <label for="DonationDate">DATA DA CONTRIBUIÇÃO*</label>
            <input type="text" id="DonationDate" name="DonationDate"
                    class="form-control" placeholder="dd/mm/yyyy" mask="39/19/2999"
                    ng-model="vm.DonationDate" required
                    ng-change="vm.dateInvalid = vm.Util.invalidDate(vm.DonationDate)">
            <p class="help-block" ng-show="form.DonationDate.$error.required && vm.submitted">
              Insira a data da contribuição.
            </p>
            <p class="help-block" ng-show="((form.DonationDate.$invalid || vm.dateInvalid) && vm.submitted)">
              Insira uma data válida.
            </p>
          </div>
        </div>

      </div>

      <div class="custom-control custom-checkbox my-2" ng-if="!vm.donation.transaction">
        <input type="checkbox" name="IsApproved" class="custom-control-input" id="IsApproved" ng-model="vm.donation.IsApproved">
        <label class="custom-control-label" for="IsApproved">
          Aprovar contribuição
        </label>
      </div>              

      <button href="#" class="btn btn-danger mx-auto mt-3" type="submit" ng-if="vm.DonationId && !vm.donation.transaction && vm.donation.IsApproved">
        SALVAR E ENVIAR RECIBO
      </button>
      <button href="#" class="btn btn-danger mx-auto mt-3" type="submit" ng-if="!vm.DonationId && !vm.donation.transaction">
        SALVAR
      </button>
  
    </form>
  
  </div>