node_modules
public
.tmp
.sass-cache
.idea
client/bower_components
dist
/server/config/local.env.js
npm-debug.log
coverage
/dev.sqlite
#/client/assets/images/uploads/
#/client/assets/donations/
/client/assets/profiles/
/package-lock.json
client/index.html
