modal-edit-opportunity {

  .modal-header {
    border-bottom: none;
    padding-bottom: 0;
  }

  .modal-title {
    font-weight: 700;
  }

  .btn-danger {
    display: inherit;
    font-family: "Roboto", "Merriweather Sans", -apple-system, sans-serif;
    font-weight: 600;
    font-size: 14px;
    height: 45px;
    width: 300px;
    padding-top: 11px;
  }

  .btn-danger {
    background-color: #E84E0F;
    border-radius: 30px;
    border-color: #E84E0F;
  }

  .btn-danger:hover, .btn-danger.active {
    background-color: rgb(199, 66, 14);
    border-color: rgb(199, 66, 14);
  }

  .help-block {
    font-size: 12px;
    color: #E84E0F;
  }

  .profile-photo {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50px;
  }

  .form-group {
    margin-bottom: 5px;
  }

  .form-group label {
    font-size: 10px;
    margin-left: 0;
    margin-bottom: 0;
    color: #828282;
  }

  .form-control-plaintext {
    font-size: 14px;
  }

  .form-control {
    border-radius: 0 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #bdbdbd;
    padding: 10px 20px !important;
    height: 45px !important;
    margin-bottom: 10px;
  }

  textarea.form-control {
    height: 100px !important;
  }

  .line-hr {
    width: 300px;
    height: 5px;
    margin: 5px auto 30px;
    border-bottom: 1px solid #bdbdbd;
  }

  .highlight {
    color: #E84E0F;
  }

  .col-auto {
    max-width: 100%;
  }

  .text-dark {
    font-weight: 700;
    font-size: 14px;
  }

  .upload-text {
    margin-top: 15px;
    margin-right: 10px;
    line-height: 21px;
    font-size: 14px;
    color: #333333;
  }

  .upload-link {
    padding: 6px 0;
    line-height: 21px !important;
    font-size: 14px !important;
    color: #E84E0F !important;
  }

  .upload-link:hover {
    color: rgb(199, 66, 14) !important;
    text-decoration: none;
  }

  .icon-images {
    margin-top: 0;
    margin-left: 20px;
  }

  .upload-images {
    .card {
      background-color: #c4c4c4;
      border-radius: 0;
      height: 200px;
      width: 220px;
      align-items: flex-start;
      display: flex;
      justify-content: center;
      overflow: hidden;

      .close-button {
        padding: 5px;
        background-color: #fff;
        position: absolute;
        cursor: pointer;
        top: 10px;
        right: 10px;
        color: #828282;
      }
    }
    .card img {
      flex-shrink: 0;
      max-height: 100%;
      max-width: 100%; 
      align-self: center;
    }
    .card-plus {
      background-color: transparent;
      border: 2px dashed #bdbdbd;
      cursor: pointer;
      box-sizing: border-box;
      margin-bottom: 0;

      img {
        height: 24px;
        width: 24px;
        min-width: 0;
      }
    }
  }

  .custom-checkbox, .custom-radio {
    padding-bottom: 5px;
    margin-left: 30px;
    .custom-control-label {
      font-size: 16px;
    }
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #E84E0F !important;
  }

  .order-buttons {
    font-size: 16px;
  }

}
