modal-signup{
  .nav-pills .nav-link {
    background-color: #bdbdbd;
    border-radius: 0;
    padding: 3px;
  }

  .nav-pills .nav-link.active {
    background-color: #0077B5 !important;
  }

  .nav-pills .nav-item.space {
    width: 4px;
    flex: none;
  }

  .modal-header {
    border-bottom: none;
    padding-bottom: 0;
  }

  .logo {
    max-height: 100px;
    margin-bottom: 10px;
    display: inherit;
  }

  .modal-title {
    font-weight: 700;
  }

  .btn {
    display: inherit;
    font-family: "Roboto", "Merriweather Sans", -apple-system, sans-serif;
    font-weight: 600;
    font-size: 14px;
    height: 45px;
    padding-top: 11px;
  }

  .btn-linkedin {
    background-color: #0077B5;
    border-radius: 5px;
  }

  .btn-linkedin:active {
    background-color: #066093;
  }

  .btn-linkedin:hover {
    background-color: #0369A0;
  }

  .btn-linkedin i {
    font-size: 20px;
    margin-right: 10px;
    //width: 36px;
    //height: 25px;
    //background-color: #0077B5;
  }

  .btn-signup {
    background-color: #E84E0F;
    border: #E84E0F;
    border-radius: 30px;
    //margin-top: 40px;
  }
  .btn-signup:hover{
    background-color: rgb(199, 66, 14);
    border-radius: 30px;
    border: rgb(199, 66, 14);
  }
  .btn-signup:active{
    background-color: rgb(199, 66, 14) !important;
    border: rgb(199, 66, 14) !important;
  }

  @include media-breakpoint-up(lg) {
    .btn {
      width: 80%;
      min-width: 320px;
    }
  }

  @include media-breakpoint-down(md) {
    .btn {
      width: 95%;
      min-width: 0;
    }
  }

  span {
    font-size: 16px;
    color: #828282;
    text-align: center;
  }

  .line-hr {
    width: 56px;
    height: 5px;
    margin-top: 10px;
    border-bottom: 1px solid #bdbdbd;
  }

  ::-webkit-input-placeholder {
    font-style: italic;
    color: #828282;
  }

  form input::placeholder, form textarea::placeholder {
    font-style: italic;
    color: #828282;
  }

  form input {
    padding: 15px 20px !important;
  }

  .help-block {
    margin-top: 10px;
    font-size: 12px;
    color: #E84E0F;
  }

  .accept-terms {
    font-size: 12px;
    padding: 0 20px 15px;

    label {
      margin-top: 3px;
    }

    a {
      font-size: 13px;
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 12px;
      width: auto;
      display: inline;
    }
  }

  .description {
    padding: 20px 0 15px;
    font-size: 14px;
    color: #828282;
    display: inherit;
    text-align: center;
  }
}
