<div class="modal-header d-block">
  <i class="fa fa-close close-button" ng-click="vm.cancelModal()"></i>
  <div class="w-100 content">
    <!--
      <a href="https://www.alumniime.com.br/projects/2020.1.COVID-19" ng-click="vm.cancelModal()">
        <img src="assets/images/banner-corona.jpeg" class="m-auto">
      </a>
    -->
    
  </div>
  
  <!-- <h5 class="modal-title text-center mt-4" id="modal-title">Confira o próximo evento</h5> -->
  <!--
    <label class="text-center d-block">Não mostrar novamente
      <input type ="checkbox" ng-model="vm.checkboxModel">
    </label> 
  -->

</div>


<div class="modal-body px-3 pb-4 content" id="modal-body" ng-if="!vm.openInter">
  <p id="title">
    Prezada comunidade IMEana, 
  </p>
  <p>
    Conheça e apoie os projetos selecionados no 1º semestre.<br>
    Ajude a transformar ideias incríveis em realidade! 
  </p>
  <a href="https://www.alumniime.com.br/projects/2021.1" class="btn btn-danger" ui-sref="show({Semester: '2021.1'})" ng-click="vm.cancelModal()">PROJETOS 2021.1</a>
  <label class="text-center d-block">Não mostrar novamente
    <input type ="checkbox" ng-model="vm.checkboxModel">
  </label> 
</div>

<!-- <div class="modal-body pt-2" id="modal-body">
  <a class="btn btn-outline-danger m-auto btn-signup" href="" target="_blank">
    QUERO PARTICIPAR
  </a>
</div> -->