<div class="modal-header d-block">
  <div class="w-100">
    <a href="https://www.eventbrite.com.br/e/ime-alumni-talks-oil-gas-tickets-51835490347" target="_blank">
      <img src="assets/images/teaser.png" class="m-auto">
    </a>
  </div>
  <i class="fa fa-close close-button" ng-click="vm.cancelModal()"></i>
  <!-- <h5 class="modal-title text-center mt-4" id="modal-title">Confira o próximo evento</h5> -->
</div>

<!-- <div class="modal-body pt-2" id="modal-body">
  <a class="btn btn-outline-danger m-auto btn-signup" href="" target="_blank">
    QUERO PARTICIPAR
  </a>
</div> -->