modal-main-highlight {

  .modal-header {
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 20px;

    a {
      display: inherit;
    }
  }

  img {
    max-height: 540px;
    max-width: 100%;
    margin-bottom: 30px;
    display: inherit;
  }

  .modal-title {
    font-weight: 700;
  }

  .btn {
    display: inherit;
    font-family: "Roboto", "Merriweather Sans", -apple-system, sans-serif;
    font-weight: 600;
    font-size: 14px;
    height: 45px;
    padding-top: 11px;
  }

  .btn-signup {
    border-radius: 30px;
  }

  @include media-breakpoint-up(lg) {
    .btn {
      width: 320px;
    }
  }

  @include media-breakpoint-down(md) {
    .btn {
      width: 250px;
    }
  }

  span {
    font-size: 16px;
    color: #828282;
    text-align: center;
  }

  .description {
    padding-bottom: 15px;
    font-size: 16px;
    color: #828282;
    display: inherit;
    text-align: center;
  }

  .btn-outline-danger:hover {
    color: #fafafa;
    background: #E84E0F;
  }

  .btn-outline-danger {
    color: #E84E0F;
    background: #fafafa;
    border-color: #E84E0F !important;
  }

  .btn-outline-danger.active {
    color: #fafafa !important;
    background-color: rgb(199, 66, 14) !important;
  }

  .btn-danger {
    font-family: "Roboto", "Merriweather Sans", -apple-system, sans-serif;
    font-weight: 600;
    font-size: 14px;
    background-color: #E84E0F;
    width: 160px;
    border-radius: 100px;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
  }
  
  .btn-danger:hover, .btn-danger.active {
    background-color: rgb(199, 66, 14);
  }

  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    #title{
      font-weight: 600;
    }
  }
}
