<div class="modal-header d-block">
  <div class="w-100">
    <a href="https://www.alumniime.com.br/projects/2020.1.COVID-19" ng-click="vm.cancelModal()">
      <img src="assets/images/banner-corona.jpeg" class="m-auto">
    </a>
  </div>
  <i class="fa fa-close close-button" ng-click="vm.cancelModal()"></i>
  <!-- <h5 class="modal-title text-center mt-4" id="modal-title">Confira o próximo evento</h5> -->
  <label class="text-center d-block">Não mostrar novamente
    <input type ="checkbox" ng-model="vm.checkboxModel">
  </label> 
  </div>
</div>

<!-- <div class="modal-body pt-2" id="modal-body">
  <a class="btn btn-outline-danger m-auto btn-signup" href="" target="_blank">
    QUERO PARTICIPAR
  </a>
</div> -->