<div class="container adminNewsView">

  <div class="row justify-content-between">
    <div class="col-auto">
      <h5 class="page-title pt-3 pb-2 pb-md-0">Notícias Publicadas <br class="d-block d-sm-none"> </h5>
    </div>
    <div class="col-auto pb-2">
      <a href="#" class="btn btn-danger mb-2" ng-click="admin.editNews()">Cadastrar Notícia</a>
    </div>
  </div>

  <table class="table table-striped table-hover table-fixed table-responsive-md table-sm">
    <thead>
    <tr>
      <th scope="col" ng-click="admin.orderBy('news', 'NewsId')">#</th>
      <th scope="col" ng-click="admin.orderBy('news', 'Title')">Título</th>
      <th scope="col" ng-click="admin.orderBy('news', 'category.PortugueseDescription')">Categoria</th>
      <th scope="col" ng-click="admin.orderBy('news', 'Views')">Views</th>
      <th scope="col" ng-click="admin.orderBy('news', 'PublishDate')">Publicação</th>
      <th scope="col">Visualizar</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="news in admin.News.listAll | orderBy: admin.order.news | filter: {IsExcluded: false}" class="c-pointer" ng-click="admin.editNews(news.NewsId)"
        ng-if="$index >= (admin.newsCurrentPage - 1) * admin.itemsPerPage && $index < admin.newsCurrentPage * admin.itemsPerPage">
      <th scope="row">{{news.NewsId}}</th>
      <td>{{news.Title}}</td>
      <td>{{news.category.PortugueseDescription}}</td> 
      <td>{{news.Views}}</td>
      <td>{{news.PublishDate | date: 'dd/MM/yyyy'}}</td>
      <td>
        <a href="/news/view/{{news.NewsId}}/{{admin.Util.convertToSlug(news.Title)}}" 
           target="_blank" class="text-dark text-center d-block">
          <i class="fa fa-external-link-square"></i>
        </a>
      </td>
      </tr>
    </tbody>
  </table>
  
  <ul uib-pagination total-items="admin.newsNumber" ng-model="admin.newsCurrentPage" max-size="8" 
      class="pagination-sm justify-content-center mt-5" boundary-link-numbers="true" items-per-page="admin.itemsPerPage"
      previous-text="Anterior" next-text="Próximo">
  </ul>
  <br>  
  
  <div class="row justify-content-between">
    <div class="col-auto">
      <h5 class="page-title pt-3 pb-2 pb-md-0">Notícias Ocultas <br class="d-block d-sm-none"> </h5>
    </div>
  </div>

  <table class="table table-striped table-hover table-fixed table-responsive-md table-sm">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Título</th>
      <th scope="col">Categoria</th>
      <th scope="col">Views</th>
      <th scope="col">Publicação</th>
      <th scope="col">Preview</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="news in admin.News.listAll | filter: {IsExcluded: true}" class="c-pointer" ng-click="admin.editNews(news.NewsId)">
      <th scope="row">{{news.NewsId}}</th>
      <td>{{news.Title}}</td>
      <td>{{news.category.PortugueseDescription}}</td> 
      <td>{{news.Views}}</td>
      <td>{{news.PublishDate | date: 'dd/MM/yyyy'}}</td>
      <td>
        <a href="/news/view/{{news.NewsId}}/{{admin.Util.convertToSlug(news.Title)}}" 
           target="_blank" class="text-dark text-center d-block">
          <i class="fa fa-external-link-square"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table> 
  
</div>
