<div class="py-5 donate-container">
    <div class="container ">
        <div class="row">
            <div class="p-5 col-md-6 d-flex flex-column justify-content-center">
                <h3 class="display-4 mb-3">Sua ajuda pode fazer muita diferença</h3>
                <p class="mb-4 lead">Apoiando a Alumni IME, você colabora para o fortalecimento do IME, além de
                    fortalecer a própria comunidade IMEana ao possibilitar que as atividade da Associação sejam
                    desenvolvidas e que sejam apoiados projetos de professores e alunos da graduação do IME.<br>
                    <br>
                    Contribuir é uma forma de gratidão ao IME e tudo o que o Instituto lhe proporcionou, além de
                    financiar as atividades de sua Associação! Fique à vontade para destinar o valor que lhe for
                    conveniente.</p>
            </div>
            <div class="p-5 col-md-6">
                <form class="form" name="form" ng-submit="vm.submitFunding(form)" novalidate="">
                    <div class="pb-4">
                        <h3 class="mb-3">Escolha o aporte</h3>
                        <div class="btn-group">
                            <label class="btn btn-outline-secondary" ng-model="vm.funding.type" uib-btn-radio="'mensal'">
                                Mensal</label>
                            <label class="btn btn-outline-secondary" ng-model="vm.funding.type" uib-btn-radio="'unico'"
                                ng-disabled="true">
                                Única Vez</label>
                        </div>
                    </div>
                    <div ng-if="vm.funding.type=='mensal'" class="pb-4">
                        <h3 class="mb-3">Selecione o valor</h3>
                        <div class="btn-group">
                            <label class="btn btn-outline-secondary" ng-model="vm.funding.value" uib-btn-radio="'D8BC16C543436D2554104FB2EC5D1B96'">
                                R$ 100,00</label>
                            <label class="btn btn-outline-secondary" ng-model="vm.funding.value" uib-btn-radio="'15995A30ABAB8EA1149BCFB99CCAD1A5'">
                                R$ 200,00</label>
                            <label class="btn btn-outline-secondary" ng-model="vm.funding.value" uib-btn-radio="'B6DC5CBAEFEFB83224268FB3F13AC694'">
                                R$ 300,00</label>
                            <label class="btn btn-outline-secondary" ng-model="vm.funding.value" uib-btn-radio="'D35A3FFA0000E12554F4EF8575BFF3B5'">
                                R$ 400,00</label>
                            <label class="btn btn-outline-secondary" ng-model="vm.funding.value" uib-btn-radio="'CA40D80A232392F004008F8CE0C447B3'">
                                R$ 500,00</label>
                        </div>
                    </div>

                    <div ng-if="vm.funding.type=='unico'" class="pb-4">
                        <div class="form-group">
                            <h3 class="mb-3">Valor (em R$)</h3>
                            <input type="text" ng-model="vm.funding.customValue" class="form-control" money-mask>
                        </div>
                    </div>

                    <div class="form-group">
                        <h3 class="mb-3">Seu nome</h3>
                        <input type="text" id="contributor" name="contributor" ng-model="vm.funding.contributor" class="form-control"
                            required>
                        <p class="help-block" ng-if="form.contributor.$error.required && vm.submitted">
                            O nome do contribuinte é obrigatório.
                        </p>
                    </div>

                    <button type="submit" class="btn mt-4 btn-block btn-info p-2"><b>Usar cartão de crédito</b></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 p-0">
                <div class="embed-responsive embed-responsive-4by3">
                    <ng-youtube-embed class="d-none d-lg-block d-xl-none" video="'XdkFwnJtgSc'" modestbranding="true"
                        width="100%" disablekb="true" rel="false" ivloadpolicy="false" height="300px">
                    </ng-youtube-embed>
                    <ng-youtube-embed class="d-block d-lg-none d-xl-block" video="'XdkFwnJtgSc'" modestbranding="true"
                        width="100%" disablekb="true" rel="false" ivloadpolicy="false">
                    </ng-youtube-embed>
                </div>
            </div>
            <div class="p-5 col-lg-7 d-flex flex-column justify-content-center">
                <h3 class="display-4 mb-3">Mobilizamos</h3>
                <p class="lead mb-0">Em 2018, conseguimos mobilizar a comunidade de ex-alunos a apoiarem 17 projetos,
                    totalizando mais de 200 mil reais investidos na melhoria do ensino e no engrandecimento no nome do
                    IME mundo afora. Em 2019, queremos dobrar nossa atuação e intensificar as atividades da Associação.
                    Para isso, contamos a sua participação!</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>