<div class="donateView">
    <div id="carouselAlumni2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item img-background bg-shadow active"
          style="background-image: url('../../assets/images/banner.png')">
            <div class="carousel-caption">
              <h1>Impulsione a comunidade <br/>
                  IMEana e ajude o IME a inovar
              </h1>
              <h5 class="mt-3">
                  A Alumni IME é muito mais do que uma associação de ex-alunos. Somos um
                  grupo de pessoas movidas pela gratidão, pelo desejo de conectar IMEanos,
                  pela crença de que investir na Educação é o caminho na construção de um
                  país melhor.
              </h5>
            </div>
          </div>
        </div>
    </div>
    
    <div class="description-block bg-light">
        <div class="container">
    
            <div class="row align-items-center pt-4">
                <div class="col-xs-12 col-xl-auto description-titles">
                    <h4>Onde deseja aplicar sua contribuição?</h4>
                </div>
                <div class="col-xs-12 col-sm-auto">
                    <a class="nav-link btn btn-outline-primary" ng-class="{active: vm.donation.Type === 'general'}"
                        ng-click="vm.selectType('general')">
                        Infraestrutura
                    </a>
                    <br class="d-block d-sm-none">
                </div>
                <div class="col-xs-12 col-sm-auto">
                    <a class="nav-link btn btn-outline-primary" ng-class="{active: vm.donation.Type === 'project'}"
                        ng-click="vm.selectType('project')">
                        Projetos
                    </a>
                </div>
            </div>

            <div class="row project-selection mt-4" ng-if="vm.donation.Type === 'project'">
                <div class="col-12 description-titles">
                    <h4>Escolha o projeto para o qual doar:</h4>
                    <!-- For large and extra large devices -->
                    <div class="carousel-col-4 d-none d-lg-block p-0 mt-4">
                        <div id="carouselAlumniCol" class="carousel slide" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item" ng-repeat="project in vm.filteredProjects | orderBy: 'ProjectName'"
                                    ng-class="{active: $index === 0}" ng-if="vm.filteredProjects.length / 3 > $index">
                                    <div class="row">
                                        <!-- style="background-image: url('../../assets/images/jose_formigli.jpg')" -->
                                        <div class="col c-pointer img-background" ng-click="vm.selectProject(vm.filteredProjects[3 * $index])"
                                            style="background-image: url('{{vm.filteredProjects[3 * $index].images[0].Path}}')"
                                            ng-class="{active: vm.donation.ProjectId === vm.filteredProjects[3 * $index].ProjectId}"
                                            ng-if="vm.filteredProjects[3 * $index]">
                                            <span>{{vm.filteredProjects[3 * $index].ProjectName}}</span>
                                        </div>
                                        <div class="col c-pointer img-background" ng-click="vm.selectProject(vm.filteredProjects[3 * $index + 1])"
                                            style="background-image: url('{{vm.filteredProjects[3 * $index + 1].images[0].Path}}')"
                                            ng-class="{active: vm.donation.ProjectId === vm.filteredProjects[3 * $index + 1].ProjectId}"
                                            ng-if="vm.filteredProjects[3 * $index + 1]">
                                            <span>{{vm.filteredProjects[3 * $index + 1].ProjectName}}</span>
                                        </div>
                                        <div class="col c-pointer img-background" ng-click="vm.selectProject(vm.filteredProjects[3 * $index + 2])"
                                            style="background-image: url('{{vm.filteredProjects[3 * $index + 2].images[0].Path}}')"
                                            ng-class="{active: vm.donation.ProjectId === vm.filteredProjects[3 * $index + 2].ProjectId}"
                                            ng-if="vm.filteredProjects[3 * $index + 2]">
                                            <span>{{vm.filteredProjects[3 * $index + 2].ProjectName}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselAlumniCol" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon fa fa-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Anterior</span>
                            </a>
                            <a class="carousel-control-next " href="#carouselAlumniCol" role="button" data-slide="next">
                                <span class="carousel-control-next-icon fa fa-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Próximo</span>
                            </a>
                        </div>
                    </div>
                    <!-- For extra small, small and medium devices -->
                    <div id="carouselAlumniColMobileWrap" class="carousel-col-4 d-block d-lg-none p-0 mt-4">
                        <div id="carouselAlumniColMobile" class="carousel slide" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item" ng-repeat="project in vm.filteredProjects | orderBy: 'ProjectName'"
                                    ng-class="{active: $index === 0}">
                                    <div class="row">
                                        <div class="col c-pointer img-background" ng-click="vm.selectProject(vm.filteredProjects[$index])"
                                            style="background-image: url('{{vm.filteredProjects[$index].images[0].Path}}')"
                                            ng-class="{active: vm.donation.ProjectId === vm.filteredProjects[$index].ProjectId}">
                                            <span>{{vm.filteredProjects[$index].ProjectName}}</span>
                                            <input type="hidden" id="carouselProjecId" value="{{vm.filteredProjects[$index].ProjectId}}">
                                            <input type="hidden" id="carouselProjecName" value="{{vm.filteredProjects[$index].ProjectName}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselAlumniColMobile" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon fa fa-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Anterior</span>
                            </a>
                            <a class="carousel-control-next " href="#carouselAlumniColMobile" role="button" data-slide="next">
                                <span class="carousel-control-next-icon fa fa-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Próximo</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="payment-type p-0">
                <div class="row align-items-center pt-4">
                    <div class="col-xs-12 col-xl-auto description-titles">
                        <h4>Qual a forma de pagamento?</h4>
                    </div>
                    <div class="col-xs-12 col-sm-auto">
                    <a class="nav-link btn btn-outline-primary"
                        ng-class="{active: vm.selectedMethod === 'credit_card'}"
                        ng-click="vm.selectPaymentMethod('credit_card')">
                        <i class="fa fa-credit-card"></i> 
                        Cartão
                    </a>
                    <br class="d-block d-lg-none">
                    </div>
                    <div class="col-xs-12 col-sm-auto">
                    <a class="nav-link btn btn-outline-primary"
                        ng-class="{active: vm.selectedMethod === 'boleto'}"
                        ng-click="vm.selectPaymentMethod('boleto')">
                        <i class="fa fa-barcode"></i> 
                        Boleto
                    </a>
                    <br class="d-block d-lg-none">
                    </div>
                    <div class="col-xs-12 col-sm-auto">
                    <a class="nav-link btn btn-outline-primary"
                        ng-class="{active: vm.selectedMethod === 'pix'}"
                        ng-click="vm.selectPaymentMethod('pix')">
                        <i class="fa pix-icon"></i> 
                        Pix
                    </a>
                    <br class="d-block d-lg-none">
                    </div>
                    <div class="col-xs-12 col-sm-auto">
                    <a class="nav-link btn btn-outline-primary"
                            ng-class="{active: vm.selectedMethod === 'transfer'}"
                            ng-click="vm.selectPaymentMethod('transfer')">
                        <i class="fa fa-exchange"></i> 
                        Transferência
                    </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Payment with cards, boleto and pix -->
    <div class="py-5 donateContainter" ng-if="vm.selectedMethod !== 'transfer'">
        <div class="container">
            <!-- <h2 class="mb-3">Sua ajuda pode fazer muita diferença</h2> -->
            <form class="form" name="form" ng-submit="vm.submitFunding(form)" novalidate="">

                <div class="pb-4">
                    <div class="w-100" aria-label="Donation frequency">
                        <div class="row align-items-center">
                            <div class="col-xs-12 col-xl-auto py-4">
                                <h3>Com que frequência deseja contribuir?</h3>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-outline-light" ng-class="{active: vm.donation.Frequency === 'monthly'}" ng-disabled="vm.selectedMethod === 'boleto' || vm.selectedMethod === 'pix'"
                                        ng-click="vm.selectFrequency('monthly')">
                                        Mensal
                                </button>
                                <br class="d-block d-md-none">
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-outline-light" ng-class="{active: vm.donation.Frequency === 'once'}"
                                        ng-click="vm.selectFrequency('once')">
                                        Única Vez
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pb-4">
                    <div class="row align-items-center">
                        <div class="col-auto py-4">
                            <h3>Com qual valor deseja contribuir?</h3>
                        </div>
                        <div class="col-auto">
                            <!-- For extra small and small devices -->
                            <div class="btn-group value-buttons d-block d-md-none" role="group" aria-label="Donation values">
                                <div class="row m-0 p-0">
                                    <div class="col-12 p-0 btn-group">
                                        <button type="button" ng-repeat="option in vm.plans | orderBy: 'value' | filter: {visible: true}" ng-if="$index < 3"
                                                class="btn btn-outline-light" ng-class="{active: vm.donation.ValueInCents === 100*option.value}" ng-click="vm.selectValue(option)">
                                            R$ {{option.value}}
                                        </button>
                                    </div>
                                    <div class="col-12 p-0 btn-group border-top-none">
                                        <button type="button" ng-repeat="option in vm.plans | orderBy: 'value' | filter: {visible: true}" ng-if="$index >= 3 && $index < 5"
                                                class="btn btn-outline-light" ng-class="{active: vm.donation.ValueInCents === 100*option.value}" ng-click="vm.selectValue(option)">
                                            R$ {{option.value}}
                                        </button>
                                        <div class="btn-group" role="group">
                                            <button id="btnSmallOtherValue" type="button" class="btn btn-outline-light btn-other dropdown-toggle" ng-class="{active: !vm.selectedOption.visible}"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{!vm.selectedOption.visible ? 'R$ ' + vm.selectedOption.value : 'Outro'}}
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnSmallOtherValue">
                                                <a class="dropdown-item" href="#" ng-repeat="option in vm.plans | orderBy: 'value' | filter: {visible: false, admin: false}"
                                                    ng-class="{active: vm.donation.ValueInCents === 100*option.value}" ng-click="vm.selectValue(option)" ng-if="vm.donation.Frequency === 'monthly'">
                                                    R$ {{option.value}}
                                                </a>
                                                <input type="text dropdown-item" ng-model="vm.customValue" class="form-control pl-2" ng-if="vm.donation.Frequency === 'once'"
                                                        required ui-money-mask>
                                                <i class="fa fa-check-square text-info pull-right c-pointer" ng-click="vm.setCustomValue(vm.customValue)"
                                                    uib-tooltip="Ok" tooltip-placement="bottom" ng-if="vm.donation.Frequency === 'once'"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- For medium, large and extra large devices -->
                            <div class="btn-group value-buttons d-none d-md-flex" role="group" aria-label="Donation values">
                                <button type="button" ng-repeat="option in vm.plans | orderBy: 'value' | filter: {visible: true}" ng-if="$index < 5"
                                        class="btn btn-outline-light d-block" ng-class="{'d-md-none': $index === 3, active: vm.donation.ValueInCents === 100*option.value}" ng-click="vm.selectValue(option)">
                                    R$ {{option.value}}
                                </button>
                                <div class="btn-group" role="group">
                                    <button id="btnOtherValue" type="button" class="btn btn-outline-light btn-other dropdown-toggle" ng-class="{active: !vm.selectedOption.visible}"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{!vm.selectedOption.visible ? 'R$ ' + vm.selectedOption.value : 'Outro'}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnOtherValue">
                                        <a class="dropdown-item" href="#" ng-repeat="option in vm.plans | orderBy: 'value' | filter: {visible: false, admin: false}"
                                            ng-class="{active: vm.donation.ValueInCents === 100*option.value}" ng-click="vm.selectValue(option)" ng-if="vm.donation.Frequency === 'monthly'">
                                            R$ {{option.value}}
                                        </a>
                                        <input type="text dropdown-item" ng-model="vm.customValue" class="form-control pl-2" ng-if="vm.donation.Frequency === 'once'"
                                                required ui-money-mask>
                                        <i class="fa fa-check-square text-info pull-right c-pointer" ng-click="vm.setCustomValue(vm.customValue)"
                                            uib-tooltip="Ok" tooltip-placement="bottom" ng-if="vm.donation.Frequency === 'once'"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-danger mt-4">
                    <i class="fa fa-money"></i> 
                    Pagar
                </button>

            </form>
        </div>
    </div>

    <!-- Payment with transfer -->
    <div class="py-5 donateContainter" ng-if="vm.selectedMethod === 'transfer'">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-auto py-4">
                    <h3>Feita a transação, envie-nos o comprovante:</h3>
                </div>
            </div>

            <form class="form" name="form" ng-submit="vm.submitDonation(form)" novalidate="">
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto">
                        <img src="../../assets/images/bank-transfer.png">
                    </div>
                    <div class="col-auto">
                        <div class="card text-center transfer-data m-auto">
                            <div class="card-body">
                                <h5 class="card-title">Dados Bancários</h5>
                                <p class="card-text">
                                    Nome <span class="bank-data">ASSOC EX AL INST MILIT ENG</span>
                                    <br>
                                    Banco <span class="bank-data">Itaú</span>
                                    <br>
                                    Agência <span class="bank-data">0413</span>
                                    <br>
                                    Conta corrente <span class="bank-data">03888-6</span>
                                    <br>
                                    CNPJ <span class="bank-data">19.335.957/0001-17</span>
                                    <br>
                                    Chave PIX: <span class="bank-data">19335957000117</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto pl-5">
                        <div class="form-group drop-images" ngf-drop="vm.updateImages(vm.uploadImages)"
                            ng-change="vm.updateImages(vm.uploadImages)"
                            ng-model="vm.uploadImages"
                            ngf-select-disabled="true" ngf-resize="{quality: vm.imageQuality}" ngf-keep="true"
                            ngf-drag-over-class="'drag-over'" ngf-multiple="false" ngf-allow-dir="true"
                            accept="image/*,application/pdf" ngf-pattern="'image/*,application/pdf'" ngf-max-files="vm.maxImages"
                            ngf-max-size="vm.maxSize">
        
                            <div class="card-deck upload-images">
                                <div class="col-12 col-sm-6 col-lg-4 pl-0 pr-0" ng-repeat="file in vm.uploadImages">
                                    <div class="card mb-3">
                                    <img ng-if="file && file.type !== 'application/pdf'" ngf-thumbnail="file"/>
                                    <span ng-if="file.type === 'application/pdf'" class="text-center w-100">
                                        {{file.name}}
                                        <i class="fa fa-file-pdf-o"></i>
                                    </span>
                                    <i ng-if="file.size" class="fa fa-close close-button" ng-click="vm.removeImage(file)"
                                        uib-tooltip="Remover comprovante" tooltip-placement="left"></i>
                                    </div>
                                </div>
        
                                <div class="col-12 col-sm-6 col-lg-4 pl-0 pr-0">
                                    <div class="card card-plus d-flex align-items-center justify-content-center mb-3"
                                        ng-if="vm.uploadImages.length < vm.maxImages" ngf-resize="{quality: vm.imageQuality}"
                                        ng-click="vm.updateImages(null)" ngf-select ng-change="vm.updateImages(vm.uploadImages)"
                                        ng-model="vm.uploadImages" ngf-keep="true"
                                        ngf-multiple="false" ngf-allow-dir="true" accept="image/*,application/pdf"
                                        ngf-pattern="'image/*,application/pdf'" ngf-max-files="vm.maxImages" ngf-max-size="vm.maxSize">
                                    <div class="row">
                                        <div class="col-auto">
                                            <img src="assets/images/images.svg" alt="Upload Images" class="icon-images">
                                        </div>
                                        <div class="col">
                                            <p class="upload-text">
                                                <a class="btn btn-link text-light upload-link p-0" href="#">
                                                Faça upload
                                                </a> do comprovante de transferência bancária.
                                            </p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
        
                            <p class="help-block" ng-show="form.files.$error.maxSize">
                                O arquivo inserido ultrapassa o tamanho máximo. Tente novamente.
                            </p>
        
                            <p class="help-block" ng-show="vm.uploadImages.length === 0 && vm.submitted">
                                Insira o comprovante de transferência.
                            </p>
        
                        </div>
        
                        <div class="col-sm-auto col-md-6 mt-2 px-0 text-center" style="min-width: 220px;">
                            <h3 class="pl-0">Valor depositado</h3>
                            <div class="form-group pt-2">
                                <input type="text" id="ValueInCents" name="ValueInCents" class="form-control w-100" required
                                        ng-model="vm.donation.ValueInCents" ui-money-mask>
                                <p class="help-block"
                                    ng-if="(form.ValueInCents.$error.required || vm.donation.ValueInCents === 0) && vm.submitted">
                                    Insira o valor da contribuição.
                                </p>
                            </div>
                        </div>
        
                    </div>
                </div>
                <button type="submit" class="btn btn-danger mt-5">
                    <i class="fa fa-file-text"></i> 
                    Enviar comprovante
                </button>
            </form>
            

        </div>
    </div>


    <div class="statementsContainer pt-5 pb-3">
        <div class="container">
            <h2 class="m-0">Depoimentos</h2>
        </div>
    </div>

    <div id="carouselAlumni3" class="carousel slide statementsContainer"  data-interval="false">
         <!-- data-ride="carousel"> -->
        <ol class="carousel-indicators">
            <li data-target="#carouselAlumni3" data-slide-to="0" class="active"></li>
            <li data-target="#carouselAlumni3" data-slide-to="1"></li>
            <li data-target="#carouselAlumni3" data-slide-to="2"></li>
            <li data-target="#carouselAlumni3" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item img-background active">
                <div class="carousel-caption">
                    <img src="assets/images/jose_formigli.jpg">
                    <h5>
                        Contribuir para que o IME continue sendo esta referência como instituição de ensino patrocinando projetos de ensino que mobilizem os alunos para adquirir conhecimentos de ponta, tanto na área técnica como de empreendedorismo, é uma forma dos ex-alunos retribuírem o que receberam e que foi fundamental para suas carreiras profissionais. A Alumni IME é o veículo para viabilizar tal movimento, além de promover oportunidades de networking entre alunos e graduados para troca de experiências e de mentoria. Parabéns para a Alumni IME para os marcos alcançados nos últimos anos e que venha muito mais sucesso pela frente com a mobilização ainda maior dos associados.
                    </h5>
                    <h4 class="mt-4 text-left">
                        Apoiador José Formigli
                    </h4>
                </div>
            </div>
            <div class="carousel-item img-background">
                <div class="carousel-caption">
                    <img src="assets/images/camila_farias.jpg">
                    <h5>
                        Realizar o nosso projeto com a Alumni trouxe inúmeras vantagens. A principal delas, poder trabalhar com estudantes extremamente inteligentes, motivados e comprometidos. Além disso, encontramos muito apoio dentro da comunidade Alumni, tanto nos ajudando a divulgar e a viabilizar o projeto, quanto possibilitando parcerias que potencializaram a nossa proposta.
                    </h5>
                    <h4 class="mt-4 text-left">
                        Ex-aluna Camila Farias
                    </h4>
                </div>
            </div>
            <div class="carousel-item img-background">
                <div class="carousel-caption">
                    <img src="assets/images/maj_nina_figueira.jpg">
                    <h5>
                        Enquanto Engenheira Militar do Exército Brasileiro, Pesquisadora e Instrutora de novas lideranças, me surpreendo e me inspiro com o trabalho realizado pela Alumni IME. Nobre missão é o apoio prestado a nossa estimada escola e a toda comunidade IMEana! Sigam motivando o desenvolvimento de soluções inovadoras, em prol do nosso EB e de toda a sociedade brasileira. Arrisquem-se a velejar longe do porto mais seguro, peguem os melhores ventos, explorem, sonhem, descubram...enfim, façam a maior e mais significativa diferença!
                    </h5>
                    <h4 class="mt-4 text-left">
                        Major Nina Figueira
                    </h4>
                </div>
            </div>
            <div class="carousel-item img-background">
                <div class="carousel-caption">
                    <img src="assets/images/prof_aderson.jpg">
                    <h5>
                        Estou acompanhando e participando de atividades da Alumni IME desde 2015. Como professor do IME fico muito feliz em poder contar com o seu apoio e de todos os ex-alunos. A Associação ajuda professores e alunos do IME e contribui para fortalecermos um senso de comunidade muito valioso, que valoriza a nossa cultura comum e nos integra. Vida longa à Alumni IME!
                    </h5>
                    <h4 class="mt-4 text-left">
                        Professor Aderson Passos
                    </h4>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselAlumni3" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselAlumni3" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>

    <!-- <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 p-0">
                    <div class="embed-responsive embed-responsive-4by3">
                        <ng-youtube-embed class="d-none d-lg-block d-xl-none" video="'le5xaAfub4Q'" modestbranding="true"
                            width="100%" disablekb="true" rel="false" ivloadpolicy="false" height="300px">
                        </ng-youtube-embed>
                        <ng-youtube-embed class="d-block d-lg-none d-xl-block" video="'le5xaAfub4Q'" modestbranding="true"
                            width="100%" disablekb="true" rel="false" ivloadpolicy="false">
                        </ng-youtube-embed>
                    </div>
                </div>
                <div class="p-4 p-sm-5 col-lg-7 d-flex flex-column justify-content-center">
                    <h2 class="mb-3">Mobilizamos</h2>
                    <p class="lead mb-0 text-justify">
                        Desde 2018, conseguimos mobilizar a comunidade de ex-alunos a apoiarem mais de 30 projetos de alunos e professores. Ajudamos a na melhoria do ensino e no engrandecimento no nome do IME mundo afora. Queremos aumentar ainda mais nossa atuação e intensificar as atividades da Associação. Para isso, contamos a sua participação!
                    </p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="faq-container">
        <div class="container">

            <div class="row justify-content-center p-0">
                <h2 class="faq-header">Perguntas Frequentes</h2>
            </div>


            <div class="row justify-content-center p-0">
                <div id="statusForm" class="card" style="width: 100%;">
                    <a href="#" class="text-dark  collapse-icon pull-right" ng-click="vm.collapseStatus[0] = !vm.collapseStatus[0]" style = "background-color: #f0f0f0;">
                        <h5 class="card-header">
                            As doações para a Alumni IME são dedutíveis do imposto de renda?
                            <!-- <span class="pull-right collapse-icon"> -->
                            <i class="fa fa-angle-down pull-right" ng-hide="!vm.collapseStatus[0]"></i> 
                            <i class="fa fa-angle-up pull-right" ng-hide="vm.collapseStatus[0]"></i> 
                            <!-- </span> -->
                        </h5>
                    </a>
                    <div class="card-body pb-4" ng-hide="vm.collapseStatus[0]">
                        As doações poderão ser declaradas no IR como doação a instituição sem fins lucrativos, mas não terão abatimento.
                    </div>
                </div>        
            </div>
            
            <!--
                <div class="row justify-content-center p-0">
                    <div id="statusForm" class="card" style="width: 100%;">
                        <a href="#" class="text-dark  collapse-icon pull-right" ng-click="vm.collapseStatus[1] = !vm.collapseStatus[1]" style = "background-color: #f0f0f0;">
                            <h5 class="card-header">
                                Posso cancelar uma doação?
                                <i class="fa fa-angle-down pull-right" ng-hide="!vm.collapseStatus[1]"></i> 
                                <i class="fa fa-angle-up pull-right" ng-hide="vm.collapseStatus[1]"></i>
                            </h5>
                        </a>
                        <div class="card-body pb-4" ng-hide="vm.collapseStatus[1]">
                            As doações feitas para a Alumni IME em caráter de apoio a “projetos do IME” ou “Geral” são
                            passíveis de cancelamento em um prazo de até 7 (sete) dias úteis após aprovadas pelo cartão
                            de crédito ou compensação do boleto bancário. O cancelamento deve ser feito mediante envio
                            de solicitação formal para o e-mail contato@alumniime.com.br. 
                        </div> 
                    </div>        
                </div>
                <div class="row justify-content-center p-0">
                    <div id="statusForm" class="card" style="width: 100%;">
                        <a href="#" class="text-dark  collapse-icon pull-right" ng-click="vm.collapseStatus[2] = !vm.collapseStatus[2]" style = "background-color: #f0f0f0;">
                            <h5 class="card-header">
                                Como cancelo meu plano de doação recorrente?
                                <i class="fa fa-angle-down pull-right" ng-hide="!vm.collapseStatus[2]"></i> 
                                <i class="fa fa-angle-up pull-right" ng-hide="vm.collapseStatus[2]"></i>
                            </h5>
                        </a>
                        <div class="card-body pb-4" ng-hide="vm.collapseStatus[2]"> 
                            Para cancelar a mensalidade, você deve gerenciar a sua conta e cancelar a assinatura através
                            do nosso portal de pagamentos “pagar.me”. Para acessá-lo, entre na página “Meu Perfil” no
                            site da Alumni IME e escolha a opção “Gerenciar minha conta”, em projetos apoiados.
                        </div> 
                    </div>
                </div>
            -->

            <div class="row justify-content-center p-0">
                <div id="statusForm" class="card" style="width: 100%;">
                    <a href="#" class="text-dark  collapse-icon pull-right" ng-click="vm.collapseStatus[3] = !vm.collapseStatus[3]" style = "background-color: #f0f0f0;">
                        <h5 class="card-header">
                            A Alumni IME fornece recibo das doações?
                            <!-- <span class="pull-right collapse-icon"> -->
                            <i class="fa fa-angle-down pull-right" ng-hide="!vm.collapseStatus[3]"></i> 
                            <i class="fa fa-angle-up pull-right" ng-hide="vm.collapseStatus[3]"></i> 
                            <!-- </span> -->
                        </h5>
                    </a>
                    <div class="card-body pb-4" ng-hide="vm.collapseStatus[3]"> 
                        Os usuários que realizarem a contribuição pelo site da Alumni IME receberão automaticamente, 
                        para o endereço de e-mail cadastrado, uma mensagem de agradecimento com o recibo. As doações 
                        feitas diretamente à conta da Alumni IME via transferência bancária devem ser informadas à nossa 
                        equipe pelo wapp (21) 92002-3595 ou pelo e-mail <a href="mailto:contato@alumniime.com.br">contato@alumniime.com.br</a> e assim que confirmada a 
                        doação o recibo será enviado.
                    </div> 
                </div>
            </div>

            <div class="row justify-content-center p-0">
                <div id="statusForm" class="card" style="width: 100%;">
                    <a href="#" class="text-dark  collapse-icon pull-right" ng-click="vm.collapseStatus[4] = !vm.collapseStatus[4]" style = "background-color: #f0f0f0;">
                        <h5 class="card-header">
                            Quais formas de pagamento são aceitas?
                            <!-- <span class="pull-right collapse-icon"> -->
                            <i class="fa fa-angle-down pull-right" ng-hide="!vm.collapseStatus[4]"></i> 
                            <i class="fa fa-angle-up pull-right" ng-hide="vm.collapseStatus[4]"></i> 
                            <!-- </span> -->
                        </h5>
                    </a>
                    <div class="card-body pb-4" ng-hide="vm.collapseStatus[4]"> 
                        As doações podem ser feitas pelo site da Alumni IME através de boleto bancário ou cartão de crédito. 
                        Os planos de doação recorrente são feitos por cartão de crédito. As contribuições também podem ser feitas diretamente 
                        por transferência bancária para a  conta corrente da Alumni IME (dados da conta disponíveis em <a href="https://www.alumniime.com.br/apoie/transferencia">"Transferência"</a>). 
                        Para finalizar sua contribuição, é fundamental que você envie o comprovante da transação efetuada.
                    </div> 
                </div>
            </div>

            <div class="row justify-content-center p-0">
                <div id="statusForm" class="card" style="width: 100%;">
                    <a href="#" class="text-dark  collapse-icon pull-right" ng-click="vm.collapseStatus[5] = !vm.collapseStatus[5]" style = "background-color: #f0f0f0;">
                        <h5 class="card-header">
                            Como faço para mudar o valor do meu plano de doação recorrente?
                            <!-- <span class="pull-right collapse-icon"> -->
                            <i class="fa fa-angle-down pull-right" ng-hide="!vm.collapseStatus[5]"></i> 
                            <i class="fa fa-angle-up pull-right" ng-hide="vm.collapseStatus[5]"></i> 
                            <!-- </span> -->
                        </h5>
                    </a>
                    <div class="card-body pb-4" ng-hide="vm.collapseStatus[5]"> 
                        Solicite a mudança de valor do seu plano no formulário disponível na página <a href="https://www.alumniime.com.br/contact ">Fale Conosco</a> 
                        ou pelo seu <a href="https://www.alumniime.com.br/profile">Perfil de Usuário</a> no item “Gerenciar minhas doações”.
                    </div> 
                </div>
            </div>
    
            <div class="row justify-content-center p-0">
                <div id="statusForm" class="card" style="width: 100%;">
                    <a href="#" class="text-dark  collapse-icon pull-right" ng-click="vm.collapseStatus[6] = !vm.collapseStatus[6]" style = "background-color: #f0f0f0;">
                        <h5 class="card-header">
                            Como faço para atualizar os dados do meu cartão?
                            <!-- <span class="pull-right collapse-icon"> -->
                            <i class="fa fa-angle-down pull-right" ng-hide="!vm.collapseStatus[6]"></i> 
                            <i class="fa fa-angle-up pull-right" ng-hide="vm.collapseStatus[6]"></i> 
                            <!-- </span> -->
                        </h5>
                    </a>
                    <div class="card-body pb-4" ng-hide="vm.collapseStatus[6]"> 
                        Solicite a atualização dos dados do seu cartão de crédito no formulário disponível na página <a href="https://www.alumniime.com.br/contact ">Fale Conosco</a> 
                        ou pelo seu <a href="https://www.alumniime.com.br/profile">Perfil de Usuário</a> no item “Gerenciar doações”.
                    </div> 
                </div>
            </div>


            <div class="row justify-content-center p-0">
                <div id="statusForm" class="card" style="width: 100%;">
                    <a href="#" class="text-dark  collapse-icon pull-right" ng-click="vm.collapseStatus[7] = !vm.collapseStatus[7]" style = "background-color: #f0f0f0;">
                        <h5 class="card-header">
                            Solicitei o pagamento de uma doação por boleto. O que faço se o boleto venceu?
                            <!-- <span class="pull-right collapse-icon"> -->
                            <i class="fa fa-angle-down pull-right" ng-hide="!vm.collapseStatus[7]"></i> 
                            <i class="fa fa-angle-up pull-right" ng-hide="vm.collapseStatus[7]"></i> 
                            <!-- </span> -->
                        </h5>
                    </a>
                    <div class="card-body pb-4" ng-hide="vm.collapseStatus[7]"> 
                        Nesse caso, a solicitação que foi feita expirou. Para finalizar a doação, você deve realizar 
                        uma nova doação pelo site e gerar outro boleto.
                    </div> 
                </div>
            </div>
    
            <div class="row justify-content-center p-0">
                <div id="statusForm" class="card" style="width: 100%;">
                    <a href="#" class="text-dark  collapse-icon pull-right" ng-click="vm.collapseStatus[8] = !vm.collapseStatus[8]" style = "background-color: #f0f0f0;">
                        <h5 class="card-header">
                            Como funciona a doação recorrente para projetos de um edital?
                            <!-- <span class="pull-right collapse-icon"> -->
                            <i class="fa fa-angle-down pull-right" ng-hide="!vm.collapseStatus[8]"></i> 
                            <i class="fa fa-angle-up pull-right" ng-hide="vm.collapseStatus[8]"></i> 
                            <!-- </span> -->
                        </h5>
                    </a>
                    <div class="card-body pb-4" ng-hide="vm.collapseStatus[8]"> 
                        As doações recorrentes feitas para um projeto específico serão destinadas a ele até o final do Edital de Projetos em vigor. Após o encerramento do projeto, a doação será destinada para apoiar os custos das demais atividades e infraestrutura da Alumni IME, como ações de marketing digital, produção de vídeos, manutenção da nossa plataforma, geração de conteúdo em redes sociais, promoção e realização de eventos, folha de pagamento de pessoal e prestadores de serviços.
                    </div> 
                </div>
            </div>
    
            <div class="row justify-content-center p-0">
                <div id="statusForm" class="card" style="width: 100%;">
                    <a href="#" class="text-dark  collapse-icon pull-right" ng-click="vm.collapseStatus[9] = !vm.collapseStatus[9]" style = "background-color: #f0f0f0;">
                        <h5 class="card-header">
                            Como vejo onde o dinheiro está sendo aplicado? E onde os recursos são aplicados em
                            caso de doação &quot;infraestrutura/gestão&quot;?
                            <!-- <span class="pull-right collapse-icon"> -->
                            <i class="fa fa-angle-down pull-right" ng-hide="!vm.collapseStatus[9]"></i> 
                            <i class="fa fa-angle-up pull-right" ng-hide="vm.collapseStatus[9]"></i> 
                            <!-- </span> -->
                        </h5>
                    </a> 
                    <div class="card-body pb-4" ng-hide="vm.collapseStatus[9]"> 
                        As doações direcionadas para “infraestrutura/gestão” são destinadas ao pagamento das despesas administrativas, 
                        remuneração da equipe, prestadores de serviço (assessoria contábil e jurídica, agência de marketing), taxas legais 
                        da associação e também no apoio aos projetos que conseguiram arrecadar, pelo menos, 50% do valor arrecadado. Estas 
                        contribuições apoiam os custos das demais atividades da Alumni IME, como manutenção da nossa plataforma, geração de 
                        conteúdo nas redes sociais, promoção e realização de eventos online e presenciais, parcerias para oferta de vagas de 
                        trabalho dentre outros. Todo o detalhamento dos recursos investidos está disponível nos balanços e relatórios financeiros 
                        em <a href="https://www.alumniime.com.br/transparency">"Transparência"</a>.
                    </div> 
                </div>
            </div>
        
            <!-- <div class="row justify-content-center p-0">
                <div id="statusForm" class="card" style="width: 100%;">
                    <a href="#" class="text-dark  collapse-icon pull-right" ng-click="vm.collapseStatus[10] = !vm.collapseStatus[10]" style = "background-color: #f0f0f0;">
                        <h5 class="card-header">
                            Como funciona o sistema de recompensas?
                            <i class="fa fa-angle-down pull-right" ng-hide="!vm.collapseStatus[10]"></i> 
                            <i class="fa fa-angle-up pull-right" ng-hide="vm.collapseStatus[10]"></i> 
                            
                        </h5>
                    </a>
                    <div class="card-body pb-4" ng-hide="vm.collapseStatus[10]"> 
                            Após a contribuição, o líder de cada projeto entrará em contato diretamente com os doadores.
                            A data e o envio serão combinados de acordo com cada projeto e o tipo de doação (única ou
                            recorrente).
                    </div> 
                </div>
            </div> -->

            </div>     
        </div>
        </div>
    </div>
</div>