<div class="donateView">
    <div class="py-5 donateContainter">
        <div class="container">
            <div class="row">
                <div class="px-4 col-12 col-lg-6 dual-column">
                    <h2 class="mb-3">Sua ajuda pode fazer muita diferença</h2>
                    <p class="description-text">
                        Apoiando a Alumni IME, você colabora para o fortalecimento do IME, além de fortalecer a própria 
                        comunidade IMEana ao possibilitar que as atividades da Associação sejam desenvolvidas e que sejam 
                        apoiados projetos de professores e alunos da graduação do IME.
                    </p>
                    <p class="description-text">
                        Contribuir é uma forma de gratidão ao IME e tudo o que o Instituto lhe proporcionou, além de
                        financiar as atividades de sua Associação! Fique à vontade para destinar o valor que lhe for
                        conveniente.
                    </p>
                </div>
                <div class="col-12 col-lg-6 dual-column">
                    <form class="form" name="form" ng-submit="vm.submitFunding(form)" novalidate="">

                        <div class="pb-3">
                            <h3 class="mt-0 mt-lg-3 mb-3">Escolha o tipo de contribuição</h3>
                            
                            <!-- For extra small and small devices -->
                            <div class="btn-group w-100 d-block d-md-none" role="group" aria-label="Donation type">
                                <div class="row m-0 p-0">
                                    <div class="col-12 p-0 btn-group">
                                <button type="button" class="btn btn-outline-secondary" ng-class="{active: vm.donation.Type === 'general'}"
                                        ng-click="vm.donation.Type = 'general'; vm.donation.ProjectId = null; vm.ProjectName = ''">
                                    Geral
                                </button>
                                <button type="button" class="btn btn-outline-secondary" ng-class="{active: vm.donation.Type === 'project'}"
                                        ng-click="vm.donation.Type = 'project'">
                                    Para um Projeto
                                </button>
                                    </div>
                                    <div class="col-12 p-0 btn-group border-top-none">
                                <div class="btn-group" role="group" ng-if="vm.donation.Type === 'project'">
                                    <button id="btnSelectProject" type="button" class="btn btn-outline-secondary btn-other truncate dropdown-toggle" 
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-class="{active: vm.ProjectName}">
                                        {{ vm.ProjectName || 'Selecione um projeto' }}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnSelectProject">
                                        <a class="dropdown-item" href="#" ng-repeat="project in vm.Project.list | orderBy: 'ProjectName' | filter: {Year: vm.currentYear, Semester: vm.currentSemester}" 
                                           ng-class="{active: vm.donation.ProjectId === project.ProjectId}" ng-click="vm.donation.ProjectId = project.ProjectId; vm.ProjectName = project.ProjectName">
                                            {{project.ProjectName}}
                                        </a>
                                    </div>
                                </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- For medium, large and extra large devices -->
                            <div class="btn-group w-100 d-none d-md-flex" role="group" aria-label="Donation type">
                                <button type="button" class="btn btn-outline-secondary" ng-class="{active: vm.donation.Type === 'general'}"
                                        ng-click="vm.donation.Type = 'general'; vm.donation.ProjectId = null; vm.ProjectName = ''">
                                    Geral
                                </button>
                                <button type="button" class="btn btn-outline-secondary" ng-class="{active: vm.donation.Type === 'project'}"
                                        ng-click="vm.donation.Type = 'project'">
                                    Para um Projeto
                                </button>
                                <div class="btn-group" role="group" ng-if="vm.donation.Type === 'project'">
                                    <button id="btnSelectProject" type="button" class="btn btn-outline-secondary btn-other truncate dropdown-toggle" 
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-class="{active: vm.ProjectName}">
                                        {{ vm.ProjectName || 'Selecione um projeto' }}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnSelectProject">
                                        <a class="dropdown-item" href="#" ng-repeat="project in vm.Project.list | orderBy: 'ProjectName' | filter: {Year: vm.currentYear, Semester: vm.currentSemester}" 
                                           ng-class="{active: vm.donation.ProjectId === project.ProjectId}" ng-click="vm.donation.ProjectId = project.ProjectId; vm.ProjectName = project.ProjectName">
                                            {{project.ProjectName}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <p class="help-block"
                                ng-if="vm.donation.Type === 'project' && (vm.donation.ProjectId === null || vm.donation.ProjectId === '') && vm.submitted">
                                Escolha um projeto para apoiar.
                            </p>                                
                        </div>

                        <div class="pb-3">
                            <h3 class="mb-3">Escolha o aporte</h3>
                            <div class="btn-group w-100 d-none d-md-flex" role="group" aria-label="Donation frequency">
                                <button type="button" class="btn btn-outline-secondary" ng-class="{active: vm.donation.Frequency === 'monthly'}"
                                        ng-click="vm.donation.Frequency = 'monthly'">
                                        Mensal
                                </button>
                                <button type="button" class="btn btn-outline-secondary" ng-class="{active: vm.donation.Frequency === 'once'}"
                                        ng-click="vm.donation.Frequency = 'once'">
                                        Única Vez
                                </button>
                            </div>
                        </div>

                        <!-- <div class="pb-2" ng-if="vm.donation.Frequency === 'monthly'"> -->
                        <div class="pb-2">
                            <h3 class="mb-3">Selecione o valor</h3>

                            <!-- For extra small and small devices -->
                            <div class="btn-group value-buttons d-block d-md-none" role="group" aria-label="Donation values">
                                <div class="row m-0 p-0">
                                    <div class="col-12 p-0 btn-group">
                                        <button type="button" ng-repeat="option in vm.plans | orderBy: 'value' | filter: {visible: true, frequency: vm.donation.Frequency}" ng-if="$index < 3"
                                                class="btn btn-outline-secondary" ng-class="{active: vm.donation.ValueInCents === 100*option.value}" ng-click="vm.selectValue(option)">
                                            R$ {{option.value}}
                                        </button>
                                    </div>
                                    <div class="col-12 p-0 btn-group border-top-none">
                                        <button type="button" ng-repeat="option in vm.plans | orderBy: 'value' | filter: {visible: true, frequency: vm.donation.Frequency}" ng-if="$index >= 3 && $index < 5"
                                                class="btn btn-outline-secondary" ng-class="{active: vm.donation.ValueInCents === 100*option.value}" ng-click="vm.selectValue(option)">
                                            R$ {{option.value}}
                                        </button>
                                        <div class="btn-group" role="group">
                                            <button id="btnSmallOtherValue" type="button" class="btn btn-outline-secondary btn-other dropdown-toggle" ng-class="{active: !vm.selectedOption.visible}"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{!vm.selectedOption.visible ? 'R$ ' + vm.selectedOption.value : 'Outro'}}
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnSmallOtherValue">
                                                <a class="dropdown-item" href="#" ng-repeat="option in vm.plans | orderBy: 'value' | filter: {visible: false}"
                                                   ng-class="{active: vm.donation.ValueInCents === 100*option.value}" ng-click="vm.selectValue(option)">
                                                    R$ {{option.value}}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- For medium, large and extra large devices -->
                            <div class="btn-group value-buttons d-none d-md-flex" role="group" aria-label="Donation values">
                                <button type="button" ng-repeat="option in vm.plans | orderBy: 'value' | filter: {visible: true, frequency: vm.donation.Frequency}" ng-if="$index < 5"
                                        class="btn btn-outline-secondary d-block d-xl-block" ng-class="{'d-lg-none': $index === 4, active: vm.donation.ValueInCents === 100*option.value}" ng-click="vm.selectValue(option)">
                                    R$ {{option.value}}
                                </button>
                                <div class="btn-group" role="group">
                                    <button id="btnOtherValue" type="button" class="btn btn-outline-secondary btn-other dropdown-toggle" ng-class="{active: !vm.selectedOption.visible}"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{!vm.selectedOption.visible ? 'R$ ' + vm.selectedOption.value : 'Outro'}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnOtherValue">
                                        <a class="dropdown-item" href="#" ng-repeat="option in vm.plans | orderBy: 'value' | filter: {visible: false}"
                                           ng-class="{active: vm.donation.ValueInCents === 100*option.value}" ng-click="vm.selectValue(option)">
                                            R$ {{option.value}}
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- <div ng-if="vm.donation.Frequency === 'once'" class="pb-4">
                            <div class="form-group">
                                <h3 class="mb-3">Valor (em R$)</h3>
                                <input type="text" ng-model="vm.funding.customValue" class="form-control" money-mask>
                            </div>
                        </div> -->

                        <button type="submit" class="btn mt-4 btn-block btn-info p-2"><b>Ir para o pagamento</b></button>
                        <a class="btn btn-link text-light mt-3 float-right" ui-sref="donate">
                            <i class="fa fa-caret-right"></i>
                            Clique aqui para contribuir por transferência bancária
                        </a>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 p-0">
                    <div class="embed-responsive embed-responsive-4by3">
                        <ng-youtube-embed class="d-none d-lg-block d-xl-none" video="'XdkFwnJtgSc'" modestbranding="true"
                            width="100%" disablekb="true" rel="false" ivloadpolicy="false" height="300px">
                        </ng-youtube-embed>
                        <ng-youtube-embed class="d-block d-lg-none d-xl-block" video="'XdkFwnJtgSc'" modestbranding="true"
                            width="100%" disablekb="true" rel="false" ivloadpolicy="false">
                        </ng-youtube-embed>
                    </div>
                </div>
                <div class="p-4 p-sm-5 col-lg-7 d-flex flex-column justify-content-center">
                    <h2 class="mb-3">Mobilizamos</h2>
                    <p class="lead mb-0 text-justify">
                        Em 2018, conseguimos mobilizar a comunidade de ex-alunos a apoiarem 17 projetos,
                        totalizando mais de 200 mil reais investidos na melhoria do ensino e no engrandecimento no nome do
                        IME mundo afora. Em 2019, queremos dobrar nossa atuação e intensificar as atividades da Associação.
                        Para isso, contamos a sua participação!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>