.donateView {
    width: 100%;

    .donateContainter {
        background-color: #293473 !important;
        color: #F2F2F2;
    }
    
    .dual-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 10px;
        form, p {
            width: 100%;
        }
    }

    h2 {
        font-size: 44px;
        line-height: 60px;
        text-align: center;
    }

    h3 {
        font-size: 25px;
        font-weight: 300;
    }

    .description-text {
        font-size: 17px;
        font-weight: 300;
        text-align: justify;
    }

    .help-block {
        margin-top: 10px;
        margin-bottom: 0;
        color: #EFD470;
    }

    .custom-select {
        border: none;
        color: #F2F2F2;
    }

    .donation-value {
        padding-right: 22px;
        padding-left: 22px;
    }

    .dropdown-item:active {
        background-color: #6c757d;
    }
    
    .value-buttons {
        width: 100%;

        button, .btn-group {
            min-width: 33.3333%;
        }
        @include media-breakpoint-up(md) {
            button, .btn-group {
                min-width: 16.6666%;
            }
        }
        @include media-breakpoint-only(lg) {
            button, .btn-group {
                min-width: 20%;
            }
        }
    }

    .btn-other {
        min-width: auto !important;
        width: 100%;
        padding-left: 5px;
    }
    .btn-other.truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include media-breakpoint-only(md) {
            max-width: 460px;
        }
        @include media-breakpoint-only(lg) {
            max-width: 222px;
        }
        @include media-breakpoint-only(xl) {
            max-width: 310px;
        }
    }

    .btn-group.w-100 .btn-group {
        max-width: 100%;
    }

    .btn-group .dropdown-menu i {
        position: absolute;
        right: 8px;
        top: 13px;
        font-size: 30px;
    }

    .border-top-none {
        margin-left: 0px !important;
    }

    .border-top-none .btn {
        border-top: none;
        margin-top: -1px;
    }

    .btn-link {
        white-space: normal;
    }

    .card-header{
        font-size: 16px;
    }
    
    .faq-container{
        margin-top: 20px;
        padding-bottom: 3rem !important;
    }

    .faq-header{
        font-size: 40px;
        margin-bottom: 20px;
    }

    .carousel-inner {
        max-height: 500px;
      }
    
      .carousel-item, .carousel-item-left, .carousel-item-next {
        top: -250px !important;
      }
    
      .carousel-item.img-background {
        height: 500px;
        background: no-repeat center 36% fixed;
        background-size: cover;
        top: 0 !important;
      }
    
      .carousel-item.bg-shadow {
        background-blend-mode: overlay;
        background-color: rgba(0, 0, 0, 0.4);
      }
    
      @include media-breakpoint-up(xl) {
        .carousel-caption {
          margin-left: 5%;
        }
      }
    
      .carousel-caption {
        width: 50%;
        max-width: 500px;
        margin-bottom: 200px;
        /* margin-left: -5%;  */
      }
    
      .carousel-item.img-background .carousel-caption {
        margin-bottom: 50px;
      }
    
      @include media-breakpoint-only(md) {
        .carousel-caption h1 {
          font-size: 30px;
        }
        .carousel-caption h5 {
          font-size: 18px;
        }
      }
    
      @include media-breakpoint-down(sm) {
        .carousel-item.img-background {
          height: 400px;
        }
        .carousel-caption {
          margin-bottom: 100px;
          width: auto;
        }
        .carousel-item.img-background .carousel-caption {
          margin-bottom: 25px;
        }
        .carousel-caption h1 {
          font-size: 22px;
        }
        .carousel-caption h5 {
          font-size: 14px;
        }
      }
    
      .carousel-caption h1 {
        text-align: left;
        font-weight: 700;
        font-size: 36px;
      }
    
      .carousel-caption h5 {
        text-align: left;
        margin-top: 10px;
      }
    
      .carousel-caption .btn-outline-light {
        font-weight: 300;
        font-size: 14px;
        border-radius: 100px;
        margin-top: 30px;
        min-width: 120px;
        width: 30%;
      }
    
      .carousel-caption .btn-light {
        font-weight: 600;
        font-size: 16px;
        border-radius: 100px;
        margin-top: 30px;
        min-width: 240px;
        width: 30%;
      }
    
      .description-block {
        min-height: 168px;
        padding-bottom: 30px;
      }
    
      .description-block div {
        padding-left: 15px;
      }
    
      .description-block div .btn-outline-primary {
        color: #1a60ca;
        border-color: #1a60ca;
        border-radius: 15px;
        font-size: 22px;
        min-width: 220px;
      }
      
      .description-block div .btn-outline-primary:hover {
        color: #fff;
        background-color: #1a60ca;
        border-color: #1a60ca;
      }

      .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active {
        color: #fff;
        background-color: #1a60ca;
        border-color: #1a60ca;
      }

      .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus {
        box-shadow: 0 0 0 0.2rem rgba(26, 96, 202, 0.5);
      }

      .payment-type div .btn-outline-primary {
        min-width: auto;
        padding-right: 25px;
        padding-left: 25px; 
        font-size: 20px;
      }

      .donateContainter div .btn-outline-light {
        border-radius: 15px;
        min-width: auto;
        padding-right: 25px;
        padding-left: 25px; 
        font-size: 20px;
      }
      
      .donateContainter div.value-buttons .btn-outline-light {
        border-radius: 0;
        white-space: nowrap;
      }

      .donateContainter div.value-buttons .btn-outline-light:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
      
      .donateContainter div.value-buttons .btn-outline-light:last-child, .donateContainter div.value-buttons .btn-outline-light.dropdown-toggle {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      
      .description-titles {
        font-family: 'Merriweather Sans', sans-serif !important;
        padding: 40px 30px 30px;
        color: #000;
      }  
    
      .description-titles h2 {
        font-weight: 300;
      }  

      .pix-icon::before {
        content: url("../assets/images/icone-pix.png");
        box-sizing: border-box;
      }

}

.modal-open{
    padding-right: 0 !important;
}